{% extends 'base.html.twig' %}

{% block title %}Edit {{ type }} Global Values &#124; Proposal System{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {# To enable masked entries for input fields in table #}
    <script src="{{ asset('dist/scripts/jquery-maskmoney.js') }}"></script>
    <script defer>
        jQuery(function ($) {
            // $ format for fields
            $('.masked')
                    .maskMoney({
                        'prefix': '$',
                        'precision': 0,
                        'allowZero': true
                    })
                    .maskMoney('mask');
        });
    </script>
{% endblock %}

{% block body %}
    <h1>Global Values</h1>

    {{ form_start(form) }}
    <div class="panel panel-primary panel-wizard">
        <div class="panel-heading">
            <h2>{{ type }} Global Values</h2>
        </div>

        <div class="panel-body">
            <table class="table table-bordered table-budget">
                <thead>
                <tr>
                    <th id="global_cost_name">Item Name</th>
                    <th id="global_cost_default_value">Default Value</th>
                </tr>
                </thead>

                <tbody>
                {% for globalValue in form.globalValues %}
                    <tr>
                        <th class="lighter-blue-bg">{{ globalValue.name.vars.value }}</th>
                        <td headers="global_cost_default_value"
                            class="text-right">{{ form_widget(globalValue.defaultValue, { 'attr': {'class': 'form-control masked'} }) }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="panel-footer">
            <div class="row">
                <div class="col-md-offset-8 col-md-4 text-right">
                    {{ form_widget(form.submit, { 'attr': {'class': 'btn btn-success btn-lg'} }) }}
                </div>
            </div>

            {{ form_row(form._token) }}
        </div>
    </div>
    {{ form_end(form, {'render_rest': false}) }}

{% endblock %}