{% extends 'base.html.twig' %}

{% block title %}Global Values &#124; Proposal System{% endblock %}

{% block body %}
    <h1>Global Values</h1>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="pull-left">Fellow Global Values</h2>
            <a href="{{ path('proposal_global_value_fellow_edit') }}" class="btn btn-info pull-right">Update</a>
        </div>

        <div class="panel-body">
            <table class="table table-bordered">
                <tbody>
                {% set fellowGlobalValuesTotal = 0 %}

                {% for fellowGlobalValue in fellowGlobalValues %}
                    <tr>
                        <th>{{ fellowGlobalValue.name }}</th>
                        <td class="totals-cell text-right">{{ fellowGlobalValue.defaultValue|currency_format(0) }}</td>
                    </tr>

                    {% set fellowGlobalValuesTotal = fellowGlobalValuesTotal + fellowGlobalValue.defaultValue %}
                {% endfor %}

                <tr class="totals-row totals-cell">
                    <th class="text-right">Total</th>
                    <td class="text-right">{{ fellowGlobalValuesTotal|currency_format(0) }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="pull-left">Specialist Global Values</h2>
            <a href="{{ path('proposal_global_value_specialist_edit') }}" class="btn btn-info pull-right">Update</a>
        </div>

        <div class="panel-body">
            <table class="table table-bordered">
                <tbody>
                {% set fellowGlobalValuesTotal = 0 %}

                {% for specialistGlobalValue in specialistGlobalValues %}
                    <tr>
                        <th>{{ specialistGlobalValue.name }}</th>
                        <td class="totals-cell text-right">{{ specialistGlobalValue.defaultValue|currency_format(0) }}</td>
                    </tr>

                    {% set fellowGlobalValuesTotal = fellowGlobalValuesTotal + specialistGlobalValue.defaultValue %}
                {% endfor %}

                <tr class="totals-row totals-cell">
                    <th class="text-right">Total</th>
                    <td class="text-right">{{ fellowGlobalValuesTotal|currency_format(0) }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}