.dropdown .btn:hover + .dropdown-menu {
    display: block;
}

.dropdown-menu{
    margin-top: 0px !important;
    &:hover {
        display: block;
    }
    >li>a:hover, >li>a:focus, >li>a:active{
        background-color: #7B7B7B !important;
    }
}

.smart-style-3 .dropdown-menu {
    background-color: #fff !important;
}

// Share proposal feature

.btn-share {
    margin-top: 20px;
}

// Delete proposal

.confirm-delete-btns {
    margin-top: 20px;
    .btn {
        width: auto;
    }
    form {
        display: inline-block;
    }
}
