form > .filter {
    background: #f2f2f2;

    > div {
        border-bottom: solid 1px #ccc;
        padding: 20px 0 20px 20px;

        > div {
            width: 100%;

            > input {
                width: 15px;
                margin-right: 5px;
            }

            > label {
                width: calc(100% - 20px);
                font-weight: normal;
                font-size: 0.9em;
            }
        }
    }
}

.filter-year > div {
    float: right;

    > * {
        float: left;
    }

    > label {
        width: auto;
        margin-right: 20px;
    }

    > select {
        width: auto;
    }
}
