.fieldset__subtitle {
	//@extend .form-label;
	font-weight: 600;
	margin-top: 20px;
}

input, select, textarea {
	width: 100%;
}

textarea {
	height: 100px;
}

input[type=checkbox], input[type=radio] {
	width: auto;
	display: inline-block;
}

.select-wrapper {
	position: relative;
	select {
		margin: 0;
		background-color: $white;
		border: 1px solid $medium-gray;
		outline: none;
		box-sizing: border-box;
		appearance: none;
		-webkit-appearance: none;
		color: $dark-gray;
		padding: 6px 30px 6px 12px;
		line-height: 1.3;
		border-radius: 2px;
		vertical-align: middle;
		font-size: 16px;
		&.btn-xs {
			@extend .btn-xs;
			padding-right: 20px !important;
		}
		&:disabled {
			color: #737373;
		}
	}
	&::after {
		@extend .glyphicon;
		content: "\e252";
		position: absolute;
		right: 5px;
		top: 50%;
		font-size: 0.8em;
		pointer-events: none;
		height: 100%;
		transform: translateY(-5px);
	}

	&.has-error > select {
		border-color: $state-danger-text;
	}
}

.inline-form {
	input,
	select,
	textarea,
	button,
	label,
	div {
		display: inline-block;
		float: left;
	}

	label {
		margin-left: 10px;
		margin-right: 10px;
	}
}

fieldset {
	//background-color: $white;

	header {
		display: block;
		font-weight: 300;
		color: $white;
		margin: 0 0 15px;
		background-color: $dark-blue;
		padding: 17px 14px 17px;
		h3 {
			margin: 0;
			font-size: 1.5em;
		}
	}

	// label, .form-label, p {
	//     font-weight: 400;
	//     font-size: 1.3em;
	//     display: block;
	// }
	footer {
		@extend .clearfix;
		background-color: #f9f9f9;
		padding: 10px 15px;
		margin-top: 30px;
		border: 1px solid rgba(0, 0, 0, .1);
	}
}

.sub-fieldset {
	padding-left: 15px;
	padding-right: 15px;
	background-color: $sub-fieldset-bg;
	border: solid 1px darken($sub-fieldset-bg, 7%);
	label {
		margin-bottom: 10px;
	}
}

label.required {
	&::after {
		content: " *";
		color: $brand-danger;
		font-weight: 600;
	}
}

.inline-labels {
	padding-top: 10px;

	label {
		display: inline-block;
		line-height: 1;
		margin-bottom: 0;
		margin-left: 10px;
		margin-right: 10px;
	}

	input[type=radio] {
		margin-top: 0;
		vertical-align: text-top;
	}

	input[type=checkbox] {
		margin-top: 2px;
		vertical-align: text-top;
	}
}

.datepicker {
	width: auto;
	position: relative;
	display: inline-block;
	input {
		width: auto;
		cursor: pointer;
	}
	&::after {
		@extend .glyphicon;
		content: "\e109";
		position: absolute;
		right: 8px;
		top: 8px;
		pointer-events: none;
	}
}

.yes_no_choice + label.required::after {
	content: '';
}

.label__required::after {
	content: " *";
	color: $brand-danger;
	font-weight: 600;
}

th, tr, td {
	&.grayed-out {
		background-color: $light-gray;
	}
}

.headers-center {
	th {
		text-align: center;
	}
}

.summary-funded.panel {
	background-color: $light-gray;
}

.summary-totals, .summary-item {
	/*th {
		background-color: $dark-blue;
		color: $white;
		font-weight: 400;

		&:first-child {
			font-weight: 600;
		}
	}

	tbody tr{
		td:nth-child(odd){
			background-color: $lighter-blue;
		}
		td:nth-child(even){
			background-color: lighten($lighter-blue, 2%);
		}
	}*/

	.value {
		text-align: center;
		display: block;
		text-align: center;
		background-color: $lighter-blue;
		font-size: 16px;
		padding: 14px;
		margin-bottom: 25px;
	}

	.title {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: $light-blue;
		color: $white;
		font-weight: 400;
		text-align: center;
		padding: 5px;
		min-height: 50px;
		font-size: 16px;
	}

	.operator {
		font-weight: bold;
		font-size: 3em;
		text-align: center;
		line-height: 2em;
	}
	&.summary-budget {
		.value {
			font-size: 20px;
		}
	}
}

.table-budget {
	input.masked, input.masked-delayed {
		text-align: right;
	}

	>thead>tr:first-child>th {
		text-align: center;
	}
} 

.custom-cost {
	position: relative;
	.form-control {
		margin-left: 22px;
		width: auto;
	}
	.link-delete-cost-item {
		position: absolute;
		top: 17px;
		left: 7px;
	}
}

.link-delete-item__wrapper {
	position: relative;
	padding-left: 30px !important;
	.link-delete-item {
		position: absolute;
		top: 10px;
		left: 7px;
	}
}

.form-control.has-error {
	border-color: #a94442;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

legend {
	border-bottom: 0;
	margin-bottom: 5px;
	font-size: inherit;
}

.checkbox-wrapper {
	input[type="checkbox"] {
		float: left;
		clear: left;
		margin-top: 7px;
		width: 20px;
	}
	div label {
		padding-left: 1em;
		display: table-cell;
	    padding-bottom: 5px;
	    padding-top: 3px;
	}
}

.review-comment {
	border-bottom: solid 1px #ccc;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.review-comment__date {
	color: #595959;
}