.list-unstyled {
  &__author-item {
    padding: 10px 0;
    border-bottom: 1px solid #e5e5e5;

    &:last-child {
      padding-bottom: 0;
      border-bottom: none;
    }

    &__details--deleted div {
      text-decoration: line-through;
    }
  }
}
