.css-tooltip {
    display: inline-block;
    position: relative;
    // &__trigger {
    //     &:hover + .css-tooltip__content{
    //         display: block;
    //     }
    // }

    &__trigger--link {
        display: inline-block;
        text-decoration: underline;
        color: $link-color;
        cursor: pointer;
    }

    &__content {
        display: none;
        position: absolute;
        top: 35px;
        left: 0;
        background: $gray-dark;
        color: $white;
        padding: 15px;
        width: 550px;
        border-radius: 3px;
        text-align: left;
        z-index: 1000;
        font-size: 14px;
        // &:hover {
        //     display: block;
        // }
        a {
            color: lighten($link-color, 20%);
        }
    }

    &--right {
        .css-tooltip__content {
            z-index: 1000;
            top: 50%;
            left: 100%;
            transform: translate(0%, -50%);
            margin-left: 10px;
            &::before {
                content: '';
                width: 0;
                height: 0;
                position: absolute;
                border-top: 10px solid transparent;
                border-bottom: 10px solid transparent;
                border-right: 10px solid $dark-gray;
                left: -10px;
                top: 50%;
                transform: translateY(-50%);
            }
            &::after {
                content: "";
                display: inline-block;
                position: absolute;
                left: -20px;
                width: 20px;
                height: 100%;
                top: 0;
            }
        }
    }

    &--left {
        .css-tooltip__content {
            z-index: 1000;
            top: 50%;
            right: 100%;
            left: inherit;
            transform: translate(0%, -50%);
            margin-right: 10px;
            &::before {
                content: '';
                width: 0;
                height: 0;
                position: absolute;
                border-top: 10px solid transparent;
                border-bottom: 10px solid transparent;
                border-left: 10px solid $dark-gray;
                right: -10px;
                top: 50%;
                transform: translateY(-50%);
            }
            &::after {
                content: "";
                display: inline-block;
                position: absolute;
                right: -20px;
                width: 20px;
                height: 100%;
                top: 0;
            }
        }
    }

    &--bottom {
        .css-tooltip__content {
            z-index: 1000;
            top: 100%;
            left: 50%;
            transform: translate(-50%, 0%);
            margin-top: 10px;
            &::before {
                content: '';
                width: 0;
                height: 0;
                position: absolute;
                border-bottom: 10px solid $dark-gray;
                border-right: 10px solid transparent;
                border-left: 10px solid transparent;
                border-top: 10px solid transparent;
                right: 50%;
                top: -20px;
                transform: translateX(-50%);
            }
            &::after {
                content: "";
                display: inline-block;
                position: absolute;
                top: -20px;
                width: 100%;
                height: 20px;
                left: 0;
            }
        }
    }

    &--sm {
        .css-tooltip__content {
            width: 250px;
        }
    }

    &--block {
        display: block;
    }

    p{
        font-size: 14px !important;
        font-weight: 400 !important;
    }
    &:hover {
        .css-tooltip__content {
            display: inline-block;
        }
    }
}

.panel:not(.panel-bordered) {
    border: 0;
}

.panel-bordered {
    border-radius: 5px;
}

.panel-heading {
    @extend .clearfix;
    //padding: 17px 14px 17px;
    h3, h2 {
        //font-size: 1.5em;
        margin: 0;
        line-height: 1.2;
    }
    .glyphicon {
        vertical-align: text-top;
        margin-right: 20px;
    }
}

.panel-body {
    .form-group {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    label, .form-label, p {
        font-weight: 400;
        //font-size: 1.3em;
        display: block;
    }
}

.panel-footer {
    border: 1px solid rgba(0,0,0,.1);
}

.panel-default>.panel-heading {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.table__view-mode {
    tr th:first-child {
        background-color: $lighter-blue;
        width: 50%;
    }
    tbody>tr>td, tbody>tr>th {
        border: 0;
    }
}

.table > thead > tr:first-child > th {
    background-color: $light-blue;
    color: $white;

    > a {
        color: $white;
        float: right;
        padding-left: 2px;
    }

    &.label__required::after {
        color: #ffbcbc;
    }
}

.table-title {
    background-color: $white !important;
    border-bottom: solid 1px $table-border-color !important;
    border-top: solid 1px $table-border-color !important;
}

.totals-cell {
    background-color: $lighter-blue;
}

.inline-form {
    display: inline-block;
    vertical-align: middle;
}

.panel-wizard {
    font-size: 18px;

    .form-control, .table th, .table td {
        font-size: 16px;
    }

    .panel-heading {
        small, .small {
            margin-top: 8px;
        }
    }
}

.panel-review {
    background-color: $pale-yellow;
}

.ui-sortable-handle {
    &:hover {
        cursor: move;
        background-color: $light-gray;
    }
}