body:not(.menu-on-top).desktop-detected { //@TODO: This is a hack to add the gray bg, but need this to be done in theme's scss files.
	background: #E6E6E6 !important;
}

#content {
	//background: #E6E6E6;
    padding: 10px 15px !important;
}

h1, h2, h3, h4 {
	font-family: "Cabin", "Open Sans",Arial,Helvetica,Sans-Serif !important;
}