{% extends 'base.html.twig' %}

{% block body %}
    <h1>Associate RELO users to RELO Locations</h1>

    <div class="panel panel-default">
        <div class="panel-body">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th id="embassy_admin_user_id">{% trans %}User ID{% endtrans %}</th>
                    <th id="embassy_admin_name">{% trans %}Name{% endtrans %}</th>
                    <th id="embassy_admin_email">{% trans %}Email{% endtrans %}</th>
                    <th id="embassy_admin_relo_locations">{% trans %}RELO Locations{% endtrans %}</th>
                    <th id="embassy_admin_actions">{% trans %}Actions{% endtrans %}</th>
                </tr>
                </thead>

                <tbody>
                {% for user in users %}
                    <tr>
                        <td headers="embassy_admin_user_id">{{ user.id }}</td>
                        <td headers="embassy_admin_name">{{ user.name }}</td>
                        <td headers="embassy_admin_email">{{ user.email }}</td>
                        <td headers="embassy_admin_relo_locations">
                            <ul class="list-unstyled">
                                {% if user.reloLocations is not empty %}
                                    {% for reloLocation in user.reloLocations %}
                                        <li>{{ reloLocation }}</li>
                                    {% endfor %}
                                {% else %}
                                    <li>{% trans %}No RELO Location{% endtrans %}</li>
                                {% endif %}
                            </ul>
                        </td>
                        <td headers="embassy_admin_actions">
                            <a href="{{ path('relo_admin_edit', { 'id': user.id }) }}">
                                {% trans %}Edit{% endtrans %}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}