{% extends 'project/specialist/wizard/budget/base_contribution_transportation.html.twig' %}

{% block contribution_transportation_table_header %}
    {% include('project/specialist/wizard/budget/eca/contribution_table_header.html.twig') %}
{% endblock %}

{% block contribution_transportation_table_body_row %}
    <td headers="contribution_item contribution_description" class="custom-cost">
        <a href="#" class="link-delete-cost-item text-danger" data-contribution-transportation-id="{{ contributionTransportationCostItem.vars.value.id }}">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </a>

        {{ form_widget(contributionTransportationCostItem.costItem.description, { 'attr': {'class': 'form-control'} }) }}
        {{ form_errors(contributionTransportationCostItem.costItem.description  ) }}
    </td>
    <td headers="contribution_cost contribution_total_cost_country">
        {{ form_widget(contributionTransportationCostItem.totalCost, { 'attr': {'class': 'form-control masked'} }) }}
        {{ form_errors(contributionTransportationCostItem.totalCost) }}
    </td>
    <td headers="contribution_post_host_contribution contribution_post_contribution">
        {{ form_widget(contributionTransportationCostItem.postContribution, { 'attr': {'class': 'form-control masked'} }) }}
        {{ form_errors(contributionTransportationCostItem.postContribution) }}
    </td>
    <td headers="contribution_post_host_contribution contribution_host_contribution_monetary">
        {{ form_widget(contributionTransportationCostItem.hostContributionMonetary, { 'attr': {'class': 'form-control masked'} }) }}
        {{ form_errors(contributionTransportationCostItem.hostContributionMonetary) }}
    </td>
    <td headers="contribution_post_host_contribution contribution_host_contribution_in_kind">
        {{ form_widget(contributionTransportationCostItem.hostContributionInKind, { 'attr': {'class': 'form-control masked'} }) }}
        {{ form_errors(contributionTransportationCostItem.hostContributionInKind) }}
    </td>
    <td headers="contribution_post_host_contribution contribution_post_host_total_contribution">
        {{ form_widget(contributionTransportationCostItem.postHostTotalContribution, { 'attr': {'class': 'form-control masked'} }) }}
        {{ form_errors(contributionTransportationCostItem.postHostTotalContribution) }}
    </td>
    <td headers="contribution_eca_contribution contribution_eca_total_contribution">
        {{ form_widget(contributionTransportationCostItem.ecaTotalContribution, { 'attr': {'class': 'form-control masked'} }) }}
    </td>
{% endblock %}
