<tr class="header headers-center lighter-blue-bg">
    <th id="living_expense_item">
        {% trans %}Item{% endtrans %}
    </th>
    <th id="living_expense_cost">
        {% trans %}Cost{% endtrans %}
    </th>
    <th id="living_expense_post_host_contribution" colspan="4">
        {% trans %}Post/Host Contribution{% endtrans %}
    </th>
    <th id="living_expense_eca_contribution">
        {% trans %}ECA Contribution{% endtrans %}
    </th>
</tr>
<tr class="subheader lighter-blue-bg">
    <th id="living_expense_description">
        {% trans %}Description{% endtrans %}
    </th>
    <th id="living_expense_total_cost_country">
        {% trans %}Total cost in{% endtrans %} {{ contributionLivingExpense.country.name }}
    </th>
    <th id="living_expense_post_contribution">
        {% trans %}Post will contribute{% endtrans %}
    </th>
    <th id="living_expense_host_contribution_monetary">
        {% trans %}Host will contribute &#40;monetary&#41;{% endtrans %}
    </th>
    <th id="living_expense_host_contribution_in_kind">
        {% trans %}Host will contribute &#40;in-kind&#41;{% endtrans %}
    </th>
    <th id="living_expense_post_host_total_contribution">
        {% trans %}Total Post and Host contribution{% endtrans %}
    </th>
    <th id="living_expense_eca_total_contribution">
        {% trans %}Total ECA contribution{% endtrans %}
    </th>
</tr>
