<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>{% block title %}Proposal System{% endblock %}</title>

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

    {# Main styles #}
    <link rel="stylesheet" href="{{ asset('dist/styles/main.css') }}"/>

    {# GOOGLE FONT #}
    <link href='https://fonts.googleapis.com/css?family=Cabin:400,600,700' rel='stylesheet' type='text/css'>

    {% block stylesheets %}{% endblock %}
</head>

<body>
{% include 'header.html.twig' %}

{% include 'sidebar.html.twig' %}

<main>
    {% block body %}{% endblock %}

    {# This block is for email debugging porposes. #}
    {% if app.session.flashbag.has('debug-email') %}
        {% for email in app.session.flashBag.get('debug-email') %}
            {{ email|raw }}
        {% endfor %}
    {% endif %}

    {# Ensure the flashbag gets clear after the page is loaded. #}
    {# Since `clear` methods returns an Array, and rendering that array is not needed, the returned data from this method will be store in a variable. #}
    {% set flashBagMsgs = app.session.flashBag.clear() %}
</main>

{% block javascripts %}
    {# Mouse Flow #}
    <script type="text/javascript">
        var _mfq = _mfq || [];
        (function () {
            var mf = document.createElement("script");
            mf.type = "text/javascript";
            mf.async = true;
            mf.src = "//cdn.mouseflow.com/projects/c01195f0-d350-4510-9251-a3510053123a.js";
            document.getElementsByTagName("head")[0].appendChild(mf);
        })();
    </script>

    {# Google Analytics #}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ proposal.ga_code }}', 'auto');
        ga('send', 'pageview');
    </script>
    {# End Google Analytics #}

    {# Google Tag Manager #}
    <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id={{ proposal.gtm_code }}" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <script>
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','{{ proposal.gtm_code }}');
    </script>
    {# End Google Tag Manager #}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        if (!window.jQuery) {
            document.write('<script src="{{ asset('dist/scripts/jquery.js') }}"><\/script>');
        }
    </script>
    <script defer type="text/javascript" src="https://agileana.atlassian.net/s/36d5e48fbafe4288fe9d2a8fd34ecc50-T/fr67kq/100004/9a5d2b3e8650ea5591cf6d185e3f7304/1000.0.4/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?locale=en-US&collectorId=fc260805"></script>

    {# MAIN APP JS FILE #}
    <script src="{{ asset('dist/scripts/main.js') }}"></script>
{% endblock %}
</body>
</html>
