{% for menu in roleMenu %}
    {% if menu.below is empty %}
        <li>
            {% if '<front>' == menu.link.link_path %}
                {% set menuLink = '' %}
            {% else %}
                {% set menuLink = menu.link.link_path %}
            {% endif %}

            <a href="{{ application_system_url }}/{{ menuLink }}">
                {{ menu.link.link_title }}
            </a>
        </li>
    {% else %}
        <li class="sidebar__subnav">
            <span class="sidebar__subnav__title">{{ menu.link.link_title }}</span>
            <ul>
                {% for subMenu in menu.below %}
                    <li>
                        {% if 'proposal' in subMenu.link.link_path %}
                            {% set subMenuLink = subMenu.link.link_path %}
                        {% else %}
                            {% if (fellowCycle is not null) and ('Fellow Rosters' == menu.link.link_title) %}
                                {% set subMenuLink =  application_system_url ~ '/' ~ subMenu.link.link_path ~ '?fellow_cycle_id=' ~ fellowCycle.tid %}
                            {% else %}
                                {% set subMenuLink =  application_system_url ~ '/' ~ subMenu.link.link_path %}
                            {% endif %}
                        {% endif %}

                        <a href="{{ subMenuLink }}">{{ subMenu.link.link_title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% endif %}
{% endfor %}
