{% for type, flashMessages in app.session.flashbag.peekAll() %}
    {# The `debug-email` flash type shouldn't be rendered as part of the notifications. #}
    {% if type != 'debug-email' %}
        {% for flashMessage in flashMessages %}
            <div class="alert alert-{{ type }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

                {{ flashMessage|raw }}
            </div>
        {% endfor %}
    {% endif %}
{% endfor %}