        <form action="{{ application_system_url }}/proposal-role-switcher" method="post" id="user_data" class="form-inline user-data-form">
            <div class="form-group inline-form">
                <label for="edit-role-switcher">
                    <strong>{% trans %}User:{% endtrans %}</strong> {{ app.user.name }}
                </label>
                <div class="input-group">
                    <div class="select-wrapper">
                        <select id="edit-role-switcher" name="role_switcher" class="form-select btn-xs">
                            {% for parsedRoleMeta in parsedRoles %}
                                <option value="{{ parsedRoleMeta.roleId }}"{% if selectedRole == parsedRoleMeta.roleId %} selected="selected"{% endif %}>
                                    {{ parsedRoleMeta.roleLabel }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>

                    <button type="submit" class="btn btn-primary btn-xs user-data-form__submit">
                        {% trans %}Switch role{% endtrans %}
                    </button>
                </div>
            </div>
        </form>
