<aside class="sidebar">
    <ul class="nav sidenav">
    	{% if app.request.query.get("print") != '1' %}
        	{{ render(controller('AppBundle:User:roleMenu')) }}
    	{% endif %}
    </ul>
</aside>
