{% extends 'project/specialist/wizard/budget/base_contribution_living_expenses.html.twig' %}

{% block contribution_living_expenses_table_header %}
    {% include('project/specialist/wizard/budget/post/contribution_living_expenses_table_header.html.twig') %}
{% endblock %}

{% block contribution_living_expenses_table_body_row %}
    <td headers="living_expense_item living_expense_description">
        {{ contributionLivingExpenseCostItem.vars.value.costItem.description }}
    </td>
    <td headers="living_expense_cost living_expense_total_cost_country">
        {{ form_widget(contributionLivingExpenseCostItem.totalCost, { 'attr': {'class': 'form-control masked'} }) }}
    </td>
    <td headers="living_expense_host_contribution living_expense_host_contribution_monetary">
        {{ form_widget(contributionLivingExpenseCostItem.hostContributionMonetary, { 'attr': {'class': 'form-control masked'} }) }}
        {{ form_errors(contributionLivingExpenseCostItem.hostContributionMonetary) }}
    </td>
    <td headers="living_expense_host_contribution living_expense_host_contribution_in_kind">
        {{ form_widget(contributionLivingExpenseCostItem.hostContributionInKind, { 'attr': {'class': 'form-control masked'} }) }}
        {{ form_errors(contributionLivingExpenseCostItem.hostContributionInKind) }}
    </td>
    <td headers="living_expense_host_contribution living_expense_host_total_contribution">
        {{ form_widget(contributionLivingExpenseCostItem.postHostTotalContribution, { 'attr': {'class': 'form-control masked'} }) }}
        {{ form_errors(contributionLivingExpenseCostItem.postHostTotalContribution) }}
    </td>
    <td headers="living_expense_post_contribution living_expense_post_total_contribution">
        {{ form_widget(contributionLivingExpenseCostItem.postTotalContribution, { 'attr': {'class': 'form-control masked'} }) }}
        {{ form_errors(contributionLivingExpenseCostItem.postTotalContribution) }}
    </td>
{% endblock %}
