{% extends 'project/specialist/wizard/budget/base_index.html.twig' %}

{% block contribution_living_expenses_table_header %}
    {% include('project/specialist/wizard/budget/post/contribution_living_expenses_table_header.html.twig') %}
{% endblock %}

{% block contribution_living_expenses_table_body_row %}
    <td>{{ contributionLivingExpenseCostItem.costItem.description }}</td>
    <td class="text-right">
        {{ contributionLivingExpenseCostItem.totalCost|currency_format(0) }}
    </td>
    <td class="text-right">
        {{ contributionLivingExpenseCostItem.hostContributionMonetary|currency_format(0) }}
    </td>
    <td class="text-right">
        {{ contributionLivingExpenseCostItem.hostContributionInKind|currency_format(0) }}
    </td>
    <td class="text-right">
        {{ contributionLivingExpenseCostItem.postHostTotalContribution|currency_format(0) }}
    </td>
    <td class="text-right">
        {{ contributionLivingExpenseCostItem.postTotalContribution|currency_format(0) }}
    </td>
{% endblock %}
