<p>Hello,</p>

<p>This email is to inform you that a Fellow project proposal has been submitted by a Post, reviewed by a RELO, reviewed by the RPO, and is now ready for your review. The details of the proposal are listed below.</p>

{% include 'email/proposalreview/project_details.html.twig' %}

<p>To review the complete proposal, please click on the URL below</p>

<a href="{{ absolute_url(path('project_fellow_show', {'id': fellowProject.id })) }}">
	{{ absolute_url(path('project_fellow_show', {'id': fellowProject.id })) }}
</a>

<p>Once you review the proposal, you must take one of the following actions:</p>

<ol>
	<li>Approve - You approve of the proposal as it is written and it is officially included as a project for the cycle.</li>
	<li>Edit the proposal yourself and approve - The proposal with your edits is approved and it is officially included as a project for the cycle.</li>
	<li>Return to RPO for revision - You may comment on the proposal and return the proposal to RPO for editing. RPO will see your comments and may choose to edit and resubmit the proposal for your re-review.</li>
	<li>Reject - You do not approve of the proposal. Post will be informed that the proposal has not been approved.</li>
</ol>

<p>Regards,<br>The English Language Programs team</p>

{% if not sendMessage %}
	{% include 'email/proposalreview/recipients.html.twig' %}
{% endif %}