<p>Hello,</p>

<p>This email is to inform you that a Post has indicated that alternative funding is not available for their Fellow project. The details of the proposal are listed below.</p>

{% include 'email/proposalreview/project_details.html.twig' %}

<p>This proposal is no longer under review and no further action can be taken at this time. You may review the details of the proposal by clicking on the URL below.</p>

<p><a href="{{ absolute_url(path('project_fellow_show', {'id': fellowProject.id })) }}">
	{{ absolute_url(path('project_fellow_show', {'id': fellowProject.id })) }}
</a></p>

<p>Regards,<br>The English Language Programs team</p>

{% if not sendMessage %}
	{% include 'email/proposalreview/recipients.html.twig' %}
{% endif %}