<p>Hello,</p>

<p>This email is to inform you that your Fellow proposal has been reviewed. The details of the proposal are listed below.</p>

{% include 'email/proposalreview/project_details.html.twig' %}

<p>ECA has determined that your proposed project cannot be funded by ECA at this time. If Post would like to fund the project with its own money, you may resubmit the project for approval.</p>

<p>To review the complete proposal, please click on the URL below</p>

<a href="{{ absolute_url(path('project_fellow_show', {'id': fellowProject.id })) }}">
	{{ absolute_url(path('project_fellow_show', {'id': fellowProject.id })) }}
</a>

<p>Once you review the proposal, you must take one of the following actions:</p>

<ol>
	<li>Change the funding source to "No ECA funding requested" and resubmit. PLEASE NOTE THE FOLLOWING.
		<ul>
			<li>You may not change the content of the proposal. The only section proposal that you may edit at this time is the budget.</li>
			<li>By resubmitting the proposal with no ECA funding requested, Post agrees to pay for the entire cost of the fellowship and understands that it will not receive any funding whatsoever from ECA for this project.</li>
		</ul>
	</li>
	<li>Decline - Post is not able to fund the project. The project is not approved.</li>
</ol>

<p>Regards,<br>The English Language Programs team</p>

{% if not sendMessage %}
	{% include 'email/proposalreview/recipients.html.twig' %}
{% endif %}