{# @var country \AppBundle\Entity\Country #}
{% set country = fellowProject.projectGeneralInfo.countries.last  %}
<ul>
	<li>
		<strong>{% trans %}Country{% endtrans %}:</strong> {{ country.name }}
	</li>
	<li>
		<strong>{% trans %}Host City{% endtrans %}:</strong> {{ fellowProject.locationHostInfo.hostCity }}
	</li>
	<li>
		<strong>{% trans %}Host Institution{% endtrans %}:</strong> {{ fellowProject.locationHostInfo.host }}
	</li>
	<li>
		<strong>{% trans %}Cycle{% endtrans %}:</strong> {{ fellowProject.projectGeneralInfo.cycle.name }}
	</li>
</ul>
