<p>Hello,</p>

<p>This email is to inform you that a Fellow Project proposal has been submitted for your review. The details of the proposal are listed below.</p>

{% include 'email/proposalreview/project_details.html.twig' %}

<p>To review the complete proposal, please click on the URL below</p>

<a href="{{ absolute_url(path('project_fellow_show', {'id': fellowProject.id })) }}">
	{{ absolute_url(path('project_fellow_show', {'id': fellowProject.id })) }}
</a>

<p>Once you review the proposal, you must take one of the following actions:</p>

<ol>
	<li>Submit to RPO review - You approve of the proposal as it is written and it will be passed to RPO for their review.</li>
	<li>Edit the proposal yourself and Submit to RPO review - The proposal with your edits will be passed to RPO for their review.</li>
	<li>Return for revision - You may comment on the proposal and return the proposal to Post for editing. Post will see your comments and may choose to edit and resubmit the proposal for your re-review.</li>
	<li>Reject - You do not approve of the proposal. It will NOT be passed to ECA for their review and the Post will be notified that their proposal was rejected.</li>
</ol>

<p>Regards,<br>The English Language Programs team</p>

{% if not sendMessage %}
	{% include 'email/proposalreview/recipients.html.twig' %}
{% endif %}