<p>Hello,</p>

<p>This email is to inform you that a Fellow project proposal has been returned to you for revision by ECA. The details of the proposal are listed below.</p>

{% include 'email/proposalreview/project_details.html.twig' %}

<p>To review the complete proposal, please click on the URL below</p>

<a href="{{ absolute_url(path('project_fellow_show', {'id': fellowProject.id })) }}">
	{{ absolute_url(path('project_fellow_show', {'id': fellowProject.id })) }}
</a>

<p>Once you review the proposal, you must take one of the following actions:</p>

<ol>
	<li>Edit the proposal yourself and submit to ECA review - The proposal with your edits will be passed to ECA for their review.</li>
	<li>Return to RELO for revision - You may comment on the proposal and return the proposal to RELO for editing. RELO will see your comments and may choose to edit and resubmit the proposal for your re-review.</li>
	<li>Return to Post for editing - You may comment on the proposal and return the proposal to Post for editing. Post will see your comments and may choose to edit and resubmit the proposal for your re-review.</li>
	<li>Reject - You do not approve of the proposal. It will NOT be passed to ECA for their review and the Post will be notified that their proposal was rejected.</li>
</ol>

<p>Regards,<br>The English Language Programs team</p>

{% if not sendMessage %}
	{% include 'email/proposalreview/recipients.html.twig' %}
{% endif %}