{% extends 'project/common/base_wizard_step.html.twig' %}

{% block wizard_step_title %}
    <h2>
        Candidate Information
        <small class="pull-right">Step 1 of 1</small>
    </h2>
{% endblock %}

{% block wizard_step_body %}
    <div class="row">
        <div class="form-group col-lg-12 col-md-12">
            <label class="label__required inline-block" for="candidate_info_areasOfExpertise">
                {% trans %}Project is best suited for candidate with the following areas of expertise:{% endtrans %}
            </label>
            <br>
            <small class="text-success">
                {% trans %}You must check at least one and no more than five{% endtrans %}
            </small>

            <div class="checkbox-wrapper mt-5">
                {{ form_widget(form.areasOfExpertise) }}
            </div>

            {{ form_errors(form.areasOfExpertise) }}
        </div>
    </div>

    <div class="form-group">
        <label class="label__required inline-block" for="candidate_info_furtherDetailsDesc">
            {% trans %}Description, further information, or candidate-specific needs{% endtrans %}
        </label>

        <div class="css-tooltip css-tooltip--left">
            <span class="css-tooltip__trigger css-tooltip__trigger--link">
                {% trans %}Specialist Tooltip Display Text - Further details{% endtrans %}
            </span>
            <div class="css-tooltip__content">
                {% trans %}Specialist Content - Further details{% endtrans %}
            </div>
        </div>

        {{ form_widget(form.furtherDetailsDesc, { 'attr': {'class': 'form-control'} }) }}
        {{ form_errors(form.furtherDetailsDesc) }}
    </div>

    <div class="form-group">
        <fieldset>
            <legend>
                <label class="label__required inline-block" for="candidate_info_degreeRequirements">
                    {% trans %}Does the Specialist need to have any specific degrees or certifications for this project
                    outside of the regular eligibility requirements?{% endtrans %}
                </label>

                <div class="css-tooltip css-tooltip--bottom">
                <span class="css-tooltip__trigger css-tooltip__trigger--link">
                    {% trans %}Specialist Tooltip Display Text - Degree requirements{% endtrans %}
                </span>
                    <div class="css-tooltip__content">
                        {% trans %}Specialist Content - Degree requirements{% endtrans %}
                    </div>
                </div>
            </legend>

            {{ form_widget(form.degreeRequirements, { 'attr': {'class': 'inline-labels'} }) }}
            {{ form_errors(form.degreeRequirements) }}
        </fieldset>
    </div>

    <div class="sub-fieldset">
        <div class="form-group">
            <label for="candidate_info_degreeRequirementsDesc">
                {% trans %}Please describe the degree requirements{% endtrans %}
            </label>

            {{ form_widget(form.degreeRequirementsDesc, { 'attr': {'class': 'form-control'} }) }}
            {{ form_errors(form.degreeRequirementsDesc) }}
        </div>
    </div>

    <div class="form-group">
        <label for="candidate_info_proposedCandidate">
            {% trans %}If you already have a Specialist candidate in mind for this project, please identify that person
            here:{% endtrans %}
        </label>

        {{ form_widget(form.proposedCandidate, { 'attr': {'class': 'form-control'} }) }}
        {{ form_errors(form.proposedCandidate) }}
    </div>

    <div class="sub-fieldset">
        <div class="form-group">
            <fieldset>
                <legend>
                    <label for="candidate_info_proposedCandidateContacted">
                        {% trans %}Have you already contacted this candidate about this project?{% endtrans %}
                    </label>
                </legend>

                {{ form_widget(form.proposedCandidateContacted, { 'attr': {'class': 'inline-labels'} }) }}
                {{ form_errors(form.proposedCandidateContacted) }}
            </fieldset>
        </div>

        <div class="form-group">
            <label for="candidate_info_proposedCandidateEmail">
                {% trans %}If you have already contacted the candidate, please provide their email address
                here:{% endtrans %}
            </label>

            {{ form_widget(form.proposedCandidateEmail, { 'attr': {'class': 'form-control'} }) }}
            {{ form_errors(form.proposedCandidateEmail) }}
        </div>
    </div>
{% endblock %}