{% extends 'project/common/base_wizard_step.html.twig' %}

{% block javascripts %}
	{{ parent() }}

	<script>
		jQuery(function($) {
			// Delete link action
			$('.link-delete-item').click(function(e) {
				e.preventDefault();
				if (confirm('{% trans %}Do you really want to delete this activity?{% endtrans %}')) {
					$('#in_country_assignment_deleteId').val($(this).siblings('.assignment_id').html());
//					alert($('#in_country_assignment_deleteId').val());
					$('#in_country_assignment_here').trigger('click');
				}
			});

		});
	</script>
{% endblock %}

{% block wizard_step_title %}
	<h2>
		In-Country Assignment Duties
		<small class="pull-right"></small>
	</h2>
{% endblock %}

{% block wizard_step_body %}

	<div class="form-group">
		<h3>{{ form.vars.value.city }}({{ inCountryAssignment.country.name }})</h3>
		{#{{ dump(form.assignmentActivities) }}#}
		{{ form_widget(form.city) }}
		{{ form_widget(form.deleteId) }}
	</div>

	<div class="row">
		<div class="form-group col-md-6">
			{{ form_label(form.host) }}
			<div class="select-wrapper">
				{{ form_widget(form.host, {'attr': {'class': 'form-select'}}) }}
			</div>
		</div>

		<div class="form-group col-md-6">
			{{ form_label(form.newHost) }}
			{{ form_widget(form.newHost, {'attr': {'class': 'form-control'}}) }}
		</div>
	</div>

	<div class="form-group">
		{{ form_label(form.hostDesc, null, { 'label_attr': {'class': 'inline-block'} }) }}
		<div class="css-tooltip css-tooltip--bottom">
			<span class="css-tooltip__trigger css-tooltip__trigger--link">{% trans %}Example for Description of Host Institution{% endtrans %}</span>
			<div class="css-tooltip__content">
				{% trans %}
				Example: The host institution is a new partner to the U.S. Embassy. It is a university and the Fellow will be working with pre-service English teachers. There are approximately 100 students in the English teaching department and the university has a total of 3,000 students. The Specialist will share an office with the other faculty in the department. Internet is very limited on campus. The American Corner is also located on campus.{% endtrans %}
			</div>
		</div>
		{{ form_widget(form.hostDesc, {'attr': {'class': 'form-control'}}) }}
	</div>
	<h4>{% trans %}Duties for assignment{% endtrans %}</h4>
	<div class="form-group">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th id="country_assignment_duty_activity_desc">{% trans %}Description of Activity{% endtrans %}</th>
					<th id="country_assignment_duty_topic">{% trans %}Topic{% endtrans %}</th>
					<th id="country_assignment_duty_audience_desc">{% trans %}Description of Audience{% endtrans %}</th>
					<th id="country_assignment_duty_participants">{% trans %}Estimated number of participants{% endtrans %}</th>
				</tr>
			</thead>
			<tbody>
			{% for activity in form.assignmentActivities %}
				{% set icaaid = 0 %}
				{% if activity.vars.value.id != null %}
					{% set icaaid = activity.vars.value.id %}
				{% endif %}
				<tr>
					<td {% if loop.index > 1 %}class="link-delete-item__wrapper"{% endif %} headers="country_assignment_duty_activity_desc">
						{% if loop.index > 1 %}
						{#<a href="{{ path('specialist_project_phase_country_assignment_duty_activity_delete', {#}
							{#'id': specialistProject,#}
							{#'phase': phase,#}
							{#'icaaid': '0'#}
						{#}) }}" class="link-delete-item text-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>#}
						<a href="#" class="link-delete-item text-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
						<span class="hidden assignment_id">{{ icaaid }}</span>
						{% endif %}
						{{ form_widget(activity.activityDesc, {'attr': {'class': 'form-control'}}) }}
					</td>
					<td headers="country_assignment_duty_topic">{{ form_widget(activity.topic, {'attr': {'class': 'form-control'}}) }}</td>
					<td headers="country_assignment_duty_audience_desc">{{ form_widget(activity.audienceDesc, {'attr': {'class': 'form-control'}}) }}</td>
					<td headers="country_assignment_duty_participants">{{ form_widget(activity.participants, {'attr': {'class': 'form-control'}}) }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>

	<div class="form-group text-right">
		{{ form_widget(form.add, {'attr': {'class': 'btn btn-info'}}) }}
	</div>

	<div class="form-group">
		<fieldset>
			{{ form_label(form.deliverablesDesc) }}
			{{ form_widget(form.deliverablesDesc, {'attr': {'class': 'form-control'}}) }}
		</fieldset>
	</div>

	<div class="hidden">
		{{ form_widget(form.here, {'atrr': {'class': 'hidden'}}) }}
	</div>

{% endblock %}