{% extends 'base.html.twig' %}

{% block javascripts %}
	{{ parent() }}

	<script>
		jQuery(function($) {
			// Delete link action
			$('.link-delete-item').click(function(e) {
				e.preventDefault();
				if (confirm('{% trans %}Do you really want to delete this city?{% endtrans %}')) {
					$('#in_country_assignment_deleteId').val($(this).siblings('.assignment_id').html());
//					alert($('#in_country_assignment_deleteId').val());
					$('#in_country_assignment_here').trigger('click');
				}
			});

		});
	</script>
{% endblock %}

{% block body %}
	{% include 'project/specialist/header.html.twig' %}

	<div class="panel panel-primary panel-wizard">
		<div class="panel-heading">
			<h2>
				In-Country Assignment Duties
				<small class="pull-right"></small>
			</h2>
		</div>

		<div class="panel-body">
			<div class="form-group">
				<div class="fieldset__subtitle inline-block">{% trans %}If you need to add a new country you have to go to the General Information
					section{% endtrans %}</div>

				{#{{ dump(form) }}#}
				{% for country in specialistProjectPhase.projectGeneralInfo.Countries %}

					{% set cityform = form[country.name].createView %}
					{{ form_start(cityform) }}
					<h3>{{ country.name }}</h3>
					<table class="table table-bordered">
						<tbody>
						{% for assignment in specialistProjectPhase.inCountryAssignments %}
							{% if (assignment.country == country) %}
						<tr>
							<td>{{ assignment.city }}</td>
							<td>
								<a href="{{ path('specialist_project_phase_country_assignment_duty_edit', {
									'id': specialistProject.id,
									'phase': phase,
									'icaid': assignment.id}) }}">Edit details</a>
								- <a href="{{ path('specialist_project_phase_country_assignment_duty_delete', {
									'id': specialistProject.id,
									'phase': phase,
									'icaid': assignment.id}) }}" class="link-delete-item">Delete</a>
								<span class="assignment_city_id hidden">{{ assignment.id }}</span>
							</td>
						</tr>
							{% endif %}
						{% endfor %}
						<tr>
							<td>
								{{ form_widget(cityform.city, { 'attr': {'class': 'form-control'} }) }}
								{{ form_widget(cityform.country, { 'attr': {'class': 'form-control'} }) }}
							</td>
							<td>
								{{ form_widget(cityform.add, { 'attr': {'class': 'btn btn-info'} }) }}
							</td>
						</tr>
						</tbody>
					</table>
					{{ form_row(cityform._token) }}
					{{ form_end(cityform) }}

				{% endfor %}
			</div>

		</div>

		<div class="panel-footer">
			<div class="row">
				<div class="col-md-4">
					<button type="submit" name="save" class="btn btn-link btn-lg">Save and return to Panel</button>
				</div>
				<div class="col-md-4 text-center">
				</div>
				<div class="col-md-4 text-right">
					{#{{ form_widget(form.next, { 'attr': {'class': 'btn btn-success btn-lg'} }) }}#}
				</div>
			</div>
		</div>
	</div>

	{#{{ form_end(form, {'render_rest': false}) }}#}

	{% block wizard_step_additional_content %}{% endblock %}

	{# The Sharing Options widget should be accessible throughtout the entire Proposal #}
	{#{% include 'project/common/sharing_widget.html.twig' %}#}
{% endblock %}


