{% extends 'project/common/base_wizard_step.html.twig' %}

{% block wizard_step_title %}
    <h2>
        General Information
        <small class="pull-right">Step 2 of 3</small>
    </h2>
{% endblock %}

{% block wizard_step_body %}
    <div class="form-group">
        <table class="table table-bordered">
            <tbody>
            {% set countries = form.vars.value.countries %}
            {% for country in countries %}
                <tr>
                    <td>{{ country.name }}</td>
                    <td>
                        <a href="javascript:void(0)">Delete</a>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td>
                    <div class="select-wrapper">
                        {{ form_widget(form.country, { 'attr': {'class': 'form-select'} }) }}
                    </div>
                </td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="form-group text-right">
        {{ form_widget(form.addCountry, { 'attr': {'class': 'btn btn-info'} }) }}
    </div>
{% endblock %}