{% extends 'project/common/base_wizard_step.html.twig' %}

{% block javascripts %}
	{{ parent() }}

	<script>
		jQuery(function ($) {
			// Delete link action
			$('.link-delete-item').click(function (e) {
				e.preventDefault();
				if (confirm('{% trans %}Do you really want to delete this city?{% endtrans %}')) {
					$('#form_deleteId').val($(this).siblings('.assignment_id').html());
//					alert($('#in_country_assignment_deleteId').val());
					$('#form_here').trigger('click');
				}
			});

		});
	</script>
{% endblock %}

{% block wizard_step_title %}
	<h2>
		In-Country Assignment Duties
		<small class="pull-right"></small>
	</h2>
{% endblock %}

{% block wizard_step_body %}

	<div class="form-group">
		<div class="fieldset__subtitle inline-block">{% trans %}If you need to add a new country you have to go to the General Information section{% endtrans %}</div>

		{% for country in specialistProjectPhase.projectGeneralInfo.Countries %}

			<h3>{{ country.name }}</h3>
			<table class="table table-bordered">
				<tbody>
				{% for assignment in specialistProjectPhase.inCountryAssignments %}
					{% if (assignment.country == country) %}
						<tr>
							<td>{{ assignment.city }}</td>
							<td>
								<a href="{{ path('specialist_project_phase_country_assignment_duty_edit', {
									'id': specialistProject.id,
									'phase': phase,
									'icaid': assignment.id}) }}">Edit details</a>
								- <a href="{{ path('specialist_project_phase_country_assignment_duty_delete', {
									'id': specialistProject.id,
									'phase': phase,
									'icaid': assignment.id}) }}" class="link-delete-item">Delete</a>
								<span class="assignment_id hidden">{{ assignment.id }}</span>
							</td>
						</tr>
					{% endif %}
				{% endfor %}
				{% for cityForm in form.inCountryAssignmentCity %}
					{% if cityForm.vars.value.country == country %}
						<tr>
							<td>
								{{ form_widget(cityForm.city, { 'attr': {'class': 'form-control'} }) }}
								{{ form_widget(cityForm.country, { 'attr': {'class': 'form-control'} }) }}
							</td>
							<td>
								<button type="submit" class="btn btn-info" name="form[addCity]"
										id="add_{{ country.id }}">{{ 'Add City'|trans }}</button>
							</td>
						</tr>
					{% endif %}
				{% endfor %}
				</tbody>
			</table>

		{% endfor %}
	</div>

	<div class="hidden">
		{{ form_widget(form.deleteId) }}
		{{ form_widget(form.here, {'attr': {'class': 'hidden'}}) }}
	</div>

{% endblock %}