{% extends 'project/common/base_wizard_step.html.twig' %}

{% block wizard_step_title %}
    <h2>
        Goals and Sustainability
        <small class="pull-right">Step 1 of 1</small>
    </h2>
{% endblock %}

{% block wizard_step_body %}

    <div class="form-group">
        <label class="label__required" for="goals_sustainability_postMissionGoalsDesc">
            {% trans %}Please detail which of the Post’s Mission Goals this Specialist project will meet, and how:{% endtrans %}
        </label>
        {{ form_widget(form.postMissionGoalsDesc) }}
        {{ form_errors(form.postMissionGoalsDesc) }}
    </div>

    <div class="form-group">

        <label class="label__required" for="goals_sustainability_sustainabilityByLocalsDesc">
            {% trans %}Please detail how the project will be sustained by the local participants and/or organizations after the Fellow leaves the country:{% endtrans %}
        </label>
        {{ form_widget(form.sustainabilityByLocalsDesc) }}
        {{ form_errors(form.sustainabilityByLocalsDesc) }}
    </div>

    <div class="form-group">

        <label for="goals_sustainability_specialistProjectPhase_specialistProject_subsequentPhasesDesc">
            {% trans %}If you plan on submitting a proposal for an additional phase or phases which will continue
            this project, please briefly describe the plans for the subsequent phase(s). 
            <small> <br>Please note that additional
            phases will be part of the same project, but the additional phase must be submitted separately using the
            “Submit Additional Phase of Existing Project” button on the dashboard. Additional phases will be approved
            independently of the initial phase.</small>{% endtrans %}
        </label>
        {{ form_widget(form.specialistProjectPhase.specialistProject.subsequentPhasesDesc) }}
        {{ form_errors(form.specialistProjectPhase.specialistProject.subsequentPhasesDesc) }}
    </div>
{% endblock %}
