{% extends 'project/common/base_wizard_step.html.twig' %}

{% block javascripts %}
	{{ parent() }}

	<script>
		jQuery(function($) {
			// Delete link action
			$('.link-delete-item').click(function(e) {
				e.preventDefault();
				if (confirm('{% trans %}Do you really want to delete this activity?{% endtrans %}')) {
					$('#in_country_assignment_deleteId').val($(this).siblings('.assignment_id').html());
//					alert($('#in_country_assignment_deleteId').val());
					$('#in_country_assignment_here').trigger('click');
				}
			});

		});
	</script>
{% endblock %}

{% block wizard_step_title %}
	<h2>
		Itinerary
		<small class="pull-right">Step 1 of 2</small>
	</h2>
{% endblock %}

{% block wizard_step_body %}

	<div class="row">
		<div class="form-group col-md-6">
			{{ form_label(form.startDate) }}
			<div class="datepicker">
				{{ form_widget(form.startDate, { 'attr': {'class': 'form-control'} }) }}
			</div>
			<p class="mt-5 no-js">{% trans %}Please use this format: MM/DD/YYYY{% endtrans %}</p>
		</div>

		<div class="form-group col-md-6">
			{{ form_label(form.endDate) }}
			<div class="datepicker">
				{{ form_widget(form.endDate, {'attr': {'class': 'form-control'}}) }}
			</div>
			<p class="mt-5 no-js">{% trans %}Please use this format: MM/DD/YYYY{% endtrans %}</p>
		</div>
	</div>

	<div class="form-group">
		{{ form_label(form.dateLengthDesc) }}
		{{ form_widget(form.dateLengthDesc, {'attr': {'class': 'form-control'}}) }}
	</div>

{% endblock %}