{% extends 'project/common/base_wizard_step.html.twig' %}

{% block javascripts %}
	{{ parent() }}

	<script>
		jQuery(function($) {
			// Delete link action
			$('.link-delete-item').click(function(e) {
				e.preventDefault();
				if (confirm('{% trans %}Do you really want to delete this activity?{% endtrans %}')) {
					$('#in_country_assignment_deleteId').val($(this).siblings('.assignment_id').html());
//					alert($('#in_country_assignment_deleteId').val());
					$('#in_country_assignment_here').trigger('click');
				}
			});

		});
	</script>
{% endblock %}

{% block wizard_step_title %}
	<h2>
		Itinerary
		<small class="pull-right">Step 2 of 2</small>
	</h2>
{% endblock %}

{% block wizard_step_body %}

	<div class="form-group">
		<table class="table table-bordered table-budget">
		<thead>
		<tr>
			<th id="itinerary_date">{% trans %}Date{% endtrans %}</th>
			<th id="itinerary_activity">{% trans %}Activity{% endtrans %}</th>
			<th id="itinerary_city">{% trans %}City{% endtrans %}</th>
		</tr>
		</thead>

		<tbody>
			{% for city in form.dayBreakdownActivities %}
			<tr>
				{#<td>{{ dump(city.vars.value.activityDate) }}</td>#}
				<td headers="itinerary_date">
					{{ city.vars.value.activityDate|date('l, F d, Y') }}
					{{ form_widget(city.activityDate, {'attr': {'class': 'hidden'}}) }}
				</td>
				<td headers="itinerary_activity">
					<div class="select-wrapper">
						{{ form_widget(city.dayBreakdownActivityType, { 'attr': {'class': 'form-select'} }) }}
					</div>
				</td>
				<td headers="itinerary_city">
					<div class="select-wrapper">
						{{ form_widget(city.inCountryAssignment, { 'attr': {'class': 'form-select'} }) }}
					</div>
				</td>
			</tr>
			{% endfor %}
		</tbody>
		</table>
	</div>

{% endblock %}