{% extends 'project/common/base_wizard_step.html.twig' %}

{% block wizard_step_title %}
    <h2>
        General Information
        <small class="pull-right">Step 3 of 3</small>
    </h2>
{% endblock %}

{% block wizard_step_body %}
    <div class="form-group">
        {{ form_label(form.posts, null, { 'label_attr': {'class': 'label__required'} }) }}
        <table class="table table-bordered table-budget">
            <tbody>
            {% for post in form.posts %}
                <tr>
                    <th class="lighter-blue-bg col-md-4 col-lg-3">
                        {{ form_label(post) }}
                    </th>
                    <td class="col-md-8 col-lg-9">
                        <div class="select-wrapper">
                            {{ form_widget(post) }}
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="form-group ">
        <p class="label__required">{% trans %}Where will the work for this project take place (select one):{% endtrans %}</p>
    </div>

    <div class="form-group">
        <fieldset>
            <div class="inline-labels">
                {{ form_widget(form.specialistProjectPhase.type[0]) }}
                {{ form_label(form.specialistProjectPhase.type[0]) }}
                {{ form_errors(form.specialistProjectPhase.type[0]) }}
            </div>
        </fieldset>

        <small>
            {% trans %}These projects take place entirely in the country of assignment. There is no significant virtual
            component (such as online teaching). However, in this category, you may include minimal pre-work or
            post-work for the specialist (such as planning days or follow on phone calls). The maximum allowed pre- and
            post- work days are:{% endtrans %}
        </small>

        <ul>
            <li>
                <small>
                    <strong>Pre-work maximum:</strong> 5 days
                </small>
            </li>
            <li>
                <small>
                    <strong>Post-work maximum:</strong> 5 days
                </small>
            </li>
        </ul>
    </div>

    <div class="form-group">
        <fieldset>
            <div class="inline-labels">
                {{ form_widget(form.specialistProjectPhase.type[1]) }}
                {{ form_label(form.specialistProjectPhase.type[1]) }}
                {{ form_errors(form.specialistProjectPhase.type[1]) }}
            </div>
        </fieldset>

        <small>
            {% trans %}These projects take place entirely virtually. The Specialist does not travel away from their home
            at all.{% endtrans %}
        </small>
    </div>

    <div class="form-group">
        <fieldset>
            <div class="inline-labels">
                {{ form_widget(form.specialistProjectPhase.type[2]) }}
                {{ form_label(form.specialistProjectPhase.type[2]) }}
                {{ form_errors(form.specialistProjectPhase.type[2]) }}
            </div>
        </fieldset>

        <small>
            {% trans %}These projects contain both an in-country component as well as a virtual component. The virtual
            component may be before or after the in-country component. The virtual component must be significant and
            have its own unique duties. If the virtual component is less than a week, it should be considered pre- or
            post-work to the in-country assignment and you should select the “Entirely In-Country” option
            above.{% endtrans %}
        </small>
    </div>
{% endblock %}
