{% extends 'project/common/base_wizard_step.html.twig' %}

{% block wizard_step_title %}
<h2>
    {% trans %}General Information - Project requirements{% endtrans %}
    <small class="pull-right">Step 1 of 1</small>
</h2>
{% endblock %}

{% block wizard_step_body %}
    <div class="form-group">
        <fieldset>
            <legend class="label__required">
                {% trans %}Does the Specialist require a visa prior to arrival?{% endtrans %}
            </legend>
            {{ form_widget(form.visaPriorArrival, { 'attr': {'class': 'inline-labels'} }) }}
            {{ form_errors(form.visaPriorArrival) }}
        </fieldset>
    </div>

    <div class="sub-fieldset">
        <div class="form-group">
            {{ form_label(form.visaAvgLength) }}
            <div class="select-wrapper">
                {{ form_widget(form.visaAvgLength, { 'attr': {'class': 'form-select'} }) }}
            </div>
            {{ form_errors(form.visaAvgLength) }}
        </div>

        <div class="form-group">
            {{ form_label(form.visaRequirementsDesc, null, { 'label_attr': {'class': 'inline-block'} }) }}
            <div class="css-tooltip css-tooltip--left">
                <span class="css-tooltip__trigger css-tooltip__trigger--link">{% trans %}Specialist Tooltip Display Text - Visa Comments{% endtrans %}</span>
                <div class="css-tooltip__content">
                    {% trans %}Specialist Tooltip Content - Visa Comments{% endtrans %}
                </div>
            </div>
            {{ form_widget(form.visaRequirementsDesc, { 'attr': {'class': 'form-control'} }) }}
            {{ form_errors(form.visaRequirementsDesc) }}
        </div>
    </div>

    <div class="form-group">
        <fieldset>
            <legend class="label__required">{{form.requiredMedicalConditions.vars.label|trans}}</legend>
            {{ form_widget(form.requiredMedicalConditions, { 'attr': {'class': 'inline-labels'} }) }}
            {{ form_errors(form.requiredMedicalConditions) }}
        </fieldset>
    </div>

    <div class="form-group">
        <fieldset>
            <legend class="label__required">
                {% trans %}Are there any issues of medicine access that candidates should be made aware of?{% endtrans %}
            </legend>
            {{ form_widget(form.medicalAccessIssues, { 'attr': {'class': 'inline-labels'} }) }}
            {{ form_errors(form.medicalAccessIssues) }}
        </fieldset>
    </div>

    <div class="sub-fieldset">
        <div class="form-group">
            {{ form_label(form.medicalRestrictionsDesc, null, { 'label_attr': {'class': 'inline-block'} }) }}
            <div class="css-tooltip css-tooltip--bottom">
                <span class="css-tooltip__trigger css-tooltip__trigger--link">{% trans %}Specialist Tooltip Display Text - Medical restrictions{% endtrans %}</span>
                <div class="css-tooltip__content">
                    {% trans %}Specialist Tooltip Content - Medical restrictions{% endtrans %}
                </div>
            </div>
            {{ form_widget(form.medicalRestrictionsDesc, { 'attr': {'class': 'form-control'} }) }}
            {{ form_errors(form.medicalRestrictionsDesc) }}
        </div>
    </div>

    <div class="form-group">
        <fieldset>
            <legend class="label__required">
                {% trans %}Are there any vaccinations or medications that the Specialist is required or advised get?{% endtrans %}
            </legend>
            {{ form_widget(form.requiredVaccinations, { 'attr': {'class': 'inline-labels'} }) }}
            {{ form_errors(form.requiredVaccinations) }}
        </fieldset>
    </div>

    <div class="sub-fieldset">
        <div class="form-group">
            <label for="requirements_requiredVaccinationsDesc">
                {% trans %}Please describe required or advised vaccinations or medications.{% endtrans %}
            </label>
            {{ form_widget(form.requiredVaccinationsDesc, { 'attr': {'class': 'form-control'} }) }}
            {{ form_errors(form.requiredVaccinationsDesc) }}
        </div>
    </div>

    <div class="form-group">
        <fieldset>
            <legend class="label__required">
                {% trans %}Is there an age restriction?{% endtrans %}
            </legend>
            {{ form_widget(form.ageRestriction, { 'attr': {'class': 'inline-labels'} }) }}
            {{ form_errors(form.ageRestriction) }}
        </fieldset>
    </div>

    <div class="sub-fieldset">
        <div class="form-group">
            <label for="requirements_ageRestrictionDesc">
                {% trans %}Please describe age restriction.{% endtrans %}
            </label>
            {{ form_widget(form.ageRestrictionDesc, { 'attr': {'class': 'form-control'} }) }}
            {{ form_errors(form.ageRestrictionDesc) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.securityInfoDesc) }}
        {{ form_widget(form.securityInfoDesc, { 'attr': {'class': 'form-control'} }) }}
        {{ form_errors(form.securityInfoDesc) }}
    </div>

    <div class="form-group">
        {{ form_label(form.additionalRequirementsDesc) }}
        {{ form_widget(form.additionalRequirementsDesc, { 'attr': {'class': 'form-control'} }) }}
        {{ form_errors(form.additionalRequirementsDesc) }}
    </div>
{% endblock %}