{% extends 'project/common/base_wizard_step.html.twig' %}

{% block wizard_step_title %}
	<h2>
		Virtual Assignment Duties
		<small class="pull-right">Step 1 of 2</small>
	</h2>
{% endblock %}

{% block wizard_step_body %}

	<div class="form-group">
		{{ form_label(form.country, null, { 'label_attr': {'class': 'label__required'} }) }}
		<div class="select-wrapper">
		{{ form_widget(form.country, {'attr': {'class': 'form-select'}}) }}
		</div>
	</div>

	<div class="form-group">
		{{ form_label(form.otherCountries) }}
		{{ form_widget(form.otherCountries, {'attr': {'class': 'form-control'}}) }}
	</div>

{% endblock %}