{% extends 'project/common/base_wizard_step.html.twig' %}

{% block javascripts %}
	{{ parent() }}

	<script>
		jQuery(function($) {
			// Delete link action
			$('.link-delete-item').click(function(e) {
				e.preventDefault();
				if (confirm('{% trans %}Do you really want to delete this activity?{% endtrans %}')) {
					$('#virtual_assignment_deleteId').val($(this).siblings('.assignment_id').html());
					$('#virtual_assignment_here').trigger('click');
				}
			});

		});
	</script>
{% endblock %}

{% block wizard_step_title %}
	<h2>
		Virtual Assignment Duties
		<small class="pull-right">Step 2 of 2</small>
	</h2>
{% endblock %}

{% block wizard_step_body %}

	<div class="row">
		<div class="form-group col-md-6">
			{{ form_label(form.host) }}
			<div class="select-wrapper">
				{{ form_widget(form.host, {'attr': {'class': 'form-select'}}) }}
			</div>
		</div>

		<div class="form-group col-md-6">
			{{ form_label(form.newHost) }}
			{{ form_widget(form.newHost, {'attr': {'class': 'form-control'}}) }}
		</div>
	</div>

	<div class="row">
		<div class="form-group col-md-6">
			{{ form_label(form.startDate, null, { 'label_attr': {'class': 'label__required'} }) }}
			<div class="datepicker">
				{{ form_widget(form.startDate, { 'attr': {'class': 'form-control'} }) }}
			</div>
			<p class="mt-5 no-js">{% trans %}Please use this format: MM/DD/YYYY{% endtrans %}</p>
		</div>

		<div class="form-group col-md-6">
			{{ form_label(form.endDate, null, { 'label_attr': {'class': 'label__required'} }) }}
			<div class="datepicker">
				{{ form_widget(form.endDate, {'attr': {'class': 'form-control'}}) }}
			</div>
			<p class="mt-5 no-js">{% trans %}Please use this format: MM/DD/YYYY{% endtrans %}</p>
		</div>
	</div>
	<h4>{% trans %}Specialist Activities{% endtrans %}</h4>
	<div class="form-group">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th id="virtual_assignment_duty_activity_desc">{% trans %}Description of Activity{% endtrans %}</th>
					<th id="virtual_assignment_duty_audience">{% trans %}Description of Audience{% endtrans %}</th>
					<th id="virtual_assignment_duty_participants">{% trans %}Estimated number of participants{% endtrans %}</th>
					<th id="virtual_assignment_duty_hours_per_week">{% trans %}Estimated hours per week{% endtrans %}</th>
					<th id="virtual_assignment_duty_hours_total">{% trans %}Estimated Total estimated number of hours of work on this activity over course of Specialist assignment{% endtrans %}</th>
				</tr>
			</thead>
			<tbody>
			{% for activity in form.virtualAssignmentActivities %}
				{% set vaaid = 0 %}
				{% if activity.vars.value.id != null %}
					{% set vaaid = activity.vars.value.id %}
				{% endif %}
				<tr>
					<td {% if loop.index > 1 %}class="link-delete-item__wrapper"{% endif %} headers="virtual_assignment_duty_activity_desc">
						{% if loop.index > 1 %}
						<a href="{{  path('specialist_project_phase_virtual_assignment_activity_confirm_delete', {
							'id': specialistProject.id,
							'phase': phase,
							'aid': vaaid}) }}" class="link-delete-item text-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
						<span class="hidden assignment_id">{{ vaaid }}</span>
						{% endif %}
						{{ form_widget(activity.activityDesc, {'attr': {'class': 'form-control'}}) }}
					</td>
					<td headers="virtual_assignment_duty_audience">{{ form_widget(activity.audience, {'attr': {'class': 'form-control'}}) }}</td>
					<td headers="virtual_assignment_duty_participants">{{ form_widget(activity.participants, {'attr': {'class': 'form-control'}}) }}</td>
					<td headers="virtual_assignment_duty_hours_per_week">{{ form_widget(activity.hoursPerWeek, {'attr': {'class': 'form-control'}}) }}</td>
					<td headers="virtual_assignment_duty_hours_total">{{ form_widget(activity.hoursTotal, {'attr': {'class': 'form-control'}}) }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>

	<div class="form-group text-right">
		{{ form_widget(form.add, {'attr': {'class': 'btn btn-info'}}) }}
	</div>

	<div class="form-group">
		<fieldset>
			{{ form_label(form.platform, null, { 'label_attr': {'class': 'label__required'}}) }}
			{{ form_widget(form.platform, {'attr': {'class': 'form-control'}}) }}
		</fieldset>
	</div>

	<div class="form-group">
		<fieldset>
			{{ form_label(form.deliverablesDesc) }}
			{{ form_widget(form.deliverablesDesc, {'attr': {'class': 'form-control'}}) }}
		</fieldset>
	</div>

	<div class="form-group">
		<fieldset>
			{{ form_label(form.additionalComments) }}
			{{ form_widget(form.additionalComments, {'attr': {'class': 'form-control'}}) }}
		</fieldset>
	</div>

	<div class="hidden">
		{{ form_widget(form.deleteId) }}
		{{ form_widget(form.here, {'atrr': {'class': 'hidden'}}) }}
	</div>

{% endblock %}