{% extends 'base.html.twig' %}

{% block title %}Browse Fellow Proposals &#124; Proposal System{% endblock %}

{% macro allQueriesExcept(exceptions) %}
    {% for key, value in app.request.query.all if key not in exceptions %}
        {{_self.renderInput(key, value)}}
    {% endfor %}
{% endmacro %}

{% macro justQueries(keys) %}
    {% for key, value in app.request.query.all if key in keys %}
        {{_self.renderInput(key, value)}}
    {% endfor %}
{% endmacro %}

{% macro renderInput(key, value) %}
    {% if value is iterable %}
        {% for subkey, val in value %}
            {{_self.renderInput(key ~ '[' ~ subkey ~ ']', val)}}
        {% endfor %}
    {% else %}
        <input type="hidden" name="{{key}}" value="{{value}}" />
    {% endif %}
{% endmacro %}

{% block body %}
    <div class="widget-grid">
        {% if fellowProjects is not empty %}
        <div class="row">
            <div class="col-md-3">
                <div class="region region-content-left">
                    {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'filter'}}) }}
                    {{ form_widget(form, {'attr': {'novalidate': 'novalidate', 'class': 'filter'}}) }}

                    {{ _self.justQueries(['sort', 'sortDirection', 'cycle']) }}

                    {{ form_end(form) }}
                </div>
            </div>

            <div class="col-md-9">
        {% else %}
            <div class="col-md-12">
        {% endif %}
                <h1>Browse Fellow Proposals</h1>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            {% if totalECAContribution is not null %}
                            <div class="form-group inline-form col-sm-5">
                                <strong>{% trans %}Total ECA contribution of the approved proposals{% endtrans %}:</strong> {{ totalECAContribution|currency_format(0) }}
                            </div>

                            <div class="col-sm-offset-4 form-group inline-form col-sm-3">
                            {% else %}
                            <div class="col-sm-offset-9 form-group inline-form col-sm-3">
                            {% endif %}
                                {{ form_start(cycleForm, {'attr': {'class': 'filter-year'}}) }}

                                <div class="select-wrapper pull-right">
                                    {{ form_widget(cycleForm, { 'attr': {'class': 'btn-xs'} }) }}
                                </div>
                                <label for="cycle" class="pull-right">Fiscal year</label>

                                {{ _self.allQueriesExcept(['cycle']) }}
                                {{ form_end(cycleForm) }}
                            </div>
                        </div>
                    </div>

                    <div class="panel-body">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th id="project_reference_number" class="">
                                    {% trans %}Reference #{% endtrans %}
                                    <a href="?{{ app.request.query.all|merge({'sort': 'reference_number_s', 'sortDirection': 'asc'})|url_encode }}">
                                        &blacktriangledown;
                                    </a>
                                </th>
                                <th id="project_status" class="col-lg-2 col-md-2">
                                    {% trans %}Proposal status{% endtrans %}
                                    <a href="?{{ app.request.query.all|merge({'sort': 'proposal_status_s', 'sortDirection': 'asc'})|url_encode }}">
                                        &blacktriangledown;
                                    </a>
                                </th>
                                <th id="project_outcome" class="col-lg-1 col-md-1">
                                    {% trans %}Proposal Outcome{% endtrans %}
                                    <a href="?{{ app.request.query.all|merge({'sort': 'project_outcome_s', 'sortDirection': 'asc'})|url_encode }}">
                                        &blacktriangledown;
                                    </a>
                                </th>
                                <th id="project_region" class="col-lg-1 col-md-1">
                                    {% trans %}Region{% endtrans %}
                                    <a href="?{{ app.request.query.all|merge({'sort': 'region_s', 'sortDirection': 'asc'})|url_encode }}">
                                        &blacktriangledown;
                                    </a>
                                </th>
                                <th id="project_rpo_ranking" class="col-lg-1 col-md-1">
                                    {% trans %}RPO ranking{% endtrans %}
                                    <a href="?{{ app.request.query.all|merge({'sort': 'rpo_ranking_s', 'sortDirection': 'asc'})|url_encode }}">
                                        &blacktriangledown;
                                    </a>
                                </th>
                                <th id="project_relo_location" class="col-lg-2 col-md-2">
                                    {% trans %}RELO Location{% endtrans %}
                                    <a href="?{{ app.request.query.all|merge({'sort': 'relo_location_s', 'sortDirection': 'asc'})|url_encode }}">
                                        &blacktriangledown;
                                    </a>
                                </th>
                                <th id="project_relo_ranking" class="col-lg-1 col-md-1">
                                    {% trans %}RELO ranking{% endtrans %}
                                    <a href="?{{ app.request.query.all|merge({'sort': 'relo_ranking_s', 'sortDirection': 'asc'})|url_encode }}">
                                        &blacktriangledown;
                                    </a>
                                </th>
                                <th id="project_country" class="col-lg-1 col-md-1">
                                    {% trans %}Country{% endtrans %}
                                    <a href="?{{ app.request.query.all|merge({'sort': 'country_s', 'sortDirection': 'asc'})|url_encode }}">
                                        &blacktriangledown;
                                    </a>
                                </th>
                                <th id="project_host_institution" class="col-lg-2 col-md-2">
                                    {% trans %}Host Institution{% endtrans %}
                                    <a href="?{{ app.request.query.all|merge({'sort': 'host_institution_s', 'sortDirection': 'asc'})|url_encode }}">
                                        &blacktriangledown;
                                    </a>
                                </th>
                                <th id="project_cycle" class="col-lg-1 col-md-1">
                                    {% trans %}Cycle{% endtrans %}
                                    <a href="?{{ app.request.query.all|merge({'sort': 'project_cycle_s', 'sortDirection': 'asc'})|url_encode }}">
                                        &blacktriangledown;
                                    </a>
                                </th>
                            </tr>
                            </thead>

                            <tbody>
                            {# @var fellowProject \AppBundle\Entity\FellowProject #}
                            {% for fellowProject in fellowProjects %}
                                {# @var projectGeneralInfo \AppBundle\Entity\ProjectGeneralInfo #}
                                {% set projectGeneralInfo = fellowProject.projectGeneralInfo %}

                                {# @var locationHost \AppBundle\Entity\LocationHostInfo #}
                                {% set locationHost = fellowProject.locationHostInfo %}

                                <tr>
                                    <td headers="project_reference_number">
                                        <a href="{{ path('project_fellow_show', {id: fellowProject.id}) }}">
                                            {{ projectGeneralInfo.referenceNumber }}
                                        </a>
                                    </td>
                                    <td headers="project_status">
                                        {{ projectGeneralInfo.proposalStatusText }}
                                    </td>
                                    <td headers="project_outcome">
                                        {% if projectGeneralInfo.projectOutcome is not null %}
                                            {{ projectGeneralInfo.projectOutcome.name }}
                                        {% endif %}
                                    </td>
                                    <td headers="project_region">
                                        {% if projectGeneralInfo.region is not null %}
                                            {{ projectGeneralInfo.region.acronym }}
                                        {% endif %}
                                    </td>
                                    <td headers="project_rpo_ranking">
                                        {% if projectGeneralInfo.rpoRanking is not null %}
                                            {{ projectGeneralInfo.rpoRanking }}
                                        {% endif %}
                                    </td>
                                    <td headers="project_relo_location">
                                        {% if projectGeneralInfo.reloLocation is not null %}
                                            {{ projectGeneralInfo.reloLocation.name }}
                                        {% endif %}
                                    </td>
                                    <td headers="project_relo_ranking">
                                        {% if projectGeneralInfo.reloRanking is not null %}
                                            {{ projectGeneralInfo.reloRanking }}
                                        {% endif %}
                                    </td>
                                    <td headers="project_country">
                                        {% if projectGeneralInfo.countries is not empty %}
                                            {{ projectGeneralInfo.countries.last.name }}
                                        {% endif %}
                                    </td>
                                    <td headers="project_host_institution">
                                        {% if locationHost is not null and locationHost.host is not null %}
                                            {{ locationHost.host }}
                                        {% endif %}
                                    </td>
                                    <td headers="project_cycle">
                                        {% if fellowProject.cycleSeason is not null %}
                                            {{ fellowProject.cycleSeason|title }}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="10" headers="project_reference_number">
                                        {% trans %}There are no Fellow proposals.{% endtrans %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        {% if fellowProjects is not empty %}
        </div>
        {% endif %}
    </div>
{% endblock %}
