{% extends "::base.html.twig" %}

{% block title %}Confirm Removal of Cost Item{% endblock %}

{% block body %}
	{# @var locationHostInfo \AppBundle\Entity\LocationHostInfo #}
	{% set projectGeneralInfo = fellowProject.projectGeneralInfo %}

	{# @var locationHostInfo \AppBundle\Entity\LocationHostInfo #}
	{% set locationHostInfo = fellowProject.locationHostInfo %}

	<h1>Fellow Project Removal</h1>

<div class="panel">
	<div class="panel-body">
		<h2>Are you sure you want to delete the Fellow Project?</h2>
		<table class="table table-bordered table__view-mode">
			<tbody>
			<tr>
				<th>{% trans %}Id:{% endtrans %}</th>
				<td>{{ projectGeneralInfo.referenceNumber }}</td>
			</tr>
			<tr>
				<th>{% trans %}Region:{% endtrans %}</th>
				<td>{{ projectGeneralInfo.region}}</td>
			</tr>
			<tr>
				<th>{% trans %}Country:{% endtrans %}</th>
				<td>
					{% if projectGeneralInfo.countries.first %}
						{{ projectGeneralInfo.countries.first.name}}
					{% endif %}
				</td>
			</tr>
			<tr>
				<th>{% trans %}Host:{% endtrans %}</th>
				<td>
					{% if locationHostInfo %}
						{{ locationHostInfo.host}}
					{% endif %}
				</td>
			</tr>
			</tbody>
		</table>

		<div class="confirm-delete-btns well text-right">
			<a href="{{ path('project_fellow_show', {
				'id': fellowProject.id
			}) }}" class="btn btn-default mr-5">{% trans %}Cancel{% endtrans %}</a>
			{{ form_start(deleteForm) }}
			<input type="submit" value="{% trans %}Delete{% endtrans %}" class="btn btn-danger ml-5">
		</div>
	</div>
</div>

			
			{{ form_end(deleteForm) }}
{% endblock %}
