<div class="panel-footer">
    <div class="row">
        <div class="col-md-4">
            {{ form_widget(form.save, { 'attr': {'class': 'btn btn-link btn-lg'} }) }}
        </div>
        <div class="col-md-4 text-center">
            {% if goBack %}
                {{ form_widget(form.back, { 'attr': {'class': 'btn btn-default btn-lg'} }) }}
            {% endif %}            
        </div>
        <div class="col-md-4 text-right">
            {{ form_widget(form.next, { 'attr': {'class': 'btn btn-success btn-lg'} }) }}
        </div>
        {{ form_row(form._token) }}
    </div>
</div>