{% extends 'base.html.twig' %}

{% block body %}
    {# @var projectGeneralInfo \AppBundle\Entity\ProjectGeneralInfo #}
    {% set projectGeneralInfo = fellowProject.projectGeneralInfo %}

	{% include 'fellowproject/submission_main_heading.html.twig' %}

	{% if fellowProjectPresenter.isProposalSubmitted %}
		<div class="row">
		<div class="col-md-9 vertical-scroll-box">
	{% endif %}

	{% include 'fellowproject/show_navigation.html.twig' %}

	{{ form_start(form) }}

    {# General Information #}
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2 class="pull-left">
				General Information
                <small>&#40;{{ fellowProjectPresenter.getProjectGeneralInfoSectionStatus.status }}&#41;</small>
            </h2>

			{% if is_granted('edit', projectGeneralInfo) %}
                <a href="{{ path('project_fellow_region', { 'id': fellowProject.id }) }}" class="btn btn-info pull-right">
                    {% trans %}Edit{% endtrans %}
                </a>
            {% endif %}
		</div>
		<table class="table table__view-mode">
			<tbody>
			<tr>
				<th>{{ 'label.region'|trans }}</th>
				<td>{{ fellowProject.projectGeneralInfo.region }}</td>
			</tr>

			<tr>
				<th>{{ 'label.country'|trans }}</th>
				<td>
					{% for country in fellowProject.projectGeneralInfo.countries %}
						{% if loop.last %}
							{{ country.name }}
						{% else %}
							{{ country.name }},
						{% endif %}
					{% endfor %}
				</td>
			</tr>

			<tr>
				<th>{{ 'label.post'|trans }}</th>
				<td>{{ fellowProject.projectGeneralInfo.posts.last }}</td>
			</tr>

			<tr>
				<th>{{ 'label.relo_location'|trans }}</th>
				<td>{{ fellowProject.projectGeneralInfo.reloLocation }}</td>
			</tr>

			<tr>
				<th>{{ 'label.proposed_start_date'|trans }}</th>
				<td>{% if fellowProject.proposedStartDate %}{{ fellowProject.proposedStartDate|date('m/d/Y') }}{% endif %}</td>
			</tr>

			<tr>
				<th>{{ 'label.proposed_end_date'|trans }}</th>
				<td>{% if fellowProject.proposedEndDate %}{{ fellowProject.proposedEndDate|date('m/d/Y') }}{% endif %}</td>
			</tr>

			<tr>
				<th>{{ 'label.cycle_season'|trans }}</th>
				<td>{{ fellowProject.cycleSeason|capitalize }}</td>
			</tr>

			<tr>
				<th>{% trans %}Is the start date flexible?{% endtrans %}</th>
				<td>
					{% if fellowProject.proposedStartDateFlexible is not null %}
						{% if fellowProject.proposedStartDateFlexible %}Yes{% else %}No{% endif %}
					{% endif %}
				</td>
			</tr>

			<tr>
				<th>{{ 'label.cycle_season_desc'|trans }}</th>
				<td>{{ fellowProject.cycleSeasonDesc }}</td>
			</tr>

			</tbody>
		</table>
	</div>

    {# Points of Contact #}
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2 class="pull-left">
                Points of Contact
                <small>&#40;{{ fellowProjectPresenter.getPointOfContactsSectionStatus.status }}&#41;</small>
            </h2>

			{% if is_granted('edit', projectGeneralInfo) %}
                <a href="{{ path('project_fellow_contact_points', { 'id': fellowProject.id }) }}" class="btn btn-info pull-right">
                    {% trans %}Edit{% endtrans %}
                </a>
            {% endif %}
		</div>

		<table class="table table__view-mode">
			<tbody>
			{# @var contactPoint \AppBundle\Entity\ContactPoint #}
			{% for contactPoint in fellowProject.projectGeneralInfo.contactPoints %}
				{% set contactPointType = contactPoint.type %}

				<tr>
					<th colspan="2" class="table-title">
						{% if 0 == contactPointType %}
							{% trans %}Primary{% endtrans %}
						{% elseif 1 == contactPointType %}
							{% trans %}Secondary{% endtrans %}
						{% elseif 2 == contactPointType %}
							{% trans %}Additional{% endtrans %}
						{% endif %} Point of Contact
					</th>
				</tr>

				<tr>
					<th>{% trans %}First Name{% endtrans %}</th>
					<td>{{ contactPoint.firstName }}</td>
				</tr>

				<tr>
					<th>{% trans %}Last Name{% endtrans %}</th>
					<td>{{ contactPoint.lastName }}</td>
				</tr>

				<tr>
					<th>{{ 'label.title'|trans }}</th>
					<td>{{ contactPoint.title|replace({'-': ' '}) }}</td>
				</tr>

				<tr>
					<th>{{ 'label.email'|trans }}</th>
					<td>{{ contactPoint.email }}</td>
				</tr>

                <tr>
                    <th>{% trans %}Alternate Email{% endtrans %}</th>
                    <td>{{ contactPoint.alternateEmail }}</td>
                </tr>

                <tr>
                    <th>
                        {% trans %}If this person will be departing this post, please select the anticipated departure
                        date.{% endtrans %}
                    </th>
                    <td>
                        {% if contactPoint.anticipatedDepartureDate %}
                            {{ contactPoint.anticipatedDepartureDate|date('m/d/Y') }}
                        {% endif %}
                    </td>
                </tr>
			{% endfor %}
			</tbody>
		</table>
	</div>

    {# Requirements and Restrictions #}
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2 class="pull-left">
                Requirements and Restrictions
                <small>&#40;{{ fellowProjectPresenter.getProjectRequirementsSectionStatus.status }}&#41;</small>
            </h2>

			{% if is_granted('edit', projectGeneralInfo) %}
                <a href="{{ path('project_fellow_requirements', { 'id': fellowProject.id }) }}" class="btn btn-info pull-right">
                    {% trans %}Edit{% endtrans %}
                </a>
            {% endif %}
		</div>
		<table class="table table__view-mode">
			<tbody>
			<tr>
				<th>{{ 'label.visa_prior_arrival'|trans }}</th>
				<td>
					{% if fellowProject.projectGeneralInfo.visaPriorArrival is not null %}
						{% if fellowProject.projectGeneralInfo.visaPriorArrival %}Yes{% else %}No{% endif %}
					{% endif %}
				</td>
			</tr>

			<tr>
				<th>{{ 'label.visa_avg_length'|trans }}</th>
				<td>{{ fellowProject.projectGeneralInfo.visaAvgLength }}</td>
			</tr>

			<tr>
				<th>{{ 'label.visa_requirements_desc'|trans }}</th>
				<td>{{ fellowProject.projectGeneralInfo.visaRequirementsDesc }}</td>
			</tr>

			<tr>
				<th>{{ 'label.medical_access_issues'|trans }}</th>
				<td>
					{% if fellowProject.projectGeneralInfo.requiredMedicalConditions is not null %}
						{% if fellowProject.projectGeneralInfo.requiredMedicalConditions %}Yes{% else %}No{% endif %}
					{% endif %}
				</td>
			</tr>

			<tr>
				<th>{% trans %}Are there any issues of medicine access that candidates should be made aware
					of?{% endtrans %}</th>
				<td>
					{% if fellowProject.projectGeneralInfo.medicalAccessIssues is not null %}
						{% if fellowProject.projectGeneralInfo.medicalAccessIssues %}Yes{% else %}No{% endif %}
					{% endif %}
				</td>
			</tr>

			<tr>
				<th>{{ 'label.medical_restrictions_desc'|trans }}</th>
				<td>{{ fellowProject.projectGeneralInfo.medicalRestrictionsDesc }}</td>
			</tr>

			<tr>
				<th>{% trans %}Is there an age restriction?{% endtrans %}</th>
				<td>
					{% if fellowProject.projectGeneralInfo.ageRestriction is not null %}
						{% if fellowProject.projectGeneralInfo.ageRestriction %}Yes{% else %}No{% endif %}
					{% endif %}
				</td>
			</tr>

			<tr>
				<th>{% trans %}Please describe age restriction.{% endtrans %}</th>
				<td>{{ fellowProject.projectGeneralInfo.ageRestrictionDesc }}</td>
			</tr>

			<tr>
				<th>{{ 'label.degree_requirements'|trans }}</th>
				<td>
					{% if fellowProject.projectGeneralInfo.degreeRequirements is not null %}
						{% if fellowProject.projectGeneralInfo.degreeRequirements %}Yes{% else %}No{% endif %}
					{% endif %}
				</td>
			</tr>

			<tr>
				<th>{{ 'label.degree_requirements_desc'|trans }}</th>
				<td>{{ fellowProject.projectGeneralInfo.degreeRequirementsDesc }}</td>
			</tr>

			<tr>
				<th>{{ 'label.security_info_desc'|trans }}</th>
				<td>{{ fellowProject.projectGeneralInfo.securityInfoDesc }}</td>
			</tr>

			<tr>
				<th>{{ 'label.additional_requirements_desc'|trans }}</th>
				<td>{{ fellowProject.projectGeneralInfo.additionalRequirementsDesc }}</td>
			</tr>
			</tbody>
		</table>
	</div>

    {# Dependents #}
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2 class="pull-left">
                Dependents
                <small>&#40;{{ fellowProjectPresenter.getHousingInfoSectionStatus.status }}&#41;</small>
            </h2>

			{% if is_granted('edit', projectGeneralInfo) %}
                <a href="{{ path('project_fellow_project_house_info', { 'id': fellowProject.id }) }}" class="btn btn-info pull-right">
                    {% trans %}Edit{% endtrans %}
                </a>
            {% endif %}
		</div>
		<table class="table table__view-mode">
			<tbody>
			<tr>
				<th>{{ 'label.bring_dependents'|trans }}</th>
				<td>
					{% if fellowProject.bringDependents is not null %}
						{% if fellowProject.bringDependents %}Yes{% else %}No{% endif %}
					{% endif %}
				</td>
			</tr>

			<tr>
				<th>{% trans %}Can the Fellow bring children?{% endtrans %}</th>
				<td>
					{% if fellowProject.bringChildren is not null %}
						{% if fellowProject.bringChildren %}Yes{% else %}No{% endif %}
					{% endif %}
				</td>
			</tr>

			<tr>
				<th>{% trans %}Can the Fellow bring an unmarried partner?{% endtrans %}</th>
				<td>
					{% if fellowProject.bringUnmarriedPartner is not null %}
						{% if fellowProject.bringUnmarriedPartner %}Yes{% else %}No{% endif %}
					{% endif %}
				</td>
			</tr>

			<tr>
				<th>{% trans %}Can the Fellow bring a same-sex partner/spouse?{% endtrans %}</th>
				<td>
					{% if fellowProject.bringSameSexSpouse is not null %}
						{% if fellowProject.bringSameSexSpouse %}Yes{% else %}No{% endif %}
					{% endif %}
				</td>
			</tr>

            <tr>
                <th>{% trans %}Can the Fellow bring a same-sex partner?{% endtrans %}</th>
                <td>
                    {% if fellowProject.bringSameSexPartner is not null %}
                        {% if fellowProject.bringSameSexPartner %}Yes{% else %}No{% endif %}
                    {% endif %}
                </td>
            </tr>

			<tr>
				<th>{{ 'label.dependent_restrictions_desc'|trans }}</th>
				<td>{{ fellowProject.dependentRestrictionsDesc }}</td>
			</tr>

			<tr>
				<th>{{ 'Is housing suitable for dependents?'|trans }}</th>
				<td>
					{% if fellowProject.housingDependents is not null %}
						{% if fellowProject.housingDependents %}Yes{% else %}No{% endif %}
					{% endif %}
				</td>
			</tr>

            <tr>
                <th>
                    {% trans %}If the housing is not suitable for dependents, would Post/Host allow the Fellow to
                    use their own funds to find suitable housing?{% endtrans %}</th>
                <td>
                    {% if fellowProject.fellowFundsHousing is not null %}
                        {% if fellowProject.fellowFundsHousing %}Yes{% else %}No{% endif %}
                    {% endif %}
                </td>
            </tr>

			<tr>
				<th>{{ 'Please provide dependent housing information'|trans }}</th>
				<td>{{ fellowProject.housingDependentInfo }}</td>
			</tr>

			</tbody>
		</table>
	</div>

    {# Certifications #}
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2 class="pull-left">
                Certifications
                <small>&#40;{{ fellowProjectPresenter.getCertificationsSectionStatus.status }}&#41;</small>
            </h2>

			{% if is_granted('edit', projectGeneralInfo) %}
                <a href="{{ path('project_fellow_certifications', { 'id': fellowProject.id }) }}" class="btn btn-info pull-right">
                    {% trans %}Edit{% endtrans %}
                </a>
            {% endif %}
		</div>
		<table class="table table__view-mode">
			<tbody>
			<tr>
				<th>{{ 'label.rso_certification'|trans }}</th>
				<td>
					{% if fellowProject.projectGeneralInfo.rsoCertification is not null and fellowProject.projectGeneralInfo.rsoCertification %}
						{% trans %}Post certifies that RSO has no objection{% endtrans %}
					{% endif %}
				</td>
			</tr>

			<tr>
				<th>{{ 'label.housing_certification'|trans }}</th>
				<td>
					{% if fellowProject.projectGeneralInfo.housingCertification is not null and fellowProject.projectGeneralInfo.housingCertification %}
						{% trans %}Post agrees to ensure suitable housing is provided{% endtrans %}
					{% endif %}
				</td>
			</tr>

			<tr>
				<th>{{ 'label.visa_certification'|trans }}</th>
				<td>
					{% if fellowProject.projectGeneralInfo.visaCertification is not null and fellowProject.projectGeneralInfo.visaCertification %}
						{% trans %}Post agrees to provide visa information{% endtrans %}
					{% endif %}
				</td>
			</tr>

			<tr>
				<th>{{ 'label.medical_certification'|trans }}</th>
				<td>
					{% if fellowProject.projectGeneralInfo.medicalCertification is not null and fellowProject.projectGeneralInfo.medicalCertification %}
						{% trans %}Post agrees to provide a list of medical facilities{% endtrans %}
					{% endif %}
				</td>
			</tr>

			<tr>
				<th>{{ 'label.post_arrival_certification'|trans }}</th>
				<td>
					{% if fellowProject.projectGeneralInfo.postArrivalCertification is not null and fellowProject.projectGeneralInfo.postArrivalCertification %}
						{% trans %}Post agrees to arrange an in-country orientation{% endtrans %}
					{% endif %}
				</td>
			</tr>

			<tr>
				<th>{{ 'label.cost_sharing_certification'|trans }}</th>
				<td>
					{% if fellowProject.projectGeneralInfo.costSharingCertification is not null and fellowProject.projectGeneralInfo.costSharingCertification %}
						{% trans %}Post agrees to assume unfulfilled cost-sharing commitments{% endtrans %}
					{% endif %}
				</td>
			</tr>
			</tbody>
		</table>
	</div>

    {# Location & Host Institutio #}
	<div class="panel panel-default">
        {# @var locationHostInfo \AppBundle\Entity\LocationHostInfo #}
        {% set locationHostInfo = fellowProject.locationHostInfo %}

		<div class="panel-heading">
			<h2 class="pull-left">
                Location &amp; Host Institution
                <small>&#40;{{ fellowProjectPresenter.getLocationHostInfoSectionStatus.status }}&#41;</small>
            </h2>

			{% if is_granted('edit', projectGeneralInfo) %}
                <a href="{{ path('project_fellow_location_host_info', {'id': fellowProject.id }) }}" class="btn btn-info pull-right">
                    {% trans %}Edit{% endtrans %}
                </a>
            {% endif %}
		</div>
		<table class="table table__view-mode">

			{% if locationHostInfo is not null %}
				<tr>
					<th>{{ 'label.country'|trans }}</th>
					<td>{{ locationHostInfo.country }}</td>
				</tr>

				<tr>
					<th>{{ 'label.host_city'|trans }}</th>
					<td>{{ locationHostInfo.hostCity }}</td>
				</tr>

				<tr>
					<th>{{ 'Description of Host city'|trans }}</th>
					<td>{{ locationHostInfo.hostCityDescription }}</td>
				</tr>

				<tr>
					<th>{% trans %}Host Institution{% endtrans %}</th>
					<td>{{ locationHostInfo.host }}</td>
				</tr>

				<tr>
					<th>{{ 'label.host_academic_year'|trans }}</th>
					<td>
						{% if locationHostInfo.hostAcademicYear is not null %}
							{% if locationHostInfo.hostAcademicYear %}Yes{% else %}No{% endif %}
						{% endif %}
					</td>
				</tr>

				<tr>
					<th>{{ 'label.host_academic_year_start_date'|trans }}</th>
					<td>
						{% if locationHostInfo.hostAcademicYearStartDate is not null %}
							{{ locationHostInfo.hostAcademicYearStartDate|date('m/d/Y') }}
						{% endif %}
					</td>
				</tr>

				<tr>
					<th>{{ 'label.host_academic_year_end_date'|trans }}</th>
					<td>
						{% if locationHostInfo.hostAcademicYearEndDate is not null %}
							{{ locationHostInfo.hostAcademicYearEndDate|date('m/d/Y') }}
						{% endif %}
					</td>
				</tr>

				<tr>
					<th>{{ 'label.new_host'|trans }}</th>
					<td>
						{% if locationHostInfo.newHost is not null %}
							{% if locationHostInfo.newHost %}Yes{% else %}No{% endif %}
						{% endif %}
					</td>
				</tr>

				<tr>
					<th>{{ 'label.fellow_at_host'|trans }}</th>
					<td>{{ locationHostInfo.fellowAtHost }}</td>
				</tr>

				<tr>
					<th>{{ 'label.current_fellow_name'|trans }}</th>
					<td>{{ locationHostInfo.currentFellowName }}</td>
				</tr>

				<tr>
					<th>{{ 'label.host_desc'|trans }}</th>
					<td>{{ locationHostInfo.hostDesc }}</td>
				</tr>

				<tr>
					<th>{% trans %}Additional Host Institution/Location information{% endtrans %}</th>
					<td>{{ locationHostInfo.additionalInfoDesc }}</td>
				</tr>
			{% endif %}
		</table>
	</div>

    {# Fellowship Duties and Mission Goals #}
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2 class="pull-left">
                Fellowship Duties and Mission Goals
                <small>&#40;{{ fellowProjectPresenter.getFellowshipDutySectionStatus.status }}&#41;</small>
            </h2>

			{% if is_granted('edit', projectGeneralInfo) %}
                <a href="{{ path('fellow_project_fellowship_duties', { 'id': fellowProject.id }) }}" class="btn btn-info pull-right">
                    {% trans %}Edit{% endtrans %}
                </a>
            {% endif %}
		</div>
		<div class="panel-body">
			<h3>{% trans %}Primary Duties{% endtrans %}</h3>

			<table class="table table-bordered">
				<thead>
				<tr class="lighter-blue-bg">
					<th id="fellowship_duty_primary_description" class="col-lg-4 col-md-4">
						{{ 'label.activity_desc'|trans }}</th>
					<th id="fellowship_duty_primary_activity_focus" class="col-lg-4 col-md-4">
						{{ 'label.skill_needed'|trans }}</th>
					<th id="fellowship_duty_primary_activity_hours" class="col-lg-1 col-md-1">
						{% trans %}Estimate of hours per week{% endtrans %}
						</th>
					<th id="fellowship_duty_primary_activity_audience" class="col-lg-3 col-md-3">
						{{ 'label.audience'|trans }}
					</th>
				</tr>
				</thead>
				<tbody>
					{% for dutyActivity in fellowProject.DutyPrimaryActivities %}
						<tr>
							<td headers="fellowship_duty_primary_description">
								{{ dutyActivity.description }}
							</td>
							<td headers="fellowship_duty_primary_activity_focus">
								{% if dutyActivity.activitiesFocus is not empty %}
									<ul class="list-unstyled">
										{% for activityFocus in dutyActivity.activitiesFocus %}
											<li class="mt-5">{{ activityFocus.name }}</li>
										{% endfor %}
									</ul>
								{% endif %}
							</td>
							<td headers="fellowship_duty_primary_activity_hours">
								{{ dutyActivity.hoursNumber }}
							</td>
							<td headers="fellowship_duty_primary_activity_audience">
								{{ dutyActivity.audience }}
							</td>
						</tr>
					{% else %}
						<tr>
							<td headers="fellowship_duty_primary_description" colspan="5">
								There are no Primary Activities.
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

			<h3>{% trans %}Secondary Duties{% endtrans %}</h3>

			<table class="table table-bordered">
				<thead>
				<tr class="lighter-blue-bg">
					<th id="fellowship_duty_secondary_activity_description" class="col-lg-3 col-md-3">
						{{ 'label.activity_desc'|trans }}
					</th>
					<th id="fellowship_duty_secondary_activity_focus" class="col-lg-4 col-md-4">
						{{ 'label.skill_needed'|trans }}
					</th>
					<th id="fellowship_duty_secondary_activity_hours" class="col-lg-1 col-md-1">
						{% trans %}Estimate of hours{% endtrans %}
						</th>
					<th id="fellowship_duty_secondary_activity_period" class="col-lg-1 col-md-1">
						{{ 'label.hours_period'|trans }}
					</th>
					<th id="fellowship_duty_secondary_activity_audience" class="col-lg-3 col-md-3">
						{{ 'label.audience'|trans }}
					</th>
				</tr>
				</thead>
				<tbody>
					{% for dutyActivity in fellowProject.getDutySecondaryActivities %}
						<tr>
							<td headers="fellowship_duty_secondary_activity_description">
								{{ dutyActivity.description }}
							</td>
							<td headers="fellowship_duty_secondary_activity_focus">
								{% if dutyActivity.activitiesFocus is not empty %}
									<ul class="list-unstyled">
										{% for activityFocus in dutyActivity.activitiesFocus %}
											<li class="mt-5">{{ activityFocus.name }}</li>
										{% endfor %}
									</ul>
								{% endif %}
							</td>
							<td headers="fellowship_duty_secondary_activity_hours">
								{{ dutyActivity.hoursNumber }}
							</td>
							<td headers="fellowship_duty_secondary_activity_period">
								{{ dutyActivity.hoursPeriod|title }}
							</td>
							<td headers="fellowship_duty_secondary_activity_audience">
								{{ dutyActivity.audience }}
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="5">There are no Secondary Activities.</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

			<h3>Mission Goals</h3>

			<table class="table table__view-mode">
				<tbody>
					<tr>
						<th>{{ 'label.post_mission_goals_desc'|trans }}</th>
						<td>{{ fellowProject.projectGeneralInfo.postMissionGoalsDesc }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

    {# Budget #}
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2 class="pull-left">
                Budget
                <small>&#40;{{ fellowProjectPresenter.getBudgetSectionStatus.status }}&#41;</small>
            </h2>

			{% if is_granted('edit', projectGeneralInfo) %}
                <a href="{{ path('fellow_project_budget_funded', { 'id': fellowProject.id }) }}" class="btn btn-info pull-right">
                    {% trans %}Edit{% endtrans %}
                </a>
            {% endif %}
		</div>

		{% if fellowProject.fellowProjectBudget and fellowProject.fellowProjectBudget.budgetCostItems.count > 0  %}
			<div class="panel-body">

				<strong>{% trans %}This proposal is requesting: {% endtrans %}</strong>

				{% if fellowProject.fellowProjectBudget.fundedby == 'ECA' %}
					<span>{% trans %}Funding from ECA (in part or in full){% endtrans %} </span>
					<br><br>
					{% include 'fellowprojectbudget/review_costs_items_eca.html.twig' %}
				{% else %}
					<span>{% trans %}No funding from ECA{% endtrans %} </span>
					<br><br>
					<strong>{% trans %}Post funding source:{% endtrans %}</strong>
					<p>{{ fellowProject.fellowProjectBudget.postFundingSource }}</p>
					{% include 'fellowprojectbudget/review_costs_items_post.html.twig' %}
				{% endif %}

			</div>
		{% endif %}

	</div>

	{{ form_row(form._token) }}
	{{ form_end(form, {'render_rest': false}) }}

	{% include 'fellowproject/show_navigation.html.twig' %}

	{% if fellowProjectPresenter.isProposalSubmitted %}
		</div >

		<div class="col-md-3 vertical-scroll-box">
			{{ render(controller('AppBundle:FellowProjectReview:review', {'id': fellowProject.id})) }}
		</div>

	</div>
	{% endif %}

{% endblock %}
