<h1>Fellow Proposal Submission</h1>
<ul class="list-inline">
    {# @var projectGeneralInfo \AppBundle\Entity\ProjectGeneralInfo #}
    {% set projectGeneralInfo = fellowProject.projectGeneralInfo %}

    {# @var locationHostInfo \AppBundle\Entity\LocationHostInfo #}
    {% set locationHostInfo = fellowProject.locationHostInfo %}

    <li>
        <strong>Ref. #:</strong> {{ projectGeneralInfo.referenceNumber }}
    </li>

    {% if projectGeneralInfo.region is not null %}
        <li>
            <strong>Region:</strong> {{ projectGeneralInfo.region }}
        </li>
    {% endif %}

    {% if projectGeneralInfo.countries|length > 0 %}
        <li>
            <strong>Country:</strong>
            {% for country in projectGeneralInfo.countries %}
                {% if loop.last %}
                    {{ country.name }}
                {% else %}
                    {{ country.name }},
                {% endif %}
            {% endfor %}
        </li>
    {% endif %}

    {# It is necessary to check that Location & Host Info is already created #}
    {% if (locationHostInfo is not null) and (locationHostInfo.host is not null) %}
        <li>
            <strong>Host:</strong> {{ locationHostInfo.host }}
        </li>
    {% endif %}
</ul>
<hr/>