{% extends "::base.html.twig" %}

{% block title %}AppBundle:FellowProjectBudget:compareVersions{% endblock %}

{% block body %}
<h1>Welcome to the FellowProjectBudget:compareVersions page</h1>
{% endblock %}
