{% extends "::base.html.twig" %}

{% block title %}Confirm Removal of Cost Item{% endblock %}

{% block body %}
    <h1>Custom Cost Item removal</h1>

    <h2>Are you sure you want to remove the cost item?</h2>
    <table>
        <tbody>
            <tr>
                <th>{% trans %}Id{% endtrans %}</th>
                <td>{{ projectCostItem.id }}</td>
            </tr>
            <tr>
                <th>{% trans %}Name{% endtrans %}</th>
                <td>{{ projectCostItem.costItem.description }}</td>
            </tr>
            <tr>
                <th>{% trans %}Default value{% endtrans %}</th>
                <td>{{ projectCostItem.fullCost }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('fellow_project_budget_costs', {
                'pid': projectCostItem.fellowProjectBudget.fellowProject.id,
                'bid': projectCostItem.fellowProjectBudget.id,
            }) }}">{% trans %}Cancel{% endtrans %}</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="{% trans %}Delete{% endtrans %}">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
