{% extends "::base.html.twig" %}

{% block title %}AppBundle:FellowProjectBudget:costItems{% endblock %}

{% block javascripts %}
	{{ parent() }}

	{# To enable masked entries for input fields in table #}
	<script src="{{ asset('dist/scripts/jquery-maskmoney.js') }}"></script>
	<script>
		jQuery(function ($) {
			// $ format for fields
			$('.form-group input.masked, .form-group input.masked-delayed').maskMoney({
				'prefix': '$',
				'precision': 0,
				'allowZero': true
			});
			$('.form-group input.masked-readonly').maskMoney({
				'prefix': '$',
				'precision': 0,
				'allowZero': true,
				'allowNegative': true
			});
			$('.form-group input.masked, .form-group input.masked-readonly').maskMoney('mask');

			// Delete link action
			$('.link-delete-cost-item').click(function(e) {
				e.preventDefault();
				if (confirm('{% trans %}Do you really want to delete this cost item?{% endtrans %}')) {
					$('#fellow_project_budget_delete_id').val($(this).siblings('.cost_item_id').html());
					$('#fellow_project_budget_calculate1').trigger('click');
				}
			});

		});
	</script>
{% endblock %}

{% block body %}

	{% include 'fellowproject/submission_main_heading.html.twig' %}

	{{ form_start(form) }}

	<div class="panel panel-primary panel-wizard">
		<div class="panel-heading">
			<h2>Budget<small class="pull-right">Step 2 of 3</small></h2>
		</div>

		{{ form_errors(form) }}

		<div class="panel-body">
			<h3 class="fieldset__subtitle">{% trans %}Costs of Living{% endtrans %}</h3>

			<div class="form-group">
				<table class="table table-bordered table-budget">
					<thead>
					<tr class="header">
						<th>{% trans %}Item{% endtrans %}</th>
						<th>{% trans %}Headers - Cost{% endtrans %}</th>
						<th>{% trans %}Host Contribution{% endtrans %}</th>
						<th>{% trans %}Post Contribution{% endtrans %}</th>
					</tr>
					<tr class="subheader">
						<th id="monthly_cost_description" class="active">{% trans %}Description{% endtrans %}</th>
						<th id="monthly_cost_full_cost" class="active">
							<span class="label__required">
									{% trans %}Cost over full Fellowship period (10 months){% endtrans %}
								</span>
							<div class="css-tooltip css-tooltip--bottom">
									<span class="css-tooltip__trigger css-tooltip__trigger--link small">{% trans %}Tooltip Display Text - See details{% endtrans %}</span>
									<div class="css-tooltip__content">
										<p>
											{% trans %}This column is only for the amount of money that has to be paid in money. If the host institution is providing this item in-kind, do not list the value of that contribution in this column. You should add the value of that item in the “Host In-Kind Contributions” section at the bottom of this page.{% endtrans %}
										</p>
									</div>
							</div>
						</th>
						<th id="monthly_cost_host_contribution_full" class="active">
							{% trans %}Host contribution for full Fellowship(monetary){% endtrans %}
							<div class="css-tooltip css-tooltip--bottom">
								<span class="css-tooltip__trigger css-tooltip__trigger--link small">{% trans %}Tooltip Display Text - See details{% endtrans %}</span>
								<div class="css-tooltip__content">
									<p>
										{% trans %}This column is only for the amount that the Host Institution is providing in money.  If the host institution is providing this item in-kind, do not list the value of that contribution in this column. You should add the value of that item in the “Host In-Kind Contributions” section at the bottom of this page.{% endtrans %}
									</p>
								</div>
							</div>
						</th>
						<th id="monthly_cost_total_post_contribution" class="active">{% trans %}Total Post contribution{% endtrans %}</th>
					</tr>
					</thead>

					<tbody>
					{#% for item in form.budgetCostItems %#}
					{% set idx = 0 %}
					{% for cost in monthlyCostItems %}
						{% set item = form.budgetCostItems[idx] %}

						<tr>
							<th headers="monthly_cost_description" class="active">{{ cost.description }}</th>
							{% if item.full_cost.vars.value != '' %}
								<td headers="monthly_cost_full_cost">{{ form_widget(item.full_cost, { 'attr': {'class': 'form-control masked monthly-full-cost'} }) }}</td>
							{% else %}
								<td headers="monthly_cost_full_cost">{{ form_widget(item.full_cost, { 'attr': {'class': 'form-control masked-delayed monthly-full-cost'} }) }}</td>
							{% endif %}
							<td headers="monthly_cost_host_contribution_full">{{ form_widget(item.host_contribution_monetary, { 'attr': {'class': 'form-control masked'} }) }}</td>
							<th headers="monthly_cost_total_post_contribution">{{ form_widget(item.post_total_contribution, { 'attr': {'class': 'form-control masked masked-readonly'} }) }}</th>
						</tr>

						{% set idx = idx + 1 %}
					{% endfor %}
					</tbody>
				</table>
				<div class="text-right">
					{{ form_widget(form.calculate1, { 'attr': {'class': 'btn btn-info '} }) }}
				</div>
			</div>


			{# One time costs #}
			<h3 class="fieldset__subtitle">{% trans %}Settling in/one-time costs(if applicable){% endtrans %}</h3>

			<div class="form-group">
				<table class="table table-bordered table-budget">
					<thead>
					<tr>
						<th>{% trans %}Item{% endtrans %}</th>
						<th>{% trans %}Headers - Cost{% endtrans %}</th>
						<th>{% trans %}Host Contribution{% endtrans %}</th>
						<th>{% trans %}Post Contribution{% endtrans %}</th>
					</tr>
					<tr class="subheader">
						<th id="one_time_cost_description" class="active">{% trans %}Description{% endtrans %}</th>
						<th id="one_time_cost_full_cost" class="active">
							{% trans %}Cost{% endtrans %}
							<div class="css-tooltip css-tooltip--bottom">
								<span class="css-tooltip__trigger css-tooltip__trigger--link small">{% trans %}Tooltip Display Text - See details{% endtrans %}</span>
								<div class="css-tooltip__content">
									<p>
										{% trans %}This column is only for the amount of money that has to be paid in money. If the host institution is providing this item in-kind, do not list the value of that contribution in this column. You should add the value of that item in the “Host In-Kind Contributions” section at the bottom of this page.{% endtrans %}
									</p>
								</div>
							</div>
						</th>
						<th id="one_time_host_contribution" class="active">
							{% trans %}Host contribution (monetary){% endtrans %}
							<div class="css-tooltip css-tooltip--bottom">
								<span class="css-tooltip__trigger css-tooltip__trigger--link small">{% trans %}Tooltip Display Text - See details{% endtrans %}</span>
								<div class="css-tooltip__content">
									<p>
										{% trans %}This column is only for the amount that the Host Institution is providing in money.  If the host institution is providing this item in-kind, do not list the value of that contribution in this column. You should add the value of that item in the “Host In-Kind Contributions” section at the bottom of this page.{% endtrans %}
									</p>
								</div>
							</div>
						</th>
						<th id="one_time_total_post_contribution" class="active">{% trans %}Total Post contribution{% endtrans %}</th>
					</tr>
					</thead>

					<tbody>
					{% for cost in oneTimeCostItems %}
						{% set item = form.budgetCostItems[idx] %}
						<tr>
							<th headers="one_time_cost_description" class="active">{{ cost.description }}
								{% if cost.description == "In-country Visa/Residency Permit Fees" %}
									<br>
									<div class="css-tooltip css-tooltip--right">
										<span class="css-tooltip__trigger css-tooltip__trigger--link" style="font-weight: 100;">{% trans %}Tooltip Display Text - In-country Visa Fees{% endtrans %}</span>
											<div class="css-tooltip__content">
												<p>
													{% trans %}Tooltip Content - In-country Visa Fees{% endtrans %}
												</p>
											</div>
									</div>
								{% endif %}
							</th>
							<td headers="one_time_cost_full_cost">{{ form_widget(item.full_cost, { 'attr': {'class': 'form-control masked one-time-full-cost'} }) }}</td>
							<td headers="one_time_host_contribution">{{ form_widget(item.host_contribution_monetary, { 'attr': {'class': 'form-control masked'} }) }}</td>
							<th headers="one_time_total_post_contribution">{{ form_widget(item.post_total_contribution, { 'attr': {'class': 'form-control masked masked-readonly'} }) }}</th>
						</tr>
						{% set idx = idx + 1 %}

					{% endfor %}

					{% set custom_idx = idx %}
					{% for item in form.budgetCostItems|slice(custom_idx) %}
						{# type method belongs to the CostItem class, to be able to distinguish them from each other #}
						{% if item.cost_item.vars.data.type == 'CostItemCustom' %}
						<tr>
							<th headers="one_time_cost_description" class="custom-cost">
								<a href="{{ path('fellow_project_cost_item_confirm_delete', {
									'pid': projectBudget.fellowProject.id,
									'cid': form.vars.value.budgetCostItems[idx].id
								}) }}" class="link-delete-cost-item text-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
								{{ form_widget(item.cost_item.description, { 'attr': {'class': 'form-control'} }) }}
								<span class="cost_item_id hidden">{{ form.vars.value.budgetCostItems[idx].id }}</span>
							</th>
							<td headers="one_time_cost_full_cost">{{ form_widget(item.full_cost, { 'attr': {'class': 'form-control masked one-time-full-cost'} }) }}</td>
							<td headers="one_time_host_contribution">{{ form_widget(item.host_contribution_monetary, { 'attr': {'class': 'form-control masked'} }) }}</td>
							<th headers="one_time_total_post_contribution">{{ form_widget(item.post_total_contribution, { 'attr': {'class': 'form-control masked masked-readonly'} }) }}</th>
						</tr>
						{% endif %}
						{% set idx = idx + 1 %}
					{% endfor %}
					</tbody>

				</table>

				<div class="text-right">
					{{ form_widget(form.additional, { 'attr': {'class': 'btn btn-info'} }) }}
					{{ form_widget(form.calculate2, { 'attr': {'class': 'btn btn-info '} }) }}
				</div>

			</div>
		</div>

		{################ In-kind Host contributions/estimates ###################}
		<div class="panel-body">
			<h3 class="fieldset__subtitle">{% trans %}Host Institution In-Kind Contributions{% endtrans %}</h3>

			<p>{% trans %}If host institution be providing any of the following items in-kind, please list the estimated value of that contribution.{% endtrans %}</p>

			<div class="form-group">
				<table class="table table-bordered table-budget">
					<thead>
					<tr class="header">
						<th>{% trans %}Item{% endtrans %}</th>
						<th>{% trans %}Host Contribution{% endtrans %}</th>
					</tr>
					<tr class="subheader">
						<th id="monthly_cost_description" class="active">{% trans %}Description{% endtrans %}</th>
						<th id="monthly_cost_host_contribution_full_in_kind" class="active">{% trans %}Estimated value{% endtrans %}</th>
					</tr>
					</thead>

					<tbody>
					{#% for item in form.budgetCostItems %#}
					{% set idx = 0 %}
					{% for cost in monthlyCostItems %}
						{% set item = form.budgetCostItems[idx] %}

						<tr>
							<th headers="monthly_cost_description" class="active">{{ cost.description }}</th>
							<td headers="monthly_cost_host_contribution_full_in_kind">{{ form_widget(item.host_contribution_in_kind, { 'attr': {'class': 'form-control masked'} }) }}</td>
						</tr>

						{% set idx = idx + 1 %}
					{% endfor %}

					{% for cost in oneTimeCostItems %}
						{% set item = form.budgetCostItems[idx] %}
						<tr>
							<th headers="one_time_cost_description" class="active">{{ cost.description }}</th>
							<td headers="one_time_host_contribution_in_kind">{{ form_widget(item.host_contribution_in_kind, { 'attr': {'class': 'form-control masked'} }) }}</td>
						</tr>
						{% set idx = idx + 1 %}

					{% endfor %}

					{% set custom_idx = idx %}
					{% for item in form.budgetCostItems|slice(custom_idx) %}
						{% if item.cost_item.vars.data.type == 'CostItemCustomInKind' %}
						<tr>
							<th headers="one_time_cost_description" class="custom-cost">
								<a href="{{ path('fellow_project_cost_item_confirm_delete', {
									'pid': projectBudget.fellowProject.id,
									'cid': form.vars.value.budgetCostItems[idx].id
								}) }}" class="link-delete-cost-item text-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
								{{ form_widget(item.cost_item.description, { 'attr': {'class': 'form-control'} }) }}
								<span class="cost_item_id hidden">{{ form.vars.value.budgetCostItems[idx].id }}</span>
							</th>
							<td headers="one_time_host_contribution_in_kind">{{ form_widget(item.host_contribution_in_kind, { 'attr': {'class': 'form-control masked'} }) }}</td>
						</tr>
						{% endif %}
						{% set idx = idx + 1 %}
					{% endfor %}
					</tbody>

				</table>

				<div class="text-right">
					{{ form_widget(form.additional2, { 'attr': {'class': 'btn btn-info'} }) }}
				</div>

			</div>
		</div>

		<div class="panel-footer">
			<div class="row">
				<div class="col-md-4">
					{{ form_widget(form.save, { 'attr': {'class': 'btn btn-link btn-lg'} }) }}
				</div>
				<div class="col-md-4 text-center">
					{{ form_widget(form.back, { 'attr': {'class': 'btn btn-default btn-lg'} }) }}
				</div>
				<div class="col-md-4 text-right">
					{{ form_widget(form.next, { 'attr': {'class': 'btn btn-success btn-lg'} }) }}
				</div>
				{{ form_row(form._token) }}
			</div>
		</div>

	</div>
	{{ form_end(form) }}

{% endblock %}
