<footer>
	<div class="col-md-6">
        {{ form_widget(form.save, { 'attr': {'class': 'btn btn-link'} }) }}
	</div>
	<div class="col-md-6 text-right">
		{{ form_widget(form.next, { 'attr': {'class': 'btn btn-primary'} }) }}
    </div>

    {{ form_row(form._token) }}
</footer>