{% extends "::base.html.twig" %}

{% block title %}AppBundle:FellowProjectBudget:fundedBy{% endblock %}

{% block body %}
    {% include 'fellowproject/submission_main_heading.html.twig' %}

    {{ form_start(form) }}

    <div class="panel panel-primary panel-wizard">
        <div class="panel-heading">
            <h2>Budget <small class="pull-right">Step 1 of 3</small></h2>
        </div>

        <div class="panel-body">
            <div class="form-group">
                <fieldset>
                    <legend >
                        <span class="label__required">{{form.funded_by.vars.label|trans}} </span><br>
                        <small class="text-success">{% trans %}(If unsure, select <b>ECA</b>){% endtrans %}</small>
                    </legend>
                    {{ form_errors(form.funded_by) }}
                    {{ form_widget(form.funded_by, { 'attr': {'class': 'inline-labels'} }) }}
                </fieldset>
            </div>

            <div class="sub-fieldset">
                <div class="form-group">
                    {{ form_label(form.postFundingSource) }}
                    {{ form_errors(form.postFundingSource) }}
                    {{ form_widget(form.postFundingSource, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
        </div>

        <div class="panel-footer">
            <div class="row">
                <div class="col-md-6">
                    {{ form_widget(form.save, { 'attr': {'class': 'btn btn-link btn-lg'} }) }}
                </div>
                <div class="col-md-6 text-right">
                    {{ form_widget(form.next, { 'attr': {'class': 'btn btn-success btn-lg'} }) }}
                </div>
                {{ form_row(form._token) }}
            </div>
        </div>

    </div>

	{{ form_end(form) }}
{% endblock %}
