<h3>{% trans %}Budget Summary{% endtrans %}</h3>
<div class="summary-totals summary-budget row">
	<div class="summary-item col-md-3">
		<div class="title">{% trans %}Total living expenses + settling in costs{% endtrans %}</div>
		<div class="value">{{ fellowProjectBudgetTotals.fullCost|currency_format(0) }}</div>
	</div>
	<div class="operator col-md-1"> + </div>

	<div class="summary-item col-md-3">
		<div>
			<div class="title">{% trans %}Total fixed costs (e.g. Stipend, travel, etc.){% endtrans %}</div>
		</div>
		<div class="value">{{ fellowProjectBudgetTotals.global|currency_format(0) }}</div>
	</div>
	<div class="operator col-md-1"> = </div>

	<div class="summary-item col-md-4">
		<div class="title">{% trans %}Total cost of fellowship{% endtrans %}</div>
		<div class="value">{{ fellowProjectBudgetTotals.total|currency_format(0) }}</div>
	</div>
</div>

<h3>{% trans %}Contributions{% endtrans %}</h3>
<div class="summary-totals summary-budget row">
	<div class="summary-item col-md-3">
		<div class="title">{% trans %}Total Post contribution{% endtrans %}</div>
		<div class="value">{{ fellowProjectBudgetTotals.postContribution|currency_format(0) }}</div>
	</div>

	<div class="summary-item col-md-3">
		<div class="title">{% trans %}Total Host contribution (monetary){% endtrans %}</div>
		<div class="value">{{ fellowProjectBudgetTotals.hostContributionMonetary|currency_format(0) }}</div>
	</div>

	<div class="summary-item col-md-3">
		<div class="title">{% trans %}Total Host contribution (in-kind){% endtrans %}</div>
		<div class="value">{{ fellowProjectBudgetTotals.hostContributionInKind|currency_format(0) }}</div>
	</div>

	<div class="summary-item col-md-3">
		<div class="title">{% trans %}Total ECA contribution{% endtrans %}</div>
		<div class="value">{{ fellowProjectBudgetTotals.ecaTotalContribution|currency_format(0) }}</div>
	</div>
</div>

<h3>{% trans %}Costs of Living{% endtrans %}</h3>

<table class="table table-bordered">
	<thead>
	<tr class="header headers-center lighter-blue-bg">
		<th>{% trans %}Item{% endtrans %}</th>
		<th>{% trans %}Headers - Cost{% endtrans %}</th>
		<th colspan="3">{% trans %}Post/Host Contribution{% endtrans %}</th>
		<th>{% trans %}ECA Contribution{% endtrans %}</th>
	</tr>
	<tr class="subheader lighter-blue-bg">
		<th>{% trans %}Description{% endtrans %}</th>
		<th>{% trans %}Cost over full Fellowship period (10 months){% endtrans %}</th>
		<th>{% trans %}Post contribution for full Fellowship{% endtrans %}</th>
		<th>{% trans %}Host contribution for full Fellowship(monetary){% endtrans %}</th>
		<th>{% trans %}Total Post and Host contribution{% endtrans %}</th>
		<th>{% trans %}Total ECA contribution{% endtrans %}</th>
	</tr>
	</thead>
	<tbody>
	{% set idx = 0 %}
	{% for cost in monthlyCostItems %}
		{% set item = fellowProject.fellowProjectBudget.budgetCostItems[idx] %}
		<tr>
			<th class="lighter-blue-bg">{{ cost.description }}</th>
			{% if item.fullCost %}
				<td class="text-right">{{ item.fullCost|currency_format(0) }}</td>
			{% else %}
				<td class="text-right"></td>
			{% endif %}
			<td class="text-right">{{ item.postContribution|currency_format(0) }}</td>
			<td class="text-right">{{ item.hostContributionMonetary|currency_format(0) }}</td>
			<td class="text-right">{{ item.postHostTotalContribution|currency_format(0) }}</td>
			<td class="text-right">{{ item.ecaTotalContribution|currency_format(0) }}</td>
		</tr>

		{% set idx = idx + 1 %}
	{% endfor %}

	<tr class="totals-row ">
		<th class="text-right lighter-blue-bg">{% trans %}Totals{% endtrans %}</th>
		<th class="text-right">{{ totals.monthly.fellowship|currency_format(0) }}</th>
		<th class="text-right">{{ totals.monthly.post|currency_format(0) }}</th>
		<th class="text-right">{{ totals.monthly.host_monetary|currency_format(0) }}</th>
		<th class="text-right">{{ (totals.monthly.post + totals.monthly.host_monetary)|currency_format(0) }}</th>
		<th class="text-right">{{ totals.monthly.eca|currency_format(0) }}</th>
	</tr>
	</tbody>

</table>

<h3>{% trans %}Settling in/one-time costs(if applicable){% endtrans %}</h3>

<table class="table table-bordered">
	<thead>
	<tr class="header headers-center lighter-blue-bg">
		<th>{% trans %}Item{% endtrans %}</th>
		<th>{% trans %}Headers - Cost{% endtrans %}</th>
		<th colspan="3">{% trans %}Post/Host Contribution{% endtrans %}</th>
		<th>{% trans %}ECA Contribution{% endtrans %}</th>
	</tr>
	<tr class="subheader lighter-blue-bg">
		<th>{% trans %}Description{% endtrans %}</th>
		<th>{% trans %}Cost{% endtrans %}</th>
		<th>{% trans %}Post contribution for full Fellowship{% endtrans %}</th>
		<th>{% trans %}Host contribution for full Fellowship(monetary){% endtrans %}</th>
		<th>{% trans %}Total Post and Host contribution{% endtrans %}</th>
		<th>{% trans %}Total ECA contribution{% endtrans %}</th>
	</tr>
	</thead>
	<tbody>
	{% for cost in oneTimeCostItems %}
		{% set item = fellowProject.fellowProjectBudget.budgetCostItems[idx] %}
		<tr>
			<th class="lighter-blue-bg">{{ cost.description }}</th>
			<td class="text-right">{{ item.fullCost|currency_format(0) }}</td>
			<td class="text-right">{{ item.postContribution|currency_format(0) }}</td>
			<td class="text-right">{{ item.hostContributionMonetary|currency_format(0) }}</td>
			<td class="text-right">{{ item.postHostTotalContribution|currency_format(0) }}</td>
			<td class="text-right">{{ item.ecaTotalContribution|currency_format(0) }}</td>
		</tr>
		{% set idx = idx + 1 %}

	{% endfor %}

	{# Customs costs #}
	{% for item in fellowProject.fellowProjectBudget.budgetCostItems|slice(idx) %}
		{% if item.costItem.type == 'CostItemCustom' %}
		<tr>
			<th class="lighter-blue-bg">{{ item.costItem.description }}</th>
			<td class="text-right">{{ item.fullCost|currency_format(0) }}</td>
			<td class="text-right">{{ item.postContribution|currency_format(0) }}</td>
			<td class="text-right">{{ item.hostContributionMonetary|currency_format(0) }}</td>
			<td class="text-right">{{ item.postHostTotalContribution|currency_format(0) }}</td>
			<td class="text-right">{{ item.ecaTotalContribution|currency_format(0) }}</td>
		</tr>
		{% endif %}
		{% set idx = idx + 1 %}

	{% endfor %}

	<tr class="totals-row">
		<th class="text-right lighter-blue-bg">{% trans %}Totals{% endtrans %}</th>
		<th class="text-right">{{ totals.onetime.fellowship|currency_format(0) }}</th>
		<th class="text-right">{{ totals.onetime.post|currency_format(0) }}</th>
		<th class="text-right">{{ totals.onetime.host_monetary|currency_format(0) }}</th>
		<th class="text-right">{{ (totals.onetime.post + totals.onetime.host_monetary)|currency_format(0) }}</th>
		<th class="text-right">{{ totals.onetime.eca|currency_format(0) }}</th>
	</tr>
	</tbody>
</table>

{##################### In-kind contributions ###########################}

<h3>{% trans %}Host Institution In-Kind Contributions{% endtrans %}</h3>

<table class="table table-bordered">
	<thead>
	<tr class="header headers-center lighter-blue-bg">
		<th>{% trans %}Item{% endtrans %}</th>
		<th>{% trans %}Host Contribution{% endtrans %}</th>
	</tr>
	<tr class="subheader lighter-blue-bg">
		<th>{% trans %}Description{% endtrans %}</th>
		<th>{% trans %}Estimated value{% endtrans %}</th>
	</tr>
	</thead>
	<tbody>
	{% set idx = 0 %}
	{% for cost in monthlyCostItems %}
		{% set item = fellowProject.fellowProjectBudget.budgetCostItems[idx] %}
		<tr>
			<th class="lighter-blue-bg">{{ cost.description }}</th>
			<td class="text-right">{{ item.hostContributionInKind|currency_format(0) }}</td>
		</tr>

		{% set idx = idx + 1 %}
	{% endfor %}

	{% for cost in oneTimeCostItems %}
		{% set item = fellowProject.fellowProjectBudget.budgetCostItems[idx] %}
		<tr>
			<th class="lighter-blue-bg">{{ cost.description }}</th>
			<td class="text-right">{{ item.hostContributionInKind|currency_format(0) }}</td>
		</tr>
		{% set idx = idx + 1 %}

	{% endfor %}

	{# Customs costs #}
	{% for item in fellowProject.fellowProjectBudget.budgetCostItems|slice(idx) %}
		{% if item.costItem.type == 'CostItemCustomInKind' %}
		<tr>
			<th class="lighter-blue-bg">{{ item.costItem.description }}</th>
			<td class="text-right">{{ item.hostContributionInKind|currency_format(0) }}</td>
		</tr>
		{% endif %}
		{% set idx = idx + 1 %}

	{% endfor %}

	<tr class="totals-row">
		<th class="text-right lighter-blue-bg">{% trans %}Total{% endtrans %}</th>
		<th class="text-right">{{ (totals.monthly.host_kind + totals.onetime.host_kind)|currency_format(0) }}</th>
	</tr>
	</tbody>
</table>
