{% extends "::base.html.twig" %}

{% block title %}AppBundle:FellowProjectBudget:reviewCosts{% endblock %}

{% block body %}

	{% include 'fellowproject/submission_main_heading.html.twig' %}

	<div class="panel panel-primary panel-wizard">
		<div class="panel-heading">
			<h2>Budget
				<small class="pull-right">Step 3 of 3</small>
			</h2>
		</div>

		<div class="panel-body">
			<div class="form-group">
				<div class="summary-funded panel panel-default">
					<div class="panel-body">
						<strong>{% trans %}This proposal is requesting:{% endtrans %}</strong>
						<span>{% trans %}Funding from ECA (in part or in full){% endtrans %} </span>
						<div class="css-tooltip css-tooltip--right">
							<a href="{{ path('fellow_project_budget_funded', {'id': projectBudget.fellowProject.id}) }}"
							   class="btn btn-default ml-5 css-tooltip__trigger">{% trans %}Change{% endtrans %}</a>
							<div class="css-tooltip__content">
								<p>
									{% trans %}You will be re-directed back to the tables to review the fields required for the new
									funding. Your current values will be saved and the final totals will be
									automatically updated.{% endtrans %}
								</p>
							</div>
						</div>
					</div>
				</div>

				<h3 class="fieldset__subtitle">{% trans %}Budget Summary{% endtrans %}</h3>
				<div class="summary-totals summary-budget summary-budget row">
					<div class="summary-item col-md-3">
						<div class="title">{% trans %}Total living expenses + settling in costs{% endtrans %}</div>
						<div class="value">{{ fellowProjectBudgetTotals.fullCost|currency_format(0) }}</div>
					</div>
					<div class="operator col-md-1"> + </div>

					<div class="summary-item col-md-3">
						<div class="css-tooltip css-tooltip--right css-tooltip--block">
							<div class="title css-tooltip__trigger">{% trans %}Total fixed costs (e.g. Stipend, travel, etc.){% endtrans %}</div>
							<div class="css-tooltip__content">
								{% trans %}Tooltip Content - Average fixed costs - Review Budget{% endtrans %}
							</div>
						</div>
						<div class="value">{{ fellowProjectBudgetTotals.global|currency_format(0) }}</div>
					</div>
					<div class="operator col-md-1"> =</div>

					<div class="summary-item col-md-4">
						<div class="title">{% trans %}Total cost of fellowship{% endtrans %}</div>
						<div class="value">{{ fellowProjectBudgetTotals.total|currency_format(0) }}</div>
					</div>
				</div>

				<h3 class="fieldset__subtitle">{{ 'Contributions'|trans }}</h3>
				<div class="summary-totals summary-budget row">
					<div class="summary-item col-md-3">
						<div class="title">{% trans %}Total Post contribution{% endtrans %}</div>
						<div class="value">{{ fellowProjectBudgetTotals.postContribution|currency_format(0) }}</div>
					</div>

					<div class="summary-item col-md-3">
						<div class="title">{% trans %}Total Host contribution (monetary){% endtrans %}</div>
						<div class="value">{{ fellowProjectBudgetTotals.hostContributionMonetary|currency_format(0) }}</div>
					</div>

					<div class="summary-item col-md-3">
						<div class="title">{% trans %}Total Host contribution (in-kind){% endtrans %}</div>
						<div class="value">{{ fellowProjectBudgetTotals.hostContributionInKind|currency_format(0) }}</div>
					</div>

					<div class="summary-item col-md-3">
						<div class="title">{% trans %}Total ECA contribution{% endtrans %}</div>
						<div class="value">{{ fellowProjectBudgetTotals.ecaTotalContribution|currency_format(0) }}</div>
					</div>
				</div>

			</div>

			<h3 class="fieldset__subtitle">{% trans %}Costs of Living{% endtrans %}</h3>

			<div class="form-group">
				<table class="table table-bordered">
					<thead>
					<tr class="header headers-center">
						<th>{% trans %}Item{% endtrans %}</th>
						<th>{% trans %}Headers - Cost{% endtrans %}</th>
						<th colspan="3">{% trans %}Post/Host Contribution{% endtrans %}</th>
						<th>{% trans %}ECA Contribution{% endtrans %}</th>
					</tr>
					<tr class="subheader">
						<th>{% trans %}Description{% endtrans %}</th>
						<th>{% trans %}Cost over full Fellowship period (10 months){% endtrans %}</th>
						<th>{% trans %}Post contribution for full Fellowship{% endtrans %}</th>
						<th>{% trans %}Host contribution for full Fellowship(monetary){% endtrans %}</th>
						<th class="totals-cell">{% trans %}Total Post and Host contribution{% endtrans %}</th>
						<th class="totals-cell">{% trans %}Total ECA contribution{% endtrans %}</th>
					</tr>
					</thead>
					<tbody>

					{% set idx = 0 %}
					{% for cost in monthlyCostItems %}
						{% set item = projectBudget.budgetCostItems[idx] %}
						<tr>
							<th>{{ cost.description }}</th>
							{% if item.fullCost %}
								<td class="text-right">{{ item.fullCost|currency_format(0) }}</td>
							{% else %}
								<td class="text-right"></td>
							{% endif %}
							<td class="text-right">{{ item.postContribution|currency_format(0) }}</td>
							<td class="text-right">{{ item.hostContributionMonetary|currency_format(0) }}</td>
							<td class="totals-cell text-right">{{ item.postHostTotalContribution|currency_format(0) }}</td>
							<td class="totals-cell text-right">{{ item.ecaTotalContribution|currency_format(0) }}</td>
						</tr>

						{% set idx = idx + 1 %}
					{% endfor %}

					<tr class="totals-row totals-cell">
						<th class="text-right">{{ 'Totals'|trans }}</th>
						<th class="text-right">{{ totals.monthly.fellowship|currency_format(0) }}</th>
						<th class="text-right">{{ totals.monthly.post|currency_format(0) }}</th>
						<th class="text-right">{{ totals.monthly.host_monetary|currency_format(0) }}</th>
						<th class="text-right">{{ (totals.monthly.post + totals.monthly.host_monetary)|currency_format(0) }}</th>
						<th class="text-right">{{ totals.monthly.eca|currency_format(0) }}</th>
					</tr>
					</tbody>


				</table>
			</div>

			{# One time and custom costs #}
			<h3 class="fieldset__subtitle">{% trans %}Settling in/one-time costs(if applicable){% endtrans %}</h3>

			<div class="form-group">
				<table class="table table-bordered">
					<thead>
					<tr class="header headers-center">
						<th>{% trans %}Item{% endtrans %}</th>
						<th>{% trans %}Headers - Cost{% endtrans %}</th>
						<th colspan="3">{% trans %}Post/Host Contribution{% endtrans %}</th>
						<th>{% trans %}ECA Contribution{% endtrans %}</th>
					</tr>
					<tr class="subheader">
						<th>{% trans %}Description{% endtrans %}</th>
						<th>{% trans %}Cost{% endtrans %}</th>
						<th>{% trans %}Post contribution for full Fellowship{% endtrans %}</th>
						<th>{% trans %}Host contribution for full Fellowship(monetary){% endtrans %}</th>
						<th class="totals-cell">{% trans %}Total Post and Host contribution{% endtrans %}</th>
						<th class="totals-cell">{% trans %}Total ECA contribution{% endtrans %}</th>
					</tr>
					</thead>
					<tbody>
					{% for cost in oneTimeCostItems %}
						{% set item = projectBudget.budgetCostItems[idx] %}
						<tr>
							<th>{{ cost.description }}</th>
							<td class="text-right">{{ item.fullCost|currency_format(0) }}</td>
							<td class="text-right">{{ item.postContribution|currency_format(0) }}</td>
							<td class="text-right">{{ item.hostContributionMonetary|currency_format(0) }}</td>
							<td class="totals-cell text-right">{{ item.postHostTotalContribution|currency_format(0) }}</td>
							<td class="totals-cell text-right">{{ item.ecaTotalContribution|currency_format(0) }}</td>
						</tr>
						{% set idx = idx + 1 %}

					{% endfor %}

					{# Customs costs #}
					{% for item in projectBudget.budgetCostItems|slice(idx) %}
						{#{% set item = projectBudget.budgetCostItems[idx] %}#}
						{% if item.costItem.type == 'CostItemCustom' %}
						<tr>
							<th>{{ item.costItem.description }}</th>
							<td class="text-right">{{ item.fullCost|currency_format(0) }}</td>
							<td class="text-right">{{ item.postContribution|currency_format(0) }}</td>
							<td class="text-right">{{ item.hostContributionMonetary|currency_format(0) }}</td>
							<td class="totals-cell text-right">{{ item.postHostTotalContribution|currency_format(0) }}</td>
							<td class="totals-cell text-right">{{ item.ecaTotalContribution|currency_format(0) }}</td>
						</tr>
						{% endif %}
						{% set idx = idx + 1 %}

					{% endfor %}

					<tr class="totals-row totals-cell">
						<th class="text-right">{{ 'Totals'|trans }}</th>
						<th class="text-right">{{ totals.onetime.fellowship|currency_format(0) }}</th>
						<th class="text-right">{{ totals.onetime.post|currency_format(0) }}</th>
						<th class="text-right">{{ totals.onetime.host_monetary|currency_format(0) }}</th>
						<th class="text-right">{{ (totals.onetime.post + totals.onetime.host_monetary)|currency_format(0) }}</th>
						<th class="text-right">{{ totals.onetime.eca|currency_format(0) }}</th>
					</tr>
					</tbody>
				</table>
			</div>

			{##################### In-kind contributions ###########################}

			<h3 class="fieldset__subtitle">{% trans %}Host Institution In-Kind Contributions{% endtrans %}</h3>

			<div class="form-group">
				<table class="table table-bordered">
					<thead>
					<tr class="header headers-center">
						<th>{% trans %}Item{% endtrans %}</th>
						<th>{% trans %}Host Contribution{% endtrans %}</th>
					</tr>
					<tr class="subheader">
						<th>{% trans %}Description{% endtrans %}</th>
						<th>{% trans %}Estimated value{% endtrans %}</th>
					</tr>
					</thead>
					<tbody>

					{% set idx = 0 %}
					{% for cost in monthlyCostItems %}
						{% set item = projectBudget.budgetCostItems[idx] %}
						<tr>
							<th>{{ cost.description }}</th>
							<td class="text-right">{{ item.hostContributionInKind|currency_format(0) }}</td>
						</tr>

						{% set idx = idx + 1 %}
					{% endfor %}

					{% for cost in oneTimeCostItems %}
						{% set item = projectBudget.budgetCostItems[idx] %}
						<tr>
							<th>{{ cost.description }}</th>
							<td class="text-right">{{ item.hostContributionInKind|currency_format(0) }}</td>
						</tr>
						{% set idx = idx + 1 %}

					{% endfor %}

					{# Customs costs #}
					{% for item in projectBudget.budgetCostItems|slice(idx) %}
						{% if item.costItem.type == 'CostItemCustomInKind' %}
						<tr>
							<th>{{ item.costItem.description }}</th>
							<td class="text-right">{{ item.hostContributionInKind|currency_format(0) }}</td>
						</tr>
						{% endif %}
						{% set idx = idx + 1 %}

					{% endfor %}

					<tr class="totals-row totals-cell">
						<th class="text-right">{{ 'Total'|trans }}</th>
						<th class="text-right">{{ (totals.monthly.host_kind + totals.onetime.host_kind)|currency_format(0) }}</th>
					</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="panel-footer">
			{{ form_start(form) }}
			<div class="row">
				<div class="col-md-4">
					{{ form_widget(form.save, { 'attr': {'class': 'btn btn-link btn-lg'} }) }}
				</div>
				<div class="col-md-4 text-center">
					{{ form_widget(form.back, { 'attr': {'class': 'btn btn-default btn-lg'} }) }}
				</div>
				<div class="col-md-4 text-right">
					{{ form_widget(form.next, { 'attr': {'class': 'btn btn-success btn-lg'} }) }}
				</div>
			</div>
			{{ form_row(form._token) }}
			{{ form_end(form) }}
		</div>
	</div>

{% endblock %}
