	<div class="panel panel-default panel-review">
		<table class="table table__view-mode">
			<tbody>

			<tr>
				<th>{% trans %}Cycle{% endtrans %}</th>
				<td>{{ fellowProject.projectGeneralInfo.cycle.name }}</td>
			</tr>

			<tr>
				<th>{% trans %}Review Status{% endtrans %}</th>
				<td>{{ fellowProject.projectGeneralInfo.projectReviewStatus }}</td>
			</tr>

			<tr>
				<th>{% trans %}Outcome{% endtrans %}</th>
				<td>{{ fellowProject.projectGeneralInfo.projectOutcome }}</td>
			</tr>

			<tr>
				<th>{% trans %}Submitted by{% endtrans %}</th>
				<td>{{ fellowProject.projectGeneralInfo.submittedBy.name }} ({{ fellowProject.projectGeneralInfo.submittedByRole }})</td>
			</tr>

			<tr>
				<th>{% trans %}Submitted on{% endtrans %}</th>
				<td>{{ fellowProjectReview.createdAt|date('m/d/Y') }}</td>
			</tr>
			</tbody>
		</table>

		<div class="panel-body">
			<div class="form-group">
				<strong>{% trans %}Total amount requested from ECA{% endtrans %}:</strong>: {{ fellowProjectBudgetTotals.ecaTotalContribution|currency_format(0) }} <br/>
				<strong>{% trans %}Total cost share{% endtrans %}:</strong>: {{ totals.shared|currency_format(0) }}
			</div>

		{% if reviewForm %}
			{{ form_start(reviewForm) }}
			{% if is_granted('ROLE_ADMIN') %}
		{#<div class="panel-body">#}

			<div class="form-group">
				{{ form_label(reviewForm.cycle) }}
				<div class="select-wrapper">
					{{ form_widget(reviewForm.cycle, {'attr': {'class': 'form-select'}}) }}
				</div>
			</div>

			<div class="form-group">
				{{ form_label(reviewForm.reviewStatus) }}
				<div class="select-wrapper">
					{{ form_widget(reviewForm.reviewStatus, {'attr': {'class': 'form-select'}}) }}
				</div>
			</div>

			<div class="form-group">
				{{ form_label(reviewForm.outcome) }}
				<div class="select-wrapper">
					{{ form_widget(reviewForm.outcome, {'attr': {'class': 'form-select'}}) }}
				</div>
			</div>

			<div class="form-group">
				{{ form_label(reviewForm.submissionStatus) }}
				<div class="select-wrapper">
					{{ form_widget(reviewForm.submissionStatus, {'attr': {'class': 'form-select'}}) }}
				</div>
			</div>

			<div class="submit">
				{{ form_widget(reviewForm.save, {'attr': {'class': 'btn btn-lg btn-success'}}) }}
			</div>
		{#</div>#}
			{% endif %}
		{% endif %}

		{% if not fellowProjectReview.projectReviewComments.empty %}
			<h3>{% trans %}Comments{% endtrans %}:</h3>
			<div class="form-group">

				{% for comment in fellowProjectReview.projectReviewComments %}
				<div class="review-comment">
					<p>{{ comment.comment }}</p>
					<em><b>{{ comment.actionTaken|trans }}</b> <span class="review-comment__date">- {{ comment.createdAt|date('m/d/Y h:i a') }}, by {{ comment.commentBy.name }} ({{ comment.commentByRole }})</span></em>
				</div>
				{% endfor %}
			</div>
		{% endif %}

		{% if reviewForm.comment is defined %}
			{% if fellowProject.projectGeneralInfo.projectReviewStatus.id is constant('AppBundle\\Entity\\ProjectReviewStatus::POST_REQUIRE_ALTERNATE_FUNDING') %}
			<div class="form-group">
				<strong>{% trans %}You must edit the budget and change funding source to "No funding from ECA".{% endtrans %}</strong>
				<div class="text-right">
					<a class="btn btn-info" href="{{ path('fellow_project_budget_funded', { 'id': fellowProject.id }) }}">{% trans %}Edit budget{% endtrans %}</a>
				</div>
			</div>
			{% endif %}

			<div class="form-group">
				{{ form_label(reviewForm.comment) }}
				{{ form_widget(reviewForm.comment, {'attr': {'class': 'form-control'}}) }}
			</div>
		{% endif %}

		{% if reviewForm  %}
			<div class="form-group inline-elements text-right">
				{{ form_rest(reviewForm) }}
			</div>

			{{ form_end(reviewForm) }}
		{% endif %}
		</div>

	</div>
