{% extends 'project/common/base_wizard_step.html.twig' %}

{% block wizard_step_title %}
    <h2>
        Budget
        <small class="pull-right">Step 1 of 1</small>
    </h2>
{% endblock %}

{% block wizard_step_body %}
    <h3 class="fieldset__subtitle">
        {% trans %}Transportation between cities of assignment &#40;if applicable&#41;{% endtrans %}
    </h3>

    <div class="form-group">
        <table class="table table-bordered table-budget">
            <thead>
            {% block contribution_transportation_table_header %}{% endblock %}
            </thead>
            <tbody>
            {# @var contributionTransportationCostItem \AppBundle\Entity\ContributionTransportationCostItem  #}
            {% for contributionTransportationCostItem in form.contributionTransportationCostItems %}
                <tr>{% block contribution_transportation_table_body_row %}{% endblock %}</tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="form-group text-right">
        {{ form_widget(form.additional, { 'attr': {'class': 'btn btn-info'} }) }}
    </div>

    {{ form_widget(form.costItemToDeleteId) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {# To enable masked entries for input fields in table #}
    <script defer src="{{ asset('dist/scripts/jquery-maskmoney.js') }}"></script>
    <script>
        jQuery(function ($) {
            // $ format for fields
            $('.table-budget .masked')
                    .maskMoney({
                        'prefix': '$',
                        'precision': 0,
                        'allowZero': true
                    })
                    .maskMoney('mask');

            // Delete link action
            $('.link-delete-cost-item').click(function (e) {
                e.preventDefault();

                var contributionTransportationCostItemId = $(this).data('contribution-transportation-id');

                if (confirm('{% trans %}Do you really want to delete this cost item?{% endtrans %}')) {
                    $('#contribution_transportation_costItemToDeleteId').val(contributionTransportationCostItemId);
                    $('#contribution_transportation_next').trigger('click');
                }
            });
        });
    </script>
{% endblock %}
