{% extends 'base.html.twig' %}

{% block body %}
    {% include 'project/specialist/header.html.twig' %}

    <div class="panel panel-primary panel-wizard">
        <div class="panel-heading">
            <h2>Budget</h2>
        </div>

        <div class="panel-body">
            <div class="form-group">
                <div class="summary-funded panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12 mb-5">
                                <strong>{% trans %}Proposal funded by: {% endtrans %}</strong>
                                <span>{{ phaseBudget.fundedBy }} </span>
                                <div class="css-tooltip css-tooltip--right">
                                    <a href="{{ path('specialist_project_phase_budget_funded_by', {id: specialistProject.id, phase: phase}) }}"
                                       class="btn btn-default ml-5 css-tooltip__trigger">
                                        {% trans %}Change{% endtrans %}
                                    </a>
                                    <div class="css-tooltip__content">
                                        <p>
                                            {% trans %}You will be re-directed back to the tables to review the fields
                                            required for the new
                                            funding. Your current values will be saved and the final totals will be
                                            automatically
                                            updated.{% endtrans %}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% if phaseBudget.postFundingSource is not null %}
                        <div class="row">
                            <div class="col-md-12 mt-5">

                                <small>
                                    <strong>{% trans %}Post funding source:{% endtrans %}</strong>
                                    <p>{{ phaseBudget.postFundingSource }}</p>
                                </small>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>

            <h3 class="fieldset__subtitle">{% trans %}Living Expenses{% endtrans %}</h3>
            {% for livingExpense in phaseBudget.livingExpenseEstimates %}
                <h4 class="fieldset__subtitle">
                    {{ livingExpense.inCountryAssignment.city }} ({{ livingExpense.inCountryAssignment.country.name }})
                    <a href="{{ path('specialist_project_phase_budget_living_expense_estimates', {
                        'id': specialistProject.id,
                        'phase': phase,
                        'leid': livingExpense.id
                    }) }}" class="btn btn-info pull-right">Edit</a>
                </h4>

                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <table class="table table-bordered">
                            <thead>
                            {#{% block living_expenses_table_header %}{% endblock %}#}
                            <tr class="header headers-center lighter-blue-bg">
                                <th id="living_expense_item">
                                    {% trans %}Description{% endtrans %}
                                </th>
                                <th id="living_expense_cost">
                                    {% trans %}Cost per day/night{% endtrans %}
                                </th>
                                <th id="living_expense_days">
                                    {% trans %}Number of days/nights{% endtrans %}
                                </th>
                                <th id="living_expense_total_cost">
                                    {% trans %}Total cost{% endtrans %}
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% set groundTransport = null %}
                            {% for livingExpenseCostItem in livingExpense.livingExpenseCostItems %}
                                {% if livingExpenseCostItem.costItem.description != 'Ground Transport' %}
                                <tr>
                                    {#{% block living_expenses_table_body_row %}{% endblock %}#}
                                    <td headers="living_expense_item">
                                        {{ livingExpenseCostItem.costItem.description }}
                                    </td>
                                    <td headers="living_expense_cost" class="text-right">
                                        {{ livingExpenseCostItem.costPerDay|currency_format(0) }}
                                    </td>
                                    <td headers="living_expense_days" class="text-right">
                                        {{ livingExpenseCostItem.numberOfDays }}
                                    </td>
                                    <td headers="living_expense_total_cost" class="text-right">
                                        {{ livingExpenseCostItem.costTotal|currency_format(0) }}
                                    </td>
                                </tr>
                                {% else %}
                                    {% set groundTransport = livingExpenseCostItem %}
                                {% endif %}
                            {% else %}
                                <tr>
                                    <td colspan="4">{% trans %}No Living Expenses{% endtrans %}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                {% if groundTransport is not null %}
                <table class="table table-bordered">
                    <thead>
                    {#{% block living_expenses_table_header %}{% endblock %}#}
                    <tr class="header headers-center lighter-blue-bg">
                        <th id="living_expense_item">
                            {% trans %}Description{% endtrans %}
                        </th>
                        <th id="living_expense_total_cost">
                            {% trans %}Total cost{% endtrans %}
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td headers="living_expense_item">
                            {{ groundTransport.costItem.description }}
                        </td>
                        <td headers="living_expense_total_cost" class="text-right">
                            {{ groundTransport.costTotal|currency_format(0) }}
                        </td>
                    </tr>
                    </tbody>
                </table>
                {% endif %}

            {% endfor %}

            <h3 class="fieldset__subtitle">{% trans %}Contribution towards Living Expenses{% endtrans %}</h3>

            {# @var contributionLivingExpense \AppBundle\Entity\ContributionLivingExpense #}
            {% for contributionLivingExpense in phaseBudget.contributionLivingExpenses %}
                {#{{ dump(livingExpense) }}#}
                {# @var country \AppBundle\Entity\Country #}
                {% set country = contributionLivingExpense.country %}

                <h4 class="fieldset__subtitle">
                    {{ country.name }}
                    <a href="{{ path('specialist_project_phase_budget_living_expenses', {
                        'id': specialistProject.id,
                        'phase': phase,
                        'cleid': contributionLivingExpense.id
                    }) }}" class="btn btn-info pull-right">Edit</a>
                </h4>

                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <table class="table table-bordered mt-5">
                            <thead>
                            {% block contribution_living_expenses_table_header %}{% endblock %}
                            </thead>
                            <tbody>
                            {# @var contributionCostItems \Doctrine\Common\Collections\ArrayCollection #}
                            {% set contributionCostItems = contributionLivingExpense.contributionLivingExpenseCostItems %}

                            {% set totals = contributionLivingExpense.calculateSummaryTotals %}

                            {% include 'project/specialist/wizard/budget/contribution_table_body.html.twig' with {'fundedBy': phaseBudget.fundedBy, 'contributionType': 'living_expenses', 'totals': totals} %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endfor %}

            <h3 class="fieldset__subtitle">
                {% trans %}Transportation between cities of assignment &#40;if applicable&#41;{% endtrans %}

                <a href="{{ path('specialist_project_phase_budget_contribution_transportation', {
                    'id': specialistProject.id,
                    'phase': phase
                }) }}" class="btn btn-info pull-right">Edit</a>
            </h3>

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <table class="table table-bordered mt-5">
                        <thead>
                        {% include 'project/specialist/wizard/budget/contribution_table_header.html.twig' with {'fundedBy': phaseBudget.fundedBy, 'contributionType': 'transportation'} %}
                        </thead>
                        <tbody>
                        {# @var contributionCostItems \Doctrine\Common\Collections\ArrayCollection #}
                        {% set contributionCostItems = phaseBudget.contributionTransportation.contributionTransportationCostItems %}

                        {% set totals = phaseBudget.contributionTransportation.calculateSummaryTotals %}

                        {% include 'project/specialist/wizard/budget/contribution_table_body.html.twig' with {'fundedBy': phaseBudget.fundedBy, 'contributionType': 'transportation', 'totals': totals} %}
                        </tbody>
                    </table>
                </div>
            </div>

            <h3 class="fieldset__subtitle">
                {% trans %}Settling-in/one-time costs for all locations &#40;if applicable&#41;{% endtrans %}

                <a href="{{ path('specialist_project_phase_budget_contribution_one_time', {
                    'id': specialistProject.id,
                    'phase': phase
                }) }}" class="btn btn-info pull-right">Edit</a>
            </h3>

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <table class="table table-bordered mt-5">
                        <thead>
                        {% include 'project/specialist/wizard/budget/contribution_table_header.html.twig' with {'fundedBy': phaseBudget.fundedBy, 'contributionType': 'one_time'} %}
                        </thead>
                        <tbody>
                        {# @var contributionCostItems \Doctrine\Common\Collections\ArrayCollection #}
                        {% set contributionCostItems = phaseBudget.contributionOneTime.contributionOneTimeCostItems %}

                        {% set totals = phaseBudget.contributionOneTime.calculateSummaryTotals %}

                        {% include 'project/specialist/wizard/budget/contribution_table_body.html.twig' with {'fundedBy': phaseBudget.fundedBy, 'contributionType': 'one_time', 'totals': totals} %}
                        </tbody>
                    </table>
                </div>
            </div>

            <h3 class="fieldset__subtitle">
                {% trans %}Program Activities Allowance{% endtrans %}

                <a href="{{ path('specialist_project_phase_budget_paa', {
                    'id': specialistProject.id,
                    'phase': phase
                }) }}" class="btn btn-info pull-right">Edit</a>
            </h3>

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <table class="table table-bordered mt-5">
                        <thead>
                        {% include 'project/specialist/wizard/budget/contribution_table_header.html.twig' with {'fundedBy': phaseBudget.fundedBy, 'contributionType': 'paa'} %}
                        </thead>
                        <tbody>
                        {# @var contributionCostItems \Doctrine\Common\Collections\ArrayCollection #}
                        {% set contributionCostItems = phaseBudget.programActivitiesAllowance.programActivitiesAllowanceCostItems %}

                        {% set totals = phaseBudget.programActivitiesAllowance.calculateSummaryTotals %}

                        {% include 'project/specialist/wizard/budget/contribution_table_body.html.twig' with {'fundedBy': phaseBudget.fundedBy, 'contributionType': 'paa', 'totals': totals} %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="panel-footer">
            <div class="row">
                <div class="col-md-4">
                    <a href="{{ path('specialist_project_phase_admin_panel', {
                        id: specialistProject.id,
                        phase: phase
                    }) }}" class="btn btn-link btn-lg">Return to Panel</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
