{% extends 'project/common/base_wizard_step.html.twig' %}

{% block wizard_step_title %}
    <h2>
        Budget
        <small class="pull-right">Step 1 of 1</small>
    </h2>
{% endblock %}

{% block wizard_step_body %}
    <h3 class="fieldset__subtitle">
        {% trans %}Contribution towards Living Expenses{% endtrans %} {{ contributionLivingExpense.country.name }}
    </h3>

    <div class="form-group">
        <table class="table table-bordered table-budget">
            <thead>
            {% block contribution_living_expenses_table_header %}{% endblock %}
            </thead>
            <tbody>
            {# @var contributionLivingExpenseCostItem \AppBundle\Entity\ContributionLivingExpenseCostItem #}
            {% for contributionLivingExpenseCostItem in form.contributionLivingExpenseCostItems %}
                <tr>{% block contribution_living_expenses_table_body_row %}{% endblock %}</tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {# To enable masked entries for input fields in table #}
    <script defer src="{{ asset('dist/scripts/jquery-maskmoney.js') }}"></script>
    <script>
        jQuery(function ($) {
            // $ format for fields
            $('.table-budget .masked')
                    .maskMoney({
                        'prefix': '$',
                        'precision': 0,
                        'allowZero': true
                    })
                    .maskMoney('mask');

            // Delete link action
            $('.link-delete-cost-item').click(function (e) {
                e.preventDefault();

                if (confirm('{% trans %}Do you really want to delete this cost item?{% endtrans %}')) {
                }
            });
        });
    </script>
{% endblock %}
