{% extends 'project/common/base_wizard_step.html.twig' %}

{% block wizard_step_title %}
    <h2>
        Budget
        <small class="pull-right">Step 1 of 1</small>
    </h2>
{% endblock %}

{% block wizard_step_body %}
    <h3 class="fieldset__subtitle">
        {% trans %}Program Activities Allowance{% endtrans %}
    </h3>

    <div class="form-group">
        <p>By default, specialists are given a program activities allowance (PAA) in accordance with the length of their assignment.</p>

        <ul>
            <li>59 days or less - $250</li>
            <li>60-89 days - $500</li>
            <li>90-119 days - $750</li>
            <li>120-149 days - $1000</li>
            <li>150 days or more- $1250</li>
        </ul>

        <p>If the specialist will need more PAA, please describe the item and the cost and indicate the amount post/host will contribute to that cost.</p>
    </div>

    <div class="form-group">
        <table class="table table-bordered table-budget">
            <thead>
            {% block contribution_paa_table_header %}{% endblock %}
            </thead>
            <tbody>
            {# @var paaCostItem \AppBundle\Entity\ProgramActivitiesAllowanceCostItem  #}
            {% for paaCostItem in form.programActivitiesAllowanceCostItems %}
                <tr>{% block contribution_paa_table_body_row %}{% endblock %}</tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {# To enable masked entries for input fields in table #}
    <script defer src="{{ asset('dist/scripts/jquery-maskmoney.js') }}"></script>
    <script>
        jQuery(function ($) {
            // $ format for fields
            $('.table-budget .masked')
                    .maskMoney({
                        'prefix': '$',
                        'precision': 0,
                        'allowZero': true
                    })
                    .maskMoney('mask');

        });
    </script>
{% endblock %}