{% extends 'project/common/base_wizard_step.html.twig' %}

{% block wizard_step_title %}
    <h2>
        Budget
        <small class="pull-right">Step 1 of 1</small>
    </h2>
{% endblock %}

{% block wizard_step_body %}
    <h3 class="fieldset__subtitle">
        {% trans %}Living Expenses for {% endtrans %} {{ livingExpense.inCountryAssignment.city }} ({{ livingExpense.inCountryAssignment.country.name }})
    </h3>

    <div class="form-group">
        <table class="table table-bordered table-budget">
            <thead>
            {% block living_expenses_table_header %}{% endblock %}
            </thead>
            <tbody>
            {% set groundTransport = null %}
            {% for livingExpenseCostItem in form.livingExpenseCostItems %}
                {% if livingExpenseCostItem.vars.value.costItem.description  != 'Ground Transport' %}
                <tr>{% block living_expenses_table_body_row %}{% endblock %}</tr>
                {% else %}
                    {% set groundTransport = livingExpenseCostItem %}
                {% endif %}
            {% endfor %}
            </tbody>
        </table>

        <table class="table table-bordered table-budget">
            <thead>
            <tr class="header headers-center lighter-blue-bg">
                <th id="living_expense_item">
                    {% trans %}Description{% endtrans %}
                </th>
                <th id="living_expense_total_cost">
                    {% trans %}Total cost{% endtrans %}
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td headers="living_expense_item">
                    {{ groundTransport.vars.value.costItem.description }}
                </td>
                <td headers="living_expense_total_cost" class="text-right">
                    {{ form_widget(groundTransport.costTotal, {'attr': {'class': 'form-control masked'}}) }}
                </td>
            </tr>
            </tbody>
        </table>

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {# To enable masked entries for input fields in table #}
    <script defer src="{{ asset('dist/scripts/jquery-maskmoney.js') }}"></script>
    <script>
        jQuery(function ($) {
            // $ format for fields
            $('.table-budget .masked')
                    .maskMoney({
                        'prefix': '$',
                        'precision': 0,
                        'allowZero': true
                    })
                    .maskMoney('mask');

            // Delete link action
            $('.link-delete-cost-item').click(function (e) {
                e.preventDefault();

                if (confirm('{% trans %}Do you really want to delete this cost item?{% endtrans %}')) {
                }
            });
        });
    </script>
{% endblock %}
