{% if 'ECA' == fundedBy %}
    <tr class="header headers-center lighter-blue-bg">
        <th id="contribution_{{ contributionType }}_item">
            {% trans %}Item{% endtrans %}
        </th>
        <th id="contribution_{{ contributionType }}_cost">
            {% trans %}Cost{% endtrans %}
        </th>
        <th id="contribution_{{ contributionType }}_post_host_contribution" colspan="4">
            {% trans %}Post/Host Contribution{% endtrans %}
        </th>
        <th id="contribution_{{ contributionType }}_eca_contribution">
            {% trans %}ECA Contribution{% endtrans %}
        </th>
    </tr>
    <tr class="subheader lighter-blue-bg">
        <th id="contribution_{{ contributionType }}_description">
            {% trans %}Description{% endtrans %}
        </th>
        <th id="contribution_{{ contributionType }}_estimated_cost">
            {% trans %}Estimated Cost{% endtrans %}
        </th>
        <th id="contribution_{{ contributionType }}_post_contribution">
            {% trans %}Post contribution{% endtrans %}
        </th>
        <th id="contribution_{{ contributionType }}_host_contribution_monetary">
            {% trans %}Host contribution &#40;monetary&#41;{% endtrans %}
        </th>
        <th id="contribution_{{ contributionType }}_host_contribution_in_kind">
            {% trans %}Host contribution &#40;in-kind&#41;{% endtrans %}
        </th>
        <th id="contribution_{{ contributionType }}_post_host_total_contribution">
            {% trans %}Total Post and Host contribution{% endtrans %}
        </th>
        <th id="contribution_{{ contributionType }}_eca_total_contribution">
            {% trans %}Total ECA contribution{% endtrans %}
        </th>
    </tr>
{% elseif 'Post' == fundedBy %}
    <tr class="header headers-center lighter-blue-bg">
        <th id="contribution_{{ contributionType }}_item">
            {% trans %}Item{% endtrans %}
        </th>
        <th id="contribution_{{ contributionType }}_cost">
            {% trans %}Cost{% endtrans %}
        </th>
        <th id="contribution_{{ contributionType }}_host_contribution" colspan="3">
            {% trans %}Host Contribution{% endtrans %}
        </th>
        <th id="contribution_{{ contributionType }}_post_contribution">
            {% trans %}Post Contribution{% endtrans %}
        </th>
    </tr>
    <tr class="subheader lighter-blue-bg">
        <th id="contribution_{{ contributionType }}_description">
            {% trans %}Description{% endtrans %}
        </th>
        <th id="contribution_{{ contributionType }}_estimated_cost">
            {% trans %}Estimated Cost{% endtrans %}
        </th>
        <th id="contribution_{{ contributionType }}_host_contribution_monetary">
            {% trans %}Host contribution &#40;monetary&#41;{% endtrans %}
        </th>
        <th id="contribution_{{ contributionType }}_host_contribution_in_kind">
            {% trans %}Host contribution &#40;in-kind&#41;{% endtrans %}
        </th>
        <th id="contribution_{{ contributionType }}_host_total_contribution">
            {% trans %}Total Host contribution{% endtrans %}
        </th>
        <th id="contribution_{{ contributionType }}_post_total_contribution">
            {% trans %}Total Post contribution{% endtrans %}
        </th>
    </tr>
{% endif %}
