{% extends 'project/specialist/wizard/budget/base_living_expenses.html.twig' %}

{% block living_expenses_table_header %}
    <tr class="header headers-center lighter-blue-bg">
        <th id="living_expense_item">
            {% trans %}Description{% endtrans %}
        </th>
        <th id="living_expense_cost">
            {% trans %}Cost per day/night{% endtrans %}
        </th>
        <th id="living_expense_days">
            {% trans %}Number of days/nights{% endtrans %}
        </th>
        <th id="living_expense_total_cost">
            {% trans %}Total cost{% endtrans %}
        </th>
    </tr>
{% endblock %}

{% block living_expenses_table_body_row %}
    <td headers="living_expense_item">
        {{ livingExpenseCostItem.vars.value.costItem.description }}
    </td>
    <td headers="living_expense_cost">
        {{ form_widget(livingExpenseCostItem.costPerDay, { 'attr': {'class': 'form-control masked'} }) }}
    </td>
    <td headers="living_expense_days">
        {{ form_widget(livingExpenseCostItem.numberOfDays, { 'attr': {'class': 'form-control text-right'} }) }}
    </td>
    <td headers="living_expense_total_cost">
        {{ form_widget(livingExpenseCostItem.costTotal, { 'attr': {'class': 'form-control masked'} }) }}
    </td>
{% endblock %}
