{% extends 'base.html.twig' %}

{% block body %}
    <h1>Associate RPO users to Regions</h1>

    <div class="panel panel-default">
        <div class="panel-body">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th id="embassy_admin_user_id">{% trans %}User ID{% endtrans %}</th>
                    <th id="embassy_admin_name">{% trans %}Name{% endtrans %}</th>
                    <th id="embassy_admin_email">{% trans %}Email{% endtrans %}</th>
                    <th id="embassy_admin_relo_locations">{% trans %}Regions{% endtrans %}</th>
                    <th id="embassy_admin_actions">{% trans %}Actions{% endtrans %}</th>
                </tr>
                </thead>

                <tbody>
                {% for user in users %}
                    <tr>
                        <td headers="embassy_admin_user_id">{{ user.id }} </td>
                        <td headers="embassy_admin_name">{{ user.name }}</td>
                        <td headers="embassy_admin_email">{{ user.email }}</td>
                        <td headers="embassy_admin_regions">
                            {% for region in user.regions %}
                                {% if not loop.last %}
                                    {{ region.name }},
                                {% else %}
                                    {{ region.name }}
                                {% endif %}
                            {% else %}
                                {% trans %}No region{% endtrans %}
                            {% endfor %}
                        </td>
                        <td headers="embassy_admin_actions">
                            <a href="{{ path('rpo_admin_edit', { 'id': user.id }) }}">
                                {% trans %}Edit{% endtrans %}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}