{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('dist/styles/fellow-admin-menu.css') }}"/>
{% endblock %}

{% block body %}
    <button type="button" class="btn btn-primary pull-right btn-share" data-toggle="modal" data-target="#shareModal">
        {% trans %}Sharing options{% endtrans %}
    </button>

    {% include 'project/specialist/header.html.twig' %}

    <div class="panel">
        <div class="panel-body">
            {% include 'notifications.html.twig' %}

            <h2 class="text-center">Administration Panel</h2>

            <p class="text-center lead">Select an option below to manage your proposal.</p>

            <div class="container-fluid">
                <nav class="icon-nav-lg">
                    <ul class="nav">
                        <li>
                            <ul class="nav row">
                                <li class="col-sm-3">
                                    <a href="{{ path('specialist_project_title_region', { id: specialistProject.id, phase: phase}) }}">
                                        <div class="panel panel-default panel-bordered">
                                            <div class="panel-body">
                                                <img src="{{ asset('dist/images/icon-lg-general-information.png') }}" alt="">
                                                <span>General Information</span>
                                            </div>
                                            <div class="panel-footer">
                                                <small class="status">status</small>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="col-sm-3">
                                    <a href="{{ path('specialist_project_phase_contact_points_add', { id: specialistProject.id, phase: phase}) }}">
                                        <div class="panel panel-default panel-bordered ">
                                            <div class="panel-body">
                                                <img src="{{ asset('dist/images/icon-lg-points-contact.png') }}" alt="">
                                                <span>Points of Contact</span>
                                            </div>
                                            <div class="panel-footer">
                                                <small class="status">status</small>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="col-sm-3">
                                    <a href="{{ path('specialist_project_phase_requirements', { id: specialistProject.id, phase: phase}) }}">
                                        <div class="panel panel-default panel-bordered">
                                            <div class="panel-body">
                                                <img src="{{ asset('dist/images/icon-lg-requirements.png') }}" alt="">
                                                <span>Project Requirements</span>
                                            </div>
                                            <div class="panel-footer">
                                                <small class="status">Status</small>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="col-sm-3">
                                    <a href="{{ path('specialist_project_phase_certifications', { id: specialistProject.id, phase: phase}) }}">
                                        <div class="panel panel-default panel-bordered ">
                                            <div class="panel-body">
                                                <img src="{{ asset('dist/images/icon-lg-cert-goals.png') }}" alt="">
                                                <span>Certifications</span>
                                            </div>
                                            <div class="panel-footer">
                                                <small class="status">Status</small>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <ul class="nav row">
                                <li class="col-sm-3">
                                    <a href="{{ path('specialist_project_phase_candidate_info', { id: specialistProject.id, phase: phase}) }}">
                                        <div class="panel panel-default panel-bordered ">
                                            <div class="panel-body">
                                                <img src="{{ asset('dist/images/icon-lg-cand-certification.png') }}" alt="">
                                                <span>Candidate Information</span>
                                            </div>
                                            <div class="panel-footer">
                                                <small class="status">Status</small>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="col-sm-3">
                                    <a href="{{ path('specialist_project_phase_country_assignment_duties', { id: specialistProject.id, phase: phase}) }}">
                                        <div class="panel panel-default panel-bordered">
                                            <div class="panel-body">
                                                <img src="{{ asset('dist/images/icon-lg-duties.png') }}" alt="">
                                                <span>In-Country Assignment Duties</span>
                                            </div>
                                            <div class="panel-footer">
                                                <small class="status">status</small>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="col-sm-3">
                                    <a href="{{ path('specialist_project_phase_itinerary_dates', { id: specialistProject.id, phase: phase}) }}">
                                        <div class="panel panel-default panel-bordered">
                                            <div class="panel-body">
                                                <img src="{{ asset('dist/images/icon-lg-day-to-day.png') }}" alt="">
                                                <span>Itinerary</span>
                                            </div>
                                            <div class="panel-footer">
                                                <small class="status">status</small>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="col-sm-3">
                                    <a href="{{ path('specialist_project_phase_pre_post_work', { id: specialistProject.id, phase: phase}) }}">
                                        <div class="panel panel-default panel-bordered ">
                                            <div class="panel-body">
                                                <img src="{{ asset('dist/images/icon-lg-pre-post-work.png') }}" alt="">
                                                <span>Pre- and Post-Project work</span>
                                            </div>
                                            <div class="panel-footer">
                                                <small class="status">Status</small>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <ul class="nav row">
                                <li class="col-sm-3">
                                    <a href="{{ path('specialist_project_phase_goals_sustainability', { id: specialistProject.id, phase: phase}) }}">
                                        <div class="panel panel-default panel-bordered ">
                                            <div class="panel-body">
                                                <img src="{{ asset('dist/images/icon-lg-goals-sust.png') }}" alt="">
                                                <span>Goals and Sustainability</span>
                                            </div>
                                            <div class="panel-footer">
                                                <small class="status">Status</small>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="col-sm-3">
                                    <a href="{{ path('specialist_project_phase_virtual_assignment_country', { id: specialistProject.id, phase: phase}) }}">
                                        <div class="panel panel-default panel-bordered ">
                                            <div class="panel-body">
                                                <img src="{{ asset('dist/images/icon-lg-duties.png') }}" alt="">
                                                <span>Virtual Assignment Duties</span>
                                            </div>
                                            <div class="panel-footer">
                                                <small class="status">Status</small>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="col-sm-3">
                                    <a href="{{ path('specialist_project_phase_budget_funded_by', { id: specialistProject.id, phase: phase }) }}">
                                        <div class="panel panel-default panel-bordered ">
                                            <div class="panel-body">
                                                <img src="{{ asset('dist/images/icon-lg-budget.png') }}" alt="">
                                                <span>Budget</span>
                                            </div>
                                            <div class="panel-footer">
                                                <small class="status">Status</small>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
            {{ form_start(submitProjectForm) }}
            <div class="well text-center">
                <a href="{{ path('specialist_project_phase_show', { 'id': specialistProject.id, 'phase': phase }) }}" class="btn btn-lg btn-default mr-5">
                    {% trans %}Review proposal{% endtrans %}
                </a>

                    {{ form_widget(submitProjectForm.submitSpecialistProposal, { 'attr': {'class': 'btn btn-lg btn-success ml-5'} }) }}
            </div>
            {{ form_row(submitProjectForm._token) }}
            {{ form_end(submitProjectForm, {'render_rest': false}) }}
        </div>
    </div>

    {% include 'project/common/sharing_widget.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script defer>
        // This variable stores all Embassy and RELO users.
        var embassyRELOUsers = jQuery.parseJSON('{{ embassyRELOUsers|raw }}');
    </script>

    <script async src="{{ asset('dist/scripts/bootstrap3-typeahead.js') }}"></script>
{% endblock %}
