{# This button shows the Sharing Options modal window #}
{#<button type="button" class="btn btn-primary pull-right btn-share" data-toggle="modal" data-target="#shareModal">#}
    {#{% trans %}Sharing options{% endtrans %}#}
{#</button>#}

<h1>Specialist Proposal Submission</h1>

{# @var projectGeneralInfo \AppBundle\Entity\ProjectGeneralInfo #}
{% set projectGeneralInfo = specialistProjectPhase.projectGeneralInfo %}

<ul class="list-inline">
    <li>
        <strong>Ref. #:</strong> {{ projectGeneralInfo.referenceNumber }}
    </li>

    {% if specialistProject.title is not null %}
        <li>
            <strong>Title:</strong> {{ specialistProject.title }}
        </li>
    {% endif %}

    {% if projectGeneralInfo.region is not null %}
        <li>
            <strong>Region:</strong> {{ projectGeneralInfo.region }}
        </li>
    {% endif %}
</ul>

<hr>
