{% extends 'base.html.twig' %}

{% block title %}Specialist Proposals &#124; Proposal System{% endblock %}

{% block body %}
    <h1>My Specialist Proposals</h1>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="pull-left">Created by me</h2>
        </div>

        <div class="panel-body">
            <table class="table table-bordered">
                <thead>
                <th id="specialist_proposal_reference_number" class="col-md-1 col-lg-1">
                    {% trans %}Reference &#35;{% endtrans %}
                </th>
                <th id="specialist_proposal_title" class="col-md-3 col-lg-4">
                    {% trans %}Title{% endtrans %}
                </th>
                <th id="specialist_proposal_country" class="col-md-3 col-lg-4">
                    {% trans %}Country{% endtrans %}
                </th>
                <th id="specialist_proposal_status" class="col-md-3 col-lg-2">
                    {% trans %}Status{% endtrans %}
                </th>
                <th id="specialist_proposal_action" class="col-md-2 col-lg-1">
                    {% trans %}Action{% endtrans %}
                </th>
                </thead>

                <tbody>
                {# @var specialistProposalGeneralInfo \AppBundle\Entity\ProjectGeneralInfo #}
                {% for specialistProposalGeneralInfo in specialistProposalsGeneralInfo %}
                    {# @var specialistProject \AppBundle\Entity\SpecialistProject #}
                    {% set specialistProject = specialistProposalGeneralInfo.specialistProjectPhase.specialistProject %}

                    <tr>
                        <td headers="specialist_proposal_reference_number">
                            {{ specialistProposalGeneralInfo.referenceNumber }}
                        </td>
                        <td headers="specialist_proposal_title">
                            {{ specialistProject.title }}
                        </td>
                        <td headers="specialist_proposal_country">
                            <ul class="list-unstyled">
                                {# @var country \AppBundle\Entity\Country #}
                                {% for country in specialistProposalGeneralInfo.countries %}
                                    <li>{{ country.name }}</li>
                                {% else %}
                                    <li>Not selected</li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td headers="specialist_proposal_status">
                            {{ specialistProposalGeneralInfo.submissionStatus|replace({'_': ' '})|title }}
                        </td>
                        <td headers="specialist_proposal_action">
                            <a href="{{ path('specialist_project_phase_show', { id: specialistProject.id, phase: 0}) }}">
                                {% trans %}Review proposal{% endtrans %}
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td headers="specialist_proposal_reference_number" colspan="5">
                            {% trans %}There are no Specialist Proposals.{% endtrans %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="panel-heading">
                <h2 class="pull-left">Shared with me</h2>
            </div>

            <table class="table table-bordered">
                <thead>
                <th id="specialist_shared_proposal_reference_number" class="col-md-1 col-lg-1">
                    {% trans %}Reference &#35;{% endtrans %}
                </th>
                <th id="specialist_shared_proposal_title" class="col-md-3 col-lg-4">
                    {% trans %}Title{% endtrans %}
                </th>
                <th id="specialist_shared_proposal_country" class="col-md-3 col-lg-4">
                    {% trans %}Country{% endtrans %}
                </th>
                <th id="specialist_shared_proposal_status" class="col-md-3 col-lg-2">
                    {% trans %}Status{% endtrans %}
                </th>
                <th id="specialist_shared_proposal_action" class="col-md-2 col-lg-1">
                    {% trans %}Action{% endtrans %}
                </th>
                </thead>

                <tbody>
                {# @var specialistProposalGeneralInfo \AppBundle\Entity\ProjectGeneralInfo #}
                {% for specialistProposalGeneralInfo in sharedProposals %}
                    {# @var specialistProject \AppBundle\Entity\SpecialistProject #}
                    {% set specialistProject = specialistProposalGeneralInfo.specialistProjectPhase.specialistProject %}

                    <tr>
                        <td headers="specialist_shared_proposal_reference_number">
                            {{ specialistProposalGeneralInfo.referenceNumber }}
                        </td>
                        <td headers="specialist_shared_proposal_title">
                            {{ specialistProject.title }}
                        </td>
                        <td headers="specialist_shared_proposal_country">
                            <ul class="list-unstyled">
                                {# @var country \AppBundle\Entity\Country #}
                                {% for country in specialistProposalGeneralInfo.countries %}
                                    <li>{{ country.name }}</li>
                                {% else %}
                                    <li>Not selected</li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td headers="specialist_shared_proposal_status">
                            {{ specialistProposalGeneralInfo.submissionStatus|replace({'_': ' '})|title }}
                        </td>
                        <td headers="specialist_shared_proposal_action">
                            <a href="{{ path('specialist_project_phase_show', { id: specialistProject.id, phase: 0}) }}">
                                {% trans %}Review proposal{% endtrans %}
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td headers="specialist_shared_proposal_reference_number" colspan="5">
                            {% trans %}There are no Specialist Proposals.{% endtrans %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
