<div class="panel pane-default">
    <div class="panel-body text-right">
        <a href="{{ path('specialist_project_index') }}" class="btn btn-link pull-left">{% trans %}Back to Dashboard{% endtrans %}</a>

        <a href="{{ path('specialist_project_phase_admin_panel', { 'id': specialistProject.id, 'phase': phase }) }}" class="btn btn-link">{% trans %}Back to Admin Panel{% endtrans %}</a>

{#         {% if isProposalReadyForSubmission and not isProposalSubmitted %}
            <button type="submit" name="submit_fellow_proposal[submitFellowProposal]" class="btn btn-success ml-5">{% trans %}Submit proposal{% endtrans %}</button>
        {% endif %} #}

    </div>
</div>
