{% extends 'base.html.twig' %}

{% block body %}
    {% include 'project/specialist/header.html.twig' %}

    {# @var projectGeneralInfo \AppBundle\Entity\ProjectGeneralInfo #}
    {% set projectGeneralInfo = specialistProjectPhase.projectGeneralInfo %}

    {% include 'project/specialist/show_navigation.html.twig' %}

    {# General Information #}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="pull-left">
                {% trans %}General Information{% endtrans %}
            </h2>
            <a href="{{ path('specialist_project_title_region', { 'id': specialistProject.id, 'phase': phase }) }}"
               class="btn btn-info pull-right">
                {% trans %}Edit{% endtrans %}
            </a>
        </div>

        <table class="table table__view-mode">
            <tbody>
            <tr>
                <th>{% trans %}Title{% endtrans %}</th>
                <td>{{ specialistProject.title }}</td>
            </tr>

            <tr>
                <th>{{ 'label.region'|trans }}</th>
                <td>{{ projectGeneralInfo.region }}</td>
            </tr>

            <tr>
                <th>{{ 'label.country'|trans }}</th>
                <td>
                    <ul class="list-unstyled">
                        {# @var country \AppBundle\Entity\Country #}
                        {% for country in projectGeneralInfo.countries %}
                            <li>{{ country.name }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>

            <tr>
                <th>{{ 'label.post'|trans }}</th>
                <td>
                    <ul class="list-unstyled">
                        {# @var post \AppBundle\Entity\Post #}
                        {% for post in projectGeneralInfo.posts %}
                            <li>{{ post }} ({{ post.country.name }})</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>

            <tr>
                <th>{% trans %}Where will the work for this project take place?{% endtrans %}</th>
                <td>{{ specialistProjectPhase.type|title }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    {# Point of Contacts#}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="pull-left">Points of Contact</h2>

            <a href="{{ path('specialist_project_phase_contact_points_add', { 'id': specialistProject.id, 'phase': phase }) }}"
               class="btn btn-info pull-right">
                {% trans %}Edit{% endtrans %}
            </a>
        </div>

        <table class="table table__view-mode">
            <tbody>
            {# @var contactPoint \AppBundle\Entity\ContactPoint #}
            {% for contactPoint in projectGeneralInfo.contactPoints %}
                {% set contactPointType = contactPoint.type %}

                <tr>
                    <th colspan="2" class="table-title">
                        {% if 0 == contactPointType %}
                            {% trans %}Primary{% endtrans %}
                        {% elseif 1 == contactPointType %}
                            {% trans %}Secondary{% endtrans %}
                        {% elseif 2 == contactPointType %}
                            {% trans %}Additional{% endtrans %}
                        {% endif %} Point of Contact
                    </th>
                </tr>

                <tr>
                    <th>{% trans %}First Name{% endtrans %}</th>
                    <td>{{ contactPoint.firstName }}</td>
                </tr>

                <tr>
                    <th>{% trans %}Last Name{% endtrans %}</th>
                    <td>{{ contactPoint.lastName }}</td>
                </tr>

                <tr>
                    <th>{{ 'label.title'|trans }}</th>
                    <td>{{ contactPoint.title }}</td>
                </tr>

                <tr>
                    <th>{{ 'label.email'|trans }}</th>
                    <td>{{ contactPoint.email }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {# Project requirements #}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="pull-left">Project Requirements</h2>

            <a href="{{ path('specialist_project_phase_requirements', { 'id': specialistProject.id, 'phase': phase }) }}"
               class="btn btn-info pull-right">
                {% trans %}Edit{% endtrans %}
            </a>
        </div>

        <table class="table table__view-mode">
            <tbody>
            <tr>
                <th>{% trans %}Does the Specialist require a visa prior to arrival?{% endtrans %}</th>
                <td>
                    {% if projectGeneralInfo.visaPriorArrival is not null %}
                        {% if projectGeneralInfo.visaPriorArrival %}Yes{% else %}No{% endif %}
                    {% endif %}
                </td>
            </tr>

            <tr>
                <th>{{ 'label.visa_avg_length'|trans }}</th>
                <td>{{ projectGeneralInfo.visaAvgLength }}</td>
            </tr>

            <tr>
                <th>{{ 'label.visa_requirements_desc'|trans }}</th>
                <td>{{ projectGeneralInfo.visaRequirementsDesc }}</td>
            </tr>

            <tr>
                <th>{{ 'label.medical_access_issues'|trans }}</th>
                <td>
                    {% if projectGeneralInfo.requiredMedicalConditions is not null %}
                        {% if projectGeneralInfo.requiredMedicalConditions %}Yes{% else %}No{% endif %}
                    {% endif %}
                </td>
            </tr>

            <tr>
                <th>{% trans %}Are there any issues of medicine access that candidates should be made aware
                    of?{% endtrans %}</th>
                <td>
                    {% if projectGeneralInfo.medicalAccessIssues is not null %}
                        {% if projectGeneralInfo.medicalAccessIssues %}Yes{% else %}No{% endif %}
                    {% endif %}
                </td>
            </tr>

            <tr>
                <th>{{ 'label.medical_restrictions_desc'|trans }}</th>
                <td>{{ projectGeneralInfo.medicalRestrictionsDesc }}</td>
            </tr>

            <tr>
                <th>{% trans %}Are there any vaccinations or medications that the Specialist is required or advised
                    get?{% endtrans %}</th>
                <td>
                    {% if projectGeneralInfo.requiredVaccinations is not null %}
                        {% if projectGeneralInfo.requiredVaccinations %}Yes{% else %}No{% endif %}
                    {% endif %}
                </td>
            </tr>

            <tr>
                <th>{% trans %}Please describe required or advised vaccinations or medications.{% endtrans %}</th>
                <td>{{ projectGeneralInfo.requiredVaccinationsDesc }}</td>
            </tr>


            <tr>
                <th>{% trans %}Is there an age restriction?{% endtrans %}</th>
                <td>
                    {% if projectGeneralInfo.ageRestriction is not null %}
                        {% if projectGeneralInfo.ageRestriction %}Yes{% else %}No{% endif %}
                    {% endif %}
                </td>
            </tr>

            <tr>
                <th>{% trans %}Please describe age restriction.{% endtrans %}</th>
                <td>{{ projectGeneralInfo.ageRestrictionDesc }}</td>
            </tr>

            <tr>
                <th>{{ 'label.security_info_desc'|trans }}</th>
                <td>
                    {{ projectGeneralInfo.securityInfoDesc }}
                </td>
            </tr>

            <tr>
                <th>{{ 'label.additional_requirements_desc'|trans }}</th>
                <td>{{ projectGeneralInfo.additionalRequirementsDesc }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    {# Certifications #}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="pull-left">Certifications</h2>

            <a href="{{ path('specialist_project_phase_certifications', { 'id': specialistProject.id, 'phase': phase }) }}"
               class="btn btn-info pull-right">
                {% trans %}Edit{% endtrans %}
            </a>
        </div>
        <table class="table table__view-mode">
            <tbody>
            <tr>
                <th>{{ 'label.rso_certification'|trans }}</th>
                <td>
                    {% if projectGeneralInfo.rsoCertification is not null and projectGeneralInfo.rsoCertification %}
                        {% trans %}Post certifies that RSO has no objection{% endtrans %}
                    {% endif %}
                </td>
            </tr>

            <tr>
                <th>{{ 'label.housing_certification'|trans }}</th>
                <td>
                    {% if projectGeneralInfo.housingCertification is not null and projectGeneralInfo.housingCertification %}
                        {% trans %}Post agrees to ensure suitable housing is provided{% endtrans %}
                    {% endif %}
                </td>
            </tr>

            <tr>
                <th>{{ 'label.visa_certification'|trans }}</th>
                <td>
                    {% if projectGeneralInfo.visaCertification is not null and projectGeneralInfo.visaCertification %}
                        {% trans %}Post agrees to provide visa information{% endtrans %}
                    {% endif %}
                </td>
            </tr>

            <tr>
                <th>{{ 'label.medical_certification'|trans }}</th>
                <td>
                    {% if projectGeneralInfo.medicalCertification is not null and projectGeneralInfo.medicalCertification %}
                        {% trans %}Post agrees to provide a list of medical facilities{% endtrans %}
                    {% endif %}
                </td>
            </tr>

            <tr>
                <th>{{ 'label.post_arrival_certification'|trans }}</th>
                <td>
                    {% if projectGeneralInfo.postArrivalCertification is not null and projectGeneralInfo.postArrivalCertification %}
                        {% trans %}Post agrees to arrange an in-country orientation{% endtrans %}
                    {% endif %}
                </td>
            </tr>

            <tr>
                <th>{{ 'label.cost_sharing_certification'|trans }}</th>
                <td>
                    {% if projectGeneralInfo.costSharingCertification is not null and projectGeneralInfo.costSharingCertification %}
                        {% trans %}Post agrees to assume unfulfilled cost-sharing commitments{% endtrans %}
                    {% endif %}
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    {# Candidate Information #}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="pull-left">Candidate Information</h2>

            <a href="{{ path('specialist_project_phase_candidate_info', { 'id': specialistProject.id, 'phase': phase }) }}"
               class="btn btn-info pull-right">
                {% trans %}Edit{% endtrans %}
            </a>
        </div>

        <table class="table table__view-mode">
            <tbody>
            <tr>
                <th>
                    {% trans %}Project is best suited for candidate with the following areas of expertise:{% endtrans %}
                </th>
                <td>
                    <ul class="list-unstyled">
                        {# @var areaOfExpertise \AppBundle\Entity\AreaOfExpertise #}
                        {% for areaOfExpertise in specialistProject.areasOfExpertise %}
                            <li>{{ areaOfExpertise.name }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <th>
                    {% trans %}Description, further information, or candidate-specific needs{% endtrans %}
                </th>
                <td>{{ specialistProject.furtherDetailsDesc }}</td>
            </tr>
            <tr>
                <th>
                    {% trans %}Does the Specialist need to have any specific degrees or certifications for this project
                    outside of the regular eligibility requirements?{% endtrans %}
                </th>
                <td>
                    {% if specialistProject.degreeRequirements is not null %}
                        {% if specialistProject.degreeRequirements %}Yes{% else %}No{% endif %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>{% trans %}Please describe the degree requirements{% endtrans %}</th>
                <td>{{ specialistProject.degreeRequirementsDesc }}</td>
            </tr>
            <tr>
                <th>{% trans %}If you already have a Specialist candidate in mind for this project, please identify that
                    person here:{% endtrans %}</th>
                <td>{{ specialistProject.proposedCandidate }}</td>
            </tr>
            <tr>
                <th>{% trans %}Have you already contacted this candidate about this project?{% endtrans %}</th>
                <td>
                    {% if specialistProject.proposedCandidateContacted is not null %}
                        {% if specialistProject.proposedCandidateContacted %}Yes{% else %}No{% endif %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>
                    {% trans %}If you have already contacted the candidate, please provide their email address
                    here:{% endtrans %}
                </th>
                <td>{{ specialistProject.proposedCandidateEmail }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    {# In-Country Assignment Duties#}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="pull-left">In-Country Assignment Duties</h2>

            <a href="{{ path('specialist_project_phase_country_assignment_duties', { 'id': specialistProject.id, 'phase': phase }) }}"
               class="btn btn-info pull-right">
                {% trans %}Edit{% endtrans %}
            </a>
        </div>

        {% for assignment in specialistProjectPhase.inCountryAssignments %}
        <table class="table table__view-mode">
            <tbody>

            <tr>
                <th class="table-title" colspan="2">{{ assignment.city }} ({{ assignment.country.name }})</th>
            </tr>
            <tr>
                <th>{% trans %}Host Institution{% endtrans %}</th>
                <td>
                    {% if assignment.host %}
                        {{ assignment.host.name }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>{% trans %}Description of Host{% endtrans %}</th>
                <td>{{ assignment.hostDesc }}</td>
            </tr>
            <tr>
                <th>{% trans %}Description of Deliverables{% endtrans %}</th>
                <td>{{ assignment.deliverablesDesc }}</td>
            </tr>
            </tbody>
        </table>

        <div class="panel-body">
            <table class="table table-bordered">
                <thead>
                    <tr class="lighter-blue-bg">
                        <th id="country_assignment_duty_activity_desc">{% trans %}Description of Activity{% endtrans %}</th>
                        <th id="country_assignment_duty_topic">{% trans %}Topic{% endtrans %}</th>
                        <th id="country_assignment_duty_audience_desc">{% trans %}Description of Audience{% endtrans %}</th>
                        <th id="country_assignment_duty_participants">{% trans %}Estimated number of participants{% endtrans %}</th>
                    </tr>
                </thead>
                <tbody>
                {% for activity in assignment.assignmentActivities %}
                    <tr>
                        <td headers="country_assignment_duty_activity_desc">{{ activity.activityDesc }}</td>
                        <td headers="country_assignment_duty_topic">{{ activity.topic }}</td>
                        <td headers="country_assignment_duty_audience_desc">{{ activity.audienceDesc }}</td>
                        <td headers="country_assignment_duty_participants">{{ activity.participants }}</td>
                    </tr>
                {% else %}
                    <tr><td colspan="4">{% trans %}No activities defined yet{% endtrans %}</td></tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% endfor %}
    </div>

    {# Itinerary Dates #}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="pull-left">Itinerary</h2>

            <a href="{{ path('specialist_project_phase_itinerary_dates', { 'id': specialistProject.id, 'phase': phase }) }}"
               class="btn btn-info pull-right">
                {% trans %}Edit{% endtrans %}
            </a>
        </div>

        <table class="table table__view-mode">
            <tbody>
            <tr>
                <th>{% trans %}Start Date{% endtrans %}</th>
                <td>
                    {% if specialistProjectPhase.startDate %}
                        {{ specialistProjectPhase.startDate|date('l, F d, Y') }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>{% trans %}End Date{% endtrans %}</th>
                <td>
                    {% if specialistProjectPhase.endDate %}
                        {{ specialistProjectPhase.endDate|date('l, F d, Y') }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>{% trans %}Date and length comment{% endtrans %}</th>
                <td>{{ specialistProjectPhase.dateLengthDesc }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    {# Itinerary Activities #}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="pull-left">Itinerary Activities</h2>

            <a href="{{ path('specialist_project_phase_itinerary_activities', { 'id': specialistProject.id, 'phase': phase }) }}"
               class="btn btn-info pull-right">
                {% trans %}Edit{% endtrans %}
            </a>
        </div>

        <div class="panel-body">
            <table class="table table-bordered">
                <thead>
                <tr class="light-blue-bg">
                    <th id="itinerary_date">{% trans %}Date{% endtrans %}</th>
                    <th id="itinerary_activity">{% trans %}Activity{% endtrans %}</th>
                    <th id="itinerary_city">{% trans %}City{% endtrans %}</th>
                </tr>
                </thead>

                <tbody>
                {% for activity in specialistProjectPhase.dayBreakdownActivities %}
                    <tr>
                        <td headers="itinerary_date">
                            {{ activity.activityDate|date('l, F d, Y') }}
                        </td>
                        <td headers="itinerary_activity">
                            {% if activity.dayBreakdownActivityType %}
                                {{ activity.dayBreakdownActivityType }}
                            {% else %}
                                {% trans %}Not Defined{% endtrans %}
                            {% endif %}
                        </td>
                        <td headers="itinerary_city">
                            {% if activity.inCountryAssignment %}
                                {{ activity.inCountryAssignment.city }} ({{ activity.inCountryAssignment.country.name }})
                            {% else %}
                                {% trans %}Not Defined{% endtrans %}
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">{% trans %}No Activities defined yet{% endtrans %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {# @var prePostWork \AppBundle\Entity\PrePostWork #}
    {% set prePostWork = specialistProjectPhase.prePostWork %}

    {# Pre- and Post-Project work #}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="pull-left">Pre- and Post-Project work</h2>

            <a href="{{ path('specialist_project_phase_pre_post_work', { 'id': specialistProject.id, 'phase': phase }) }}"
               class="btn btn-info pull-right">
                {% trans %}Update{% endtrans %}
            </a>
        </div>

        {% if prePostWork is not null %}
            <table class="table table__view-mode">
                <tbody>
                <tr>
                    <th>{% trans %}Does the Specialist need additional pre-project work days?{% endtrans %}</th>
                    <td>
                        {% if prePostWork.additionalPreWork is not null %}
                            {% if prePostWork.additionalPreWork %}Yes{% else %}No{% endif %}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>{% trans %}If yes, how many additional pre-project work days:{% endtrans %}</th>
                    <td>{{ prePostWork.additionalPreWorkDays }}</td>
                </tr>
                <tr>
                    <th>{% trans %}What is the earliest date that pre-project work days can begin?{% endtrans %}</th>
                    <td>
                        {% if prePostWork.additionalPreWorkStartDate %}
                            {{ prePostWork.additionalPreWorkStartDate|date('m/d/Y') }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>
                        {% trans %}Describe of pre-project work. If there are specific dates/times for the pre-work
                        (e.g. a scheduled phone call), please include that information as well.{% endtrans %}
                    </th>
                    <td>{{ prePostWork.additionalPreWorkDesc }}</td>
                </tr>
                <tr>
                    <th>{% trans %}Does the Specialist need post-project work days?{% endtrans %}</th>
                    <td>
                        {% if prePostWork.additionalPostWork is not null %}
                            {% if prePostWork.additionalPostWork %}Yes{% else %}No{% endif %}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>{% trans %}If yes, how many additional post-project work days:{% endtrans %}</th>
                    <td>{{ prePostWork.additionalPostWorkDays }}</td>
                </tr>
                <tr>
                    <th>{% trans %}What is the latest date that post-project work days can end?{% endtrans %}</th>
                    <td>
                        {% if prePostWork.additionalPostWorkStartDate %}
                            {{ prePostWork.additionalPostWorkStartDate|date('m/d/Y') }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>
                        {% trans %}Describe of post-project work. If there are specific dates/times for the post-project
                        work (e.g. a scheduled phone call), please include that information as well.{% endtrans %}
                    </th>
                    <td>{{ prePostWork.additionalPostWorkDesc }}</td>
                </tr>
                </tbody>
            </table>
        {% endif %}
    </div>

    {# Goals and Sustainability #}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="pull-left">Goals and Sustainability</h2>

            <a href="{{ path('specialist_project_phase_goals_sustainability', { 'id': specialistProject.id, 'phase': phase }) }}"
               class="btn btn-info pull-right">
                {% trans %}Edit{% endtrans %}
            </a>
        </div>

        <table class="table table__view-mode">
            <tbody>
            <tr>
                <th>
                    {% trans %}Please detail which of the Post's Mission Goals this Specialist project will meet, and how:{% endtrans %}
                </th>
                <td>{{ projectGeneralInfo.postMissionGoalsDesc }}</td>
            </tr>
            <tr>
                <th>
                    {% trans %}If you plan on submitting a proposal for an additional phase or phases which will continue
                    this project, please briefly describe the plans for the subsequent phase(s). Please note that additional
                    phases will be part of the same project, but the additional phase must be submitted separately using the
                    “Submit Additional Phase of Existing Project” button on the dashboard. Additional phases will be approved
                    independently of the initial phase.{% endtrans %}
                </th>
                <td>{{ projectGeneralInfo.specialistProjectPhase.specialistProject.subsequentPhasesDesc }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    {# Virtual Assignment Duties #}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="pull-left">Virtual Assignment Duties</h2>

            <a href="{{ path('specialist_project_phase_virtual_assignment_country', { 'id': specialistProject.id, 'phase': phase }) }}"
               class="btn btn-info pull-right">
                {% trans %}Edit{% endtrans %}
            </a>
        </div>

        {% if specialistProjectPhase.virtualAssignments.count %}
            {% set assignment = specialistProjectPhase.virtualAssignments.first %}
            <table class="table table__view-mode">
                <tbody>

                <tr>
                    <th>{% trans %}Country{% endtrans %}:</th>
                    <td>
                        {% if assignment.country  %}
                            {{ assignment.country.name }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>{% trans %}If virtual Specialist project will incorporate more than one country, please describe here{% endtrans %}</th>
                    <td>
                        {{ assignment.otherCountries }}
                    </td>
                </tr>
                <tr>
                    <th>{% trans %}Host Institution{% endtrans %}</th>
                    <td>
                        {% if assignment.host %}
                            {{ assignment.host.name }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>{% trans %}Start Date{% endtrans %}</th>
                    <td>
                        {% if assignment.startDate %}
                            {{ assignment.startDate|date('l, F d, Y') }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>{% trans %}End Date{% endtrans %}</th>
                    <td>
                        {% if assignment.endDate %}
                            {{ assignment.endDate|date('l, F d, Y') }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>{% trans %}Platform for virtual work{% endtrans %}</th>
                    <td>
                        {{ assignment.platform }}
                    </td>
                </tr>
                <tr>
                    <th>{% trans %}Description of deliverables (if applicable){% endtrans %}</th>
                    <td>
                        {{ assignment.deliverablesDesc }}
                    </td>
                </tr>
                <tr>
                    <th>{% trans %}Additional comments about virtual Specialist project{% endtrans %}</th>
                    <td>
                        {{ assignment.additionalComments }}
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="panel-body">
                <table class="table table-bordered">
                    <thead>
                    <tr class="lighter-blue-bg">
                        <th id="country_assignment_duty_activity_desc">{% trans %}Description of Activity{% endtrans %}</th>
                        <th id="country_assignment_duty_audience_desc">{% trans %}Description of Audience{% endtrans %}</th>
                        <th id="country_assignment_duty_participants">{% trans %}Estimated number of participants{% endtrans %}</th>
                        <th id="country_assignment_duty_hours_per_week">{% trans %}Estimated hours per week{% endtrans %}</th>
                        <th id="country_assignment_duty_hours_total">{% trans %}Estimated Total estimated number of hours of work on this activity over course of Specialist assignment{% endtrans %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for activity in assignment.virtualAssignmentActivities %}
                        <tr>
                            <td headers="country_assignment_duty_activity_desc">{{ activity.activityDesc }}</td>
                            <td headers="country_assignment_duty_audience_desc">{{ activity.audience }}</td>
                            <td headers="country_assignment_duty_participants">{{ activity.participants }}</td>
                            <td headers="country_assignment_duty_hours_per_week">{{ activity.hoursPerWeek }}</td>
                            <td headers="country_assignment_duty_hours_total">{{ activity.hoursTotal }}</td>
                        </tr>
                    {% else %}
                        <tr><td colspan="4">{% trans %}No activities defined yet{% endtrans %}</td></tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>

    {# @var phaseBudget \AppBundle\Entity\SpecialistProjectPhaseBudget #}
    {% set phaseBudget = specialistProjectPhase.budget %}

    {# Budget #}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="pull-left">Budget</h2>

            <a href="{{ path('specialist_project_phase_budget_funded_by', { 'id': specialistProject.id, 'phase': phase }) }}"
               class="btn btn-info pull-right">
                {% trans %}Edit{% endtrans %}
            </a>
        </div>

        {% if phaseBudget != null %}
            {% set fundedBy = phaseBudget.fundedBy %}
        <div class="panel-body">
            <h3>Living Expenses</h3>

            {% for livingExpense in phaseBudget.livingExpenseEstimates %}
                <h4>{{ livingExpense.inCountryAssignment.city }} ({{ livingExpense.inCountryAssignment.country.name }})</h4>

                <table class="table table-bordered">
                    <thead>
                    {#{% block living_expenses_table_header %}{% endblock %}#}
                    <tr class="header headers-center lighter-blue-bg">
                        <th id="living_expense_item">
                            {% trans %}Description{% endtrans %}
                        </th>
                        <th id="living_expense_cost">
                            {% trans %}Cost per day/night{% endtrans %}
                        </th>
                        <th id="living_expense_days">
                            {% trans %}Number of days/nights{% endtrans %}
                        </th>
                        <th id="living_expense_total_cost">
                            {% trans %}Total cost{% endtrans %}
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set groundTransport = null %}
                    {% for livingExpenseCostItem in livingExpense.livingExpenseCostItems %}
                        {% if livingExpenseCostItem.costItem.description != 'Ground Transport' %}
                            <tr>
                                {#{% block living_expenses_table_body_row %}{% endblock %}#}
                                <td headers="living_expense_item">
                                    {{ livingExpenseCostItem.costItem.description }}
                                </td>
                                <td headers="living_expense_cost" class="text-right">
                                    {{ livingExpenseCostItem.costPerDay|currency_format(0) }}
                                </td>
                                <td headers="living_expense_days" class="text-right">
                                    {{ livingExpenseCostItem.numberOfDays }}
                                </td>
                                <td headers="living_expense_total_cost" class="text-right">
                                    {{ livingExpenseCostItem.costTotal|currency_format(0) }}
                                </td>
                            </tr>
                        {% else %}
                            {% set groundTransport = livingExpenseCostItem %}
                        {% endif %}
                    {% else %}
                        <tr>
                            <td colspan="4">{% trans %}No Living Expenses{% endtrans %}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {% if groundTransport is not null %}
                    <table class="table table-bordered">
                        <thead>
                        {#{% block living_expenses_table_header %}{% endblock %}#}
                        <tr class="header headers-center lighter-blue-bg">
                            <th id="living_expense_item">
                                {% trans %}Description{% endtrans %}
                            </th>
                            <th id="living_expense_total_cost">
                                {% trans %}Total cost{% endtrans %}
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td headers="living_expense_item">
                                {{ groundTransport.costItem.description }}
                            </td>
                            <td headers="living_expense_total_cost" class="text-right">
                                {{ groundTransport.costTotal|currency_format(0) }}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                {% endif %}

            {% endfor %}

            <h3>{% trans %}Contribution towards Living Expenses{% endtrans %}</h3>

            {# @var contributionLivingExpense \AppBundle\Entity\ContributionLivingExpense #}
            {% for contributionLivingExpense in phaseBudget.contributionLivingExpenses %}
                {# @var country \AppBundle\Entity\Country #}
                {% set country = contributionLivingExpense.country %}

                <h4>{{ country.name }}</h4>

                <table class="table table-bordered">
                    <thead>
                        {% include('project/specialist/wizard/budget/' ~ fundedBy|lower ~ '/contribution_living_expenses_table_header.html.twig') %}
                    </thead>
                    <tbody>
                    {# @var contributionCostItems \Doctrine\Common\Collections\ArrayCollection #}
                    {% set contributionCostItems = contributionLivingExpense.contributionLivingExpenseCostItems %}

                    {% set totals = contributionLivingExpense.calculateSummaryTotals %}

                    {% include 'project/specialist/wizard/budget/contribution_table_body.html.twig' with {'fundedBy': phaseBudget.fundedBy, 'contributionType': 'living_expenses', 'totals': totals} %}
                    </tbody>
                </table>
            {% endfor %}

            <h3>{% trans %}Transportation between cities of assignment{% endtrans %}</h3>

            <table class="table table-bordered">
                <thead>
                {% include 'project/specialist/wizard/budget/contribution_table_header.html.twig' with {'fundedBy': phaseBudget.fundedBy, 'contributionType': 'transportation'} %}
                </thead>
                <tbody>
                {# @var contributionCostItems \Doctrine\Common\Collections\ArrayCollection #}
                {% set contributionCostItems = phaseBudget.contributionTransportation.contributionTransportationCostItems %}

                {% set totals = phaseBudget.contributionTransportation.calculateSummaryTotals %}

                {% include 'project/specialist/wizard/budget/contribution_table_body.html.twig' with {'fundedBy': phaseBudget.fundedBy, 'contributionType': 'transportation', 'totals': totals} %}
                </tbody>
            </table>

            <h3>{% trans %}Settling-in/one-time costs for all locations{% endtrans %}</h3>

            <table class="table table-bordered">
                <thead>
                {% include 'project/specialist/wizard/budget/contribution_table_header.html.twig' with {'fundedBy': phaseBudget.fundedBy, 'contributionType': 'one_time'} %}
                </thead>
                <tbody>
                {# @var contributionCostItems \Doctrine\Common\Collections\ArrayCollection #}
                {% set contributionCostItems = phaseBudget.contributionOneTime.contributionOneTimeCostItems %}

                {% set totals = phaseBudget.contributionOneTime.calculateSummaryTotals %}

                {% include 'project/specialist/wizard/budget/contribution_table_body.html.twig' with {'fundedBy': phaseBudget.fundedBy, 'contributionType': 'one_time', 'totals': totals} %}
                </tbody>
            </table>

            <h3>{% trans %}Program Activities Allowance{% endtrans %}</h3>

            <table class="table table-bordered">
                <thead>
                {% include 'project/specialist/wizard/budget/contribution_table_header.html.twig' with {'fundedBy': phaseBudget.fundedBy, 'contributionType': 'paa'} %}
                </thead>
                <tbody>
                {# @var contributionCostItems \Doctrine\Common\Collections\ArrayCollection #}
                {% set contributionCostItems = phaseBudget.programActivitiesAllowance.programActivitiesAllowanceCostItems %}

                {% set totals = phaseBudget.programActivitiesAllowance.calculateSummaryTotals %}

                {% include 'project/specialist/wizard/budget/contribution_table_body.html.twig' with {'fundedBy': phaseBudget.fundedBy, 'contributionType': 'paa', 'totals': totals} %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>

    {% include 'project/specialist/show_navigation.html.twig' %}
{% endblock %}
