.icon-nav-lg {
    max-width: 920px;
    margin-left: auto;
    margin-right: auto;
    ul {
        li {
            a {
                padding: 0;
                &:hover .panel{
                    -webkit-box-shadow: 0 2px 6px rgba(0,0,0,.3);
                    box-shadow: 0 2px 6px rgba(0,0,0,.3);
                }
            }

            .panel {
                text-align: center;
            }

            .panel-body {
                padding: 15px 15px 5px;

                img{
                    margin-bottom: 15px;
                }
                span{
                    font-size: 1.1em;
                    font-weight: 400;
                    display: block;
                }
            }
            .panel-footer {
                padding: 2px 15px;
                background-color: transparent;
            }

        }
    }
}

.status {
    color: lighten(#333, 10%); //$dark-gray in common/_variables.css
    display: block;
    text-align: center;
}

.section-not-started {
    .panel-body {
        img {
            opacity: .3;
        }
        span{
            color:#888;
        }  
    }
}

.section-complete {
    border: 1px solid #999;
    .status{
        &::before {
            position: relative;
            top: 1px;
            display: inline-block;
            font-family: 'Glyphicons Halflings';
            font-style: normal;
            font-weight: 400;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            content: "\e013 ";
            color: #56c155; //$brand-success in common/_variables.css
            margin-right: 5px;
        }
    }
}

// Share proposal feature

.btn-share {
    margin-top: 20px;
}