{% extends 'base.html.twig' %}

{% block title %}Sync &#124; Cycles{% endblock %}

{% block body %}
    <h1>Cycles Synchronization</h1>

    <div class="panel panel-primary panel-wizard">
        <div class="panel-body">
            <div class="form-group">
                <h3 class="fieldset__subtitle inline-block">Fellow Cycles</h3>

                <table class="table table__view-mode table-bordered">
                    <tbody>
                    <tr>
                        <th class="col-lg-3 col-md-4">Added</th>
                        <td class="col-lg-9 col-md-8">{{ fellowCyclesStats.added }}</td>
                    </tr>
                    <tr>
                        <th class="col-lg-3 col-md-4">Updated</th>
                        <td class="col-lg-9 col-md-8">{{ fellowCyclesStats.updated }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="form-group">
                <h3 class="fieldset__subtitle inline-block">Specialist Cycles</h3>

                <table class="table table__view-mode table-bordered">
                    <tbody>
                    <tr>
                        <th class="col-lg-3 col-md-4">Added</th>
                        <td class="col-lg-9 col-md-8">{{ specialistCyclesStats.added }}</td>
                    </tr>
                    <tr>
                        <th class="col-lg-3 col-md-4">Updated</th>
                        <td class="col-lg-9 col-md-8">{{ specialistCyclesStats.updated }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
