{% extends 'base.html.twig' %}

{% block title %}Sync &#124; Users{% endblock %}

{% block body %}
    <h1>Users Synchronization</h1>

    <div class="panel-body">
        <p>A total of {{ users }} users were synchronized.</p>
    </div>

{% endblock %}