{% extends 'base.html.twig' %}

{% block body %}
    {% include 'fellowproject/submission_main_heading.html.twig' %}

    {{ form_start(form) }}

    <div class="panel panel-primary panel-wizard">
        <div class="panel-heading">
            <h2>Certifications<small class="pull-right">Step 1 of 1</small></h2>
        </div>

        <div class="panel-body">
            <div class="form-group">
                <p>{% trans %}Please check the boxes to certify the following:{% endtrans %}</p>
            </div>

            <div class="form-group">
                {{ form_label(form.rsoCertification, null, { 'label_attr': {'class': 'label__required'} }) }}
                {{ form_errors(form.rsoCertification) }}

                <p class="small">{% trans %}Post certifies that the Regional Security Officer (RSO) has been informed of this project and
                    has no
                    objection to the placement of a Fellow. (Note: The RSO is not required to approve the Fellow’s
                    housing.){% endtrans %}</p>

                <div class="select-wrapper">
                    {{ form_widget(form.rsoCertification) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.housingCertification, null, { 'label_attr': {'class': 'label__required inline-block'} }) }}
                <div class="css-tooltip css-tooltip--right">
                    <span class="css-tooltip__trigger css-tooltip__trigger--link">{% trans %}Tooltip Display Text - Housing Certification{% endtrans %}</span>
                    <div class="css-tooltip__content">
                        {% trans %}Tooltip Content - Housing Certification{% endtrans %}
                    </div>
                </div>
                {{ form_errors(form.housingCertification) }}

                <p class="small">{% trans %}Post agrees to assist the Host Institution to find acceptable housing for the Fellow. If
                    housing is not
                    immediately secured, but options have been identified, PAS agrees to secure interim housing for the
                    Fellow until long-term housing is negotiated.{% endtrans %}</p>

                <div class="select-wrapper">
                    {{ form_widget(form.housingCertification) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.visaCertification, null, { 'label_attr': {'class': 'label__required'} }) }}
                {{ form_errors(form.visaCertification) }}

                <p class="small">{% trans %}Following the selection and acceptance of a Fellow, PAS will provide ECA/A/L, the Fellow, and
                    GU/CIED the
                    information required for the Fellow to obtain the proper visa and/or work residence permit that will
                    allow the Fellow and any dependents, if applicable, to enter the host country and carry out Fellow
                    duties. In addition, upon the Fellow’s arrival in country, PAS will help the Fellow obtain visa
                    adjustments, such as a multiple-entry permission, visa extension, any special registration procedures,
                    and work and/or residency permits, if necessary{% endtrans %}</p>

                <div class="select-wrapper">
                    {{ form_widget(form.visaCertification) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.medicalCertification, null, { 'label_attr': {'class': 'label__required'} }) }}
                {{ form_errors(form.medicalCertification) }}

                <p class="small">{% trans %}Post will provide the Fellow a list of reputable medical and health providers and facilities
                    in the city
                    of assignment upon the Fellow’s arrival in country.{% endtrans %}</p>

                <div class="select-wrapper">
                    {{ form_widget(form.medicalCertification) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.postArrivalCertification, null, { 'label_attr': {'class': 'label__required'} }) }}
                {{ form_errors(form.postArrivalCertification) }}

                <p class="small">{% trans %}Within 2 weeks of the Fellow’s arrival in host country, PAS will arrange an in-country Arrival
                    Orientation, including RSO security briefing and other forms of arrival-related logistical support (See
                    EL Fellow Handbook for details.){% endtrans %}</p>

                <div class="select-wrapper">
                    {{ form_widget(form.postArrivalCertification) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.costSharingCertification, null, { 'label_attr': {'class': 'label__required'} }) }}
                {{ form_errors(form.costSharingCertification) }}

                <p class="small">{% trans %}If the host institution is unable to fulfill cost-sharing commitments, PAS will assume
                    responsibility for
                    all host institution cost-sharing commitments.{% endtrans %}</p>

                <div class="select-wrapper">
                    {{ form_widget(form.costSharingCertification) }}
                </div>
            </div>
        </div>

        {% include 'fellowproject/footer.html.twig' %}
    </div>

    {{ form_end(form, {'render_rest': false}) }}
{% endblock %}