{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    <script>
        jQuery(function($) {
            // Delete link action
            $('.link-delete-cost-item').click(function(e) {
                e.preventDefault();
                if (confirm('{% trans %}Do you really want to delete this Point of Contact?{% endtrans %}')) {
                    $('#delete-form').attr('action', this.href).submit();
                }
            });

        });
    </script>
{% endblock %}

{% block body %}
    {% include 'fellowproject/submission_main_heading.html.twig' %}

    {{ form_start(form) }}

    <div class="panel panel-primary panel-wizard">
        <div class="panel-heading">
            <h2>Points of Contact<small class="pull-right">Step 1 of 1</small></h2>
        </div>

        <div class="panel-body">
            {# @var contactPoint \AppBundle\Entity\ContactPoint #}
            {% for contactPoint in form.contactPoints %}
                {% set contactPointType = contactPoint.vars.value.getType %}

                {% if (0 == contactPointType or 1 == contactPointType) %}
                    <h3 class="fieldset__subtitle">
                        {% if 0 == contactPointType %}
                            Primary
                        {% elseif 1 == contactPointType %}
                            Secondary
                        {% endif %} Point of Contact
                    </h3>
                    {% if 0 == contactPointType %}
                        <p class="small">
                            {% trans %}The primary point of contact will be the only one able to make the selection on the roster.{% endtrans %}
                        </p>
                    {% endif %}
                    <div class="row">
                        <div class="form-group col-sm-6">
                            {{ form_label(contactPoint.firstName, null, { 'label_attr': {'class': 'label__required'} }) }}
                            {{ form_widget(contactPoint.firstName, { 'attr': {'class': 'form-control'} }) }}
                            {{ form_errors(contactPoint.firstName) }}
                        </div>

                        <div class="form-group col-sm-6">
                            {{ form_label(contactPoint.lastName, null, { 'label_attr': {'class': 'label__required'} }) }}
                            {{ form_widget(contactPoint.lastName, { 'attr': {'class': 'form-control'} }) }}
                            {{ form_errors(contactPoint.lastName) }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-sm-6">
                            {{ form_label(contactPoint.title, null, { 'label_attr': {'class': 'label__required'} }) }}
                            <div class="select-wrapper">
                                {{ form_widget(contactPoint.title, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                            {{ form_errors(contactPoint.title) }}
                        </div>

                        <div class="form-group col-sm-6">
                            {{ form_label(contactPoint.email, null, { 'label_attr': {'class': 'label__required'} }) }}
                            {{ form_widget(contactPoint.email, { 'attr': {'class': 'form-control'} }) }}
                            {{ form_errors(contactPoint.email) }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label for="contact_points_contactPoints_alternateEmail">
                                {% trans %}Alternate Email{% endtrans %}
                            </label>
                            {{ form_widget(contactPoint.alternateEmail, { 'attr': {'class': 'form-control'} }) }}
                            {{ form_errors(contactPoint.alternateEmail) }}
                        </div>
                    </div>

                    <div class="sub-fieldset">
                        <div class="form-group">
                            <label >
                                {% trans %}If this person will be departing this post, please select the anticipated departure date.{% endtrans %}
                            </label>
                            <div class="datepicker">
                                {{ form_widget(contactPoint.anticipatedDepartureDate, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                            <p class="mt-5 mb-0 small">{% trans %}Please use this format: MM/DD/YYYY{% endtrans %}</p>
                            {{ form_errors(contactPoint.anticipatedDepartureDate) }}
                        </div>
                    </div>

                {% endif %}
            {% endfor %}

            {% for contactPoint in form.contactPoints %}
                {% set contactPointType = contactPoint.vars.value.getType %}

                {% if 2 == contactPointType %}
                    <h3 class="fieldset__subtitle">Additional Point of Contact</h3>

                    <div class="row">
                        <div class="form-group col-sm-6">
                            {{ form_label(contactPoint.firstName) }}
                            {{ form_widget(contactPoint.firstName, { 'attr': {'class': 'form-control'} }) }}
                            {{ form_errors(contactPoint.firstName) }}
                        </div>

                        <div class="form-group col-sm-6">
                            {{ form_label(contactPoint.lastName) }}
                            {{ form_widget(contactPoint.lastName, { 'attr': {'class': 'form-control'} }) }}
                            {{ form_errors(contactPoint.lastName) }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-sm-6">
                            {{ form_label(contactPoint.title) }}
                            <div class="select-wrapper">
                                {{ form_widget(contactPoint.title, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                            {{ form_errors(contactPoint.title) }}
                        </div>

                        <div class="form-group col-sm-6">
                            {{ form_label(contactPoint.email) }}
                            {{ form_widget(contactPoint.email, { 'attr': {'class': 'form-control'} }) }}
                            {{ form_errors(contactPoint.email) }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label for="contact_points_contactPoints_alternateEmail">
                                {% trans %}Alternate Email{% endtrans %}
                            </label>
                            {{ form_widget(contactPoint.alternateEmail, { 'attr': {'class': 'form-control'} }) }}
                            {{ form_errors(contactPoint.alternateEmail) }}
                        </div>
                    </div>

                    <div class="sub-fieldset">
                        <div class="form-group">
                            <label>
                                {% trans %}If this person will be departing this post, please select the anticipated departure date.{% endtrans %}
                            </label>
                            <div class="datepicker">
                                {{ form_widget(contactPoint.anticipatedDepartureDate, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                            <p class="mt-5 mb-0 small">{% trans %}Please use this format: MM/DD/YYYY{% endtrans %}</p>
                            {{ form_errors(contactPoint.anticipatedDepartureDate) }}
                        </div>
                    </div>

                    <div class="form-group text-right">
                        <a href="{{ path('fellow_project_contact_point_delete', {
                                    'pid': fellow_project.id,
                                    'cid': contactPoint.vars.value.id
                                }) }}" class="link-delete-cost-item btn btn-danger">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete Point of Contact
                        </a>
                    </div>

                {% endif %}
            {% endfor %}

            <div class="form-group text-right">
                {#<a href="{{ path('project_fellow_additional_contact_point', { 'id': form.vars.value.fellowProject.id }) }}" class="btn btn-info">#}
                    {#<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add Point of Contact#}
                {#</a>#}
                {{ form_widget(form.additional, { 'attr': {'class': 'btn btn-info'} }) }}
            </div>
        </div>

        {% include 'fellowproject/footer.html.twig' %}
    </div>

    {{ form_end(form, {'render_rest': false}) }}

    {% if delete_form %}
        {{ form_start(delete_form, {'attr': {'id': 'delete-form', 'class': 'hidden'}}) }}
        <input type="submit" value="{% trans %}Delete{% endtrans %}">
        {{ form_end(delete_form) }}
    {% endif %}

{% endblock %}
