{% extends 'base.html.twig' %}

{% block body %}
    {% include 'fellowproject/submission_main_heading.html.twig' %}

    {{ form_start(form) }}
    <div class="panel panel-primary panel-wizard">
        <div class="panel-heading">
            <h2>General Information
                <small class="pull-right">Step 4 of 4</small>
            </h2>
        </div>

        <div class="panel-body">

            <table class="table table__view-mode table-bordered">
                <tbody>
                <tr>
                    <th>{{ 'label.proposed_start_date'|trans }}</th>
                    <td>{{ form.vars.value.proposedStartDate.date|date("m/d/Y") }}</td>
                </tr>
                <tr>
                    <th>{{ 'label.proposed_end_date'|trans }}</th>
                    <td>{{ form.vars.value.proposedEndDate.date|date("m/d/Y") }}</td>
                </tr>
                <tr>
                    <th>{{ 'label.cycle_season'|trans }}</th>
                    <td>{{ form.vars.value.cycleSeason|title }}</td>
                </tr>
                </tbody>
            </table>

            <div class="form-group">
                <fieldset>
                    <legend class="label__required">
                        {% trans %}Is the start date flexible?{% endtrans %}
                    </legend>
                    {{ form_widget(form.proposedStartDateFlexible, { 'attr': {'class': 'inline-labels'} }) }}
                    {{ form_errors(form.proposedStartDateFlexible) }}
                </fieldset>
            </div>

            <div class="sub-fieldset">
                <div class="form-group">
                    {{ form_label(form.cycleSeasonDesc, null, { 'label_attr': {'class': 'inline-block'} }) }}
                    <div class="css-tooltip css-tooltip--right">
                        <span class="css-tooltip__trigger css-tooltip__trigger--link">{% trans %}Tooltip Display Text - Date Comments{% endtrans %}</span>
                        <div class="css-tooltip__content">
                            {% trans %}Tooltip Content - Date Comments{% endtrans %}
                        </div>
                    </div>
                    {{ form_widget(form.cycleSeasonDesc, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.cycleSeasonDesc) }}
                </div>
            </div>
        </div>

        {% include 'fellowproject/footer.html.twig' %}
    </div>
    {{ form_end(form, {'render_rest': false}) }}
{% endblock %}