{% extends 'base.html.twig' %}

{% block body %}
    {% include 'fellowproject/submission_main_heading.html.twig' %}

    {% include 'notifications.html.twig' %}

    {% if form.vars.value.country is not null %}
        {{ form_start(form) }}

        <div class="panel panel-primary panel-wizard">
            <div class="panel-heading">
                <h2>Location and Host Institution
                    <small class="pull-right">Step 1 of 1</small>
                </h2>
            </div>

            <div class="panel-body">

                <table class="table table__view-mode table-bordered">
                    <tbody>
                    <tr>
                        <th>{{ 'label.country'|trans }}</th>
                        <td>{{ form.vars.value.country }}</td>
                    </tr>
                    </tbody>
                </table>

                <div class="form-group">
                    {{ form_label(form.hostCity, null, { 'label_attr': {'class': 'label__required'} }) }}
                    {{ form_widget(form.hostCity, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.hostCity) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.hostCityDescription, null, { 'label_attr': {'class': 'label__required inline-block'} }) }}
                    <div class="css-tooltip css-tooltip--right">
                        <span class="css-tooltip__trigger css-tooltip__trigger--link">{% trans %}Tooltip Display Text - Host City Description{% endtrans %}</span>
                        <div class="css-tooltip__content">
                            {% trans %}Tooltip Content - Host City Description{% endtrans %}
                        </div>
                    </div>
                    {{ form_widget(form.hostCityDescription, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.hostCityDescription) }}
                </div>

                <div class="row">
                    <div class="form-group col-md-6">
                        {{ form_label(form.host) }}
                        <div class="select-wrapper">
                            {{ form_widget(form.host, { 'attr': {'class': 'form-select'} }) }}
                        </div>
                        {{ form_errors(form.host) }}
                    </div>

                    <div class="form-group col-md-6">
                        {{ form_label(form.hostCustom) }}
                        {{ form_widget(form.hostCustom, { 'attr': {'class': 'form-control'} }) }}
                        {{ form_errors(form.hostCustom) }}
                    </div>
                </div>

                <div class="form-group">
                    <fieldset>
                        <legend class="label__required">{{form.hostAcademicYear.vars.label|trans}}</legend>
                        {{ form_widget(form.hostAcademicYear, { 'attr': {'class': 'inline-labels'} }) }}
                        {{ form_errors(form.hostAcademicYear) }}
                    </fieldset>
                </div>

                <div class="sub-fieldset">
                    <p class="form-label mt-5">{% trans %}If yes, specify the period of the academic
                        year:{% endtrans %}</p>
                    <div class="row">
                        <div class="form-group col-md-6">
                            {{ form_label(form.hostAcademicYearStartDate) }}
                            <div class="datepicker">
                                {{ form_widget(form.hostAcademicYearStartDate, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                            <p class="mt-5 mb-0 small">{% trans %}Please use this format: MM/DD/YYYY{% endtrans %}</p>
                            {{ form_errors(form.hostAcademicYearStartDate) }}
                        </div>

                        <div class="form-group col-md-6">
                            {{ form_label(form.hostAcademicYearEndDate) }}
                            <div class="datepicker">
                                {{ form_widget(form.hostAcademicYearEndDate, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                            <p class="mt-5 mb-0 small">{% trans %}Please use this format: MM/DD/YYYY{% endtrans %}</p>
                            {{ form_errors(form.hostAcademicYearEndDate) }}
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <fieldset>
                        <legend class="label__required">{{form.newHost.vars.label|trans}}</legend>
                        {{ form_widget(form.newHost, { 'attr': {'class': 'inline-labels'} }) }}
                        {{ form_errors(form.newHost) }}
                    </fieldset>
                </div>

                <div class="form-group">
                    {{ form_label(form.fellowAtHost, null, { 'label_attr': {'class': 'label__required'} }) }}
                    <div class="select-wrapper">
                        {{ form_widget(form.fellowAtHost, { 'attr': {'class': 'form-select'} }) }}
                    </div>
                    {{ form_errors(form.fellowAtHost) }}
                </div>

                <div class="sub-fieldset">
                    <div class="form-group">
                        {{ form_label(form.currentFellowName)}}
                        {{ form_widget(form.currentFellowName, { 'attr': {'class': 'form-control'} }) }}
                        {{ form_errors(form.currentFellowName) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(form.hostDesc, null, { 'label_attr': {'class': 'label__required inline-block'} }) }}
                    <div class="css-tooltip css-tooltip--bottom">
                        <span class="css-tooltip__trigger css-tooltip__trigger--link">{% trans %}Tooltip Display Text - Host Institution description{% endtrans %}</span>
                        <div class="css-tooltip__content">
                            {% trans %}Tooltip Content - Host Institution description{% endtrans %}
                        </div>
                    </div>
                    {{ form_widget(form.hostDesc, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.hostDesc) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.additionalInfoDesc) }}
                    {{ form_widget(form.additionalInfoDesc, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.additionalInfoDesc) }}
                </div>
            </div>

            {% include 'fellowproject/footer.html.twig' %}
        </div>

        {{ form_end(form, {'render_rest': false}) }}
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var minDate = new Date('{{currentFellowCycle.displayPeriodStartDate|date('m/d/Y')}}'),
            firstDayOfCycleYear = new Date(minDate.getFullYear(),'00','01');

        datepickers.picker0.setMinDate(firstDayOfCycleYear);
        datepickers.picker0.gotoDate(firstDayOfCycleYear);

        datepickers.picker1.setMinDate(firstDayOfCycleYear);
        datepickers.picker1.gotoDate(firstDayOfCycleYear);

    </script>
{% endblock %}
