{% extends 'base.html.twig' %}

{% block body %}
    {% include 'fellowproject/submission_main_heading.html.twig' %}

    {{ form_start(form) }}

    <div class="panel panel-primary panel-wizard">
        <div class="panel-heading">
            <h2>{% trans %}General Information - Project requirements{% endtrans %}<small class="pull-right">Step 1 of 1</small></h2>
        </div>

        <div class="panel-body">
            <div class="form-group">
                <fieldset>
                    <legend class="label__required">{{form.visaPriorArrival.vars.label|trans}}</legend>
                    {{ form_errors(form.visaPriorArrival) }}
                    {{ form_widget(form.visaPriorArrival, { 'attr': {'class': 'inline-labels'} }) }}
                </fieldset>
            </div>

            <div class="sub-fieldset">
                <div class="form-group">
                    {{ form_label(form.visaAvgLength) }}
                    {{ form_errors(form.visaAvgLength) }}
                    <div class="select-wrapper">
                        {{ form_widget(form.visaAvgLength, { 'attr': {'class': 'form-select'} }) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(form.visaRequirementsDesc, null, { 'label_attr': {'class': 'inline-block'} }) }}
                    <div class="css-tooltip css-tooltip--left">
                        <span class="css-tooltip__trigger css-tooltip__trigger--link">{% trans %}Tooltip Display Text - Visa Comments{% endtrans %}</span>
                        <div class="css-tooltip__content">
                            {% trans %}Tooltip Content - Visa Comments{% endtrans %}
                        </div>
                    </div>

                    {{ form_errors(form.visaRequirementsDesc) }}
                    {{ form_widget(form.visaRequirementsDesc, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>

            <div class="form-group">
                <fieldset>
                    <legend class="label__required">{{form.requiredMedicalConditions.vars.label|trans}}</legend>
                    {{ form_errors(form.requiredMedicalConditions) }}
                    {{ form_widget(form.requiredMedicalConditions, { 'attr': {'class': 'inline-labels'} }) }}
                </fieldset>
            </div>

            <div class="form-group">
                <fieldset>
                    <legend class="label__required">
                        {% trans %}Are there any issues of medicine access that candidates should be made aware of?{% endtrans %}
                    </legend>
                    {{ form_errors(form.medicalAccessIssues) }}
                    {{ form_widget(form.medicalAccessIssues, { 'attr': {'class': 'inline-labels'} }) }}
                </fieldset>
            </div>

            <div class="sub-fieldset">
                <div class="form-group">
                    {{ form_label(form.medicalRestrictionsDesc, null, { 'label_attr': {'class': 'inline-block'} }) }}
                    <div class="css-tooltip css-tooltip--bottom">
                        <span class="css-tooltip__trigger css-tooltip__trigger--link">{% trans %}Tooltip Display Text - Medical restrictions{% endtrans %}</span>
                        <div class="css-tooltip__content">
                            {% trans %}Tooltip Content - Medical restrictions{% endtrans %}
                        </div>
                    </div>
                    {{ form_errors(form.medicalRestrictionsDesc) }}
                    {{ form_widget(form.medicalRestrictionsDesc, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>

            <div class="form-group">
                <fieldset>
                    <legend class="label__required">
                        {% trans %}Is there an age restriction?{% endtrans %}
                    </legend>
                    {{ form_errors(form.ageRestriction) }}
                    {{ form_widget(form.ageRestriction, { 'attr': {'class': 'inline-labels'} }) }}
                </fieldset>
            </div>

            <div class="sub-fieldset">
                <div class="form-group">
                    <label for="requirements_ageRestrictionDesc">
                        {% trans %}Please describe age restriction.{% endtrans %}
                    </label>
                    {{ form_errors(form.ageRestrictionDesc) }}
                    {{ form_widget(form.ageRestrictionDesc, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>

            <div class="form-group">
                <fieldset>
                    <legend class="label__required inline-block">{{form.degreeRequirements.vars.label|trans}}</legend>
                    <div class="css-tooltip css-tooltip--left">
                        <span class="css-tooltip__trigger css-tooltip__trigger--link">{% trans %}Tooltip Display Text - Requeriments special qualifications{% endtrans %}</span>
                        <div class="css-tooltip__content">
                            {% trans %}Tooltip Content - Requeriments special qualifications{% endtrans %}
                        </div>
                    </div>
                    {{ form_errors(form.degreeRequirements) }}
                    {{ form_widget(form.degreeRequirements, { 'attr': {'class': 'inline-labels'} }) }}
                </fieldset>
            </div>

            <div class="sub-fieldset">
                <div class="form-group">
                    {{ form_label(form.degreeRequirementsDesc,null, { 'label_attr': {'class': 'inline-block'} }) }}
                    <div class="css-tooltip css-tooltip--bottom">
                        <span class="css-tooltip__trigger css-tooltip__trigger--link">{% trans %}Tooltip Display Text - Requeriments special qualifications desc 1{% endtrans %}</span>
                        <div class="css-tooltip__content">
                            {% trans %}Tooltip Content - Requeriments special qualifications desc 1{% endtrans %}
                        </div>
                    </div>
                    <div class="css-tooltip css-tooltip--bottom">
                        <span class="css-tooltip__trigger css-tooltip__trigger--link">{% trans %}Tooltip Display Text - Requeriments special qualifications desc 2{% endtrans %}</span>
                        <div class="css-tooltip__content">
                            {% trans %}Tooltip Content - Requeriments special qualifications desc 2{% endtrans %}
                        </div>
                    </div>
                    {{ form_errors(form.degreeRequirementsDesc) }}
                    {{ form_widget(form.degreeRequirementsDesc, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.securityInfoDesc,null, { 'label_attr': {'class': 'inline-block'} }) }}
                <div class="css-tooltip css-tooltip--left">
                    <span class="css-tooltip__trigger css-tooltip__trigger--link">{% trans %}Tooltip Display Text - Requeriments security information{% endtrans %}</span>
                    <div class="css-tooltip__content">
                        {% trans %}Tooltip Content - Requeriments security information{% endtrans %}
                    </div>
                </div>
                {{ form_errors(form.securityInfoDesc) }}
                {{ form_widget(form.securityInfoDesc, { 'attr': {'class': 'form-control'} }) }}
            </div>

            <div class="form-group">
                {{ form_label(form.additionalRequirementsDesc,null, { 'label_attr': {'class': 'inline-block'} }) }}
                <div class="css-tooltip css-tooltip--bottom">
                    <span class="css-tooltip__trigger css-tooltip__trigger--link">{% trans %}Tooltip Display Text - Requeriments cultural considerations{% endtrans %}</span>
                    <div class="css-tooltip__content">
                        {% trans %}Tooltip Content - Requeriments cultural considerations{% endtrans %}
                    </div>
                </div>
                {{ form_errors(form.additionalRequirementsDesc) }}
                {{ form_widget(form.additionalRequirementsDesc, { 'attr': {'class': 'form-control'} }) }}
            </div>
        </div>

        {% include 'fellowproject/footer.html.twig' %}
    </div>

    {{ form_end(form, {'render_rest': false}) }}
{% endblock %}