{% extends 'base.html.twig' %}

{% block body %}
    {% include 'project/specialist/header.html.twig' %}

    {% include 'notifications.html.twig' %}

    {{ form_start(form) }}

    <div class="panel panel-primary panel-wizard">
        <div class="panel-heading">
            <h2>{% block wizard_step_title %}{% endblock %}</h2>
        </div>

        <div class="panel-body">
            {% block wizard_step_body %}{% endblock %}
        </div>

        {% include 'fellowproject/footer.html.twig' %}
    </div>

    {{ form_end(form, {'render_rest': false}) }}

    {% block wizard_step_additional_content %}{% endblock %}

    {# The Sharing Options widget should be accessible throughtout the entire Proposal #}
    {#{% include 'project/common/sharing_widget.html.twig' %}#}
{% endblock %}

{#{% block javascripts %}#}
    {#{{ parent() }}#}

    {#<script defer>#}
        {# This variable stores all Embassy and RELO users.#}
        {#var embassyRELOUsers = jQuery.parseJSON('{{ embassyRELOUsers|raw }}');#}
    {#</script>#}

    {#<script async src="{{ asset('dist/scripts/bootstrap3-typeahead.js') }}"></script>#}
{#{% endblock %}#}