{% extends 'base.html.twig' %}

{% block body %}
    <h1>Outcome</h1>

    <div class="panel panel-default">
        <div class="panel-body">
            {% include 'notifications.html.twig' %}

            <table class="table table-bordered">
                <thead>
                <tr>
                    <th id="outcome-id" class="col-md-1 col-lg-1">
                        {% trans %}ID{% endtrans %}
                    </th>
                    <th id="outcome-name" class="col-md-6 col-lg-6">
                        {% trans %}Name{% endtrans %}
                    </th>
                    <th id="outcome-updated-at" class="col-md-4 col-lg-4">
                        {% trans %}Last update{% endtrans %}
                    </th>
                    <th id="outcome-actions" class="col-md-1 col-lg-1">
                        {% trans %}Actions{% endtrans %}
                    </th>
                </tr>
                </thead>
                <tbody>
                {# @var outcome \AppBundle\Entity\ProjectOutcome #}
                {% for outcome in outcomes %}
                    <tr>
                        <td headers="outcome-id">
                            {{ outcome.id }}
                        </td>
                        <td headers="outcome-name">
                            {{ outcome.name }}
                        </td>
                        <td headers="outcome-updated-at">
                            {{ outcome.updatedAt|date('m/d/Y') }}
                        </td>
                        <td headers="outcome-actions">
                            <a href="{{ path('proposal_admin_outcome_edit', {id: outcome.id}) }}">
                                Edit
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
