{% extends 'base.html.twig' %}

{% block title %}Manage Embassies &#124; Proposal System{% endblock %}

{% block body %}

	<h1>Associate Embassy users to Countries</h1>

	<div class="panel panel-default">

		<div class="panel-body">
			<table class="table table-bordered">
				<thead>
				<tr>
					<th id="embassy_admin_user_id">{% trans %}User ID{% endtrans %}</th>
					<th id="embassy_admin_name">{% trans %}Name{% endtrans %}</th>
					<th id="embassy_admin_email">{% trans %}Email{% endtrans %}</th>
					<th id="embassy_admin_countries">{% trans %}Countries{% endtrans %}</th>
					<th id="embassy_admin_actions">{% trans %}Actions{% endtrans %}</th>
				</tr>
				</thead>

				<tbody>
				{% for user in users %}
					<tr>
						<td headers="embassy_admin_user_id">{{ user.id }}</td>
						<td headers="embassy_admin_name">{{ user.name }}</td>
						<td headers="embassy_admin_email">{{ user.email }}</td>
						<td headers="embassy_admin_countries">
							{% for country in user.countries %}
								{% if not loop.last %}
									{{ country.name }},
								{% else %}
									{{ country.name }}
								{% endif %}
							{% else %}
								{% trans %}No country{% endtrans %}
							{% endfor %}
						</td>
						<td headers="embassy_admin_actions">
							<a href="{{ path('embassy_admin_edit', { 'id': user.id }) }}">{% trans %}Edit{% endtrans %}</a>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>

		</div>
	</div>

{% endblock %}
