{% extends 'base.html.twig' %}

{% block body %}
    <h1>Edit Review Status</h1>

    {{ form_start(form) }}

    <div class="panel panel-primary panel-wizard">
        <div class="panel-heading">
            <h2>Review Status</h2>
        </div>

        <div class="panel-body">
            <div class="form-group">
                {{ form_label(form.name, null, { 'label_attr': {'class': 'label__required'} }) }}
                {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(form.name) }}
            </div>
        </div>

        <div class="panel-footer">
            <div class="row">
                <div class="col-md-offset-8 col-md-4 text-right">
                    {{ form_row(form._token) }}
                    <button type="submit" id="form_submit" name="form[submit]" class="btn btn-success btn-lg">
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>

    {{ form_end(form, {'render_rest': false}) }}
{% endblock %}
