.dd-list{
	.dd-item:first-child{
		.dd-handle{
			margin-top: 0;
		}
	}

	&.nav {
		.dd-item{
			.dd-handle{
				padding: 0;
			}
			a{
				margin: 0;
				padding: 7px 15px;
				display: block;
				text-decoration: none;
				color: $dark-gray;
			}
			&.active{
				.dd-handle{
					background-color: #0A8CCB;
					a{
						color: #fff;	
					}				
				}
			}
		}
	}
}